SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE PROCEDURE [dbo].[usp_MeasureGenerator_Rank]
as

SET NOCOUNT on


DECLARE @template_RegRank NVARCHAR(MAX) = 
N'
CREATE MEMBER CURRENTCUBE.[Measures].[<<measure_name>> - Regular Rank]
AS 
IIF(
    (<<measure_unique_name>>)=0
        or Axis(1).Item(0).Item(Axis(1).Item(0).Count - 1).Hierarchy.CURRENTMEMBER is Axis(1).Item(0).Item(Axis(1).Item(0).Count - 1).Hierarchy.DEFAULTMEMBER
	    or Axis(1).Item(0).Item(Axis(1).Item(0).Count - 1).Hierarchy.CURRENTMEMBER is Axis(1).Item(0).Item(Axis(1).Item(0).Count - 1).Hierarchy.UNKNOWNMEMBER,
    NULL,
	RANK(
		Axis(1).Item(0).Item(Axis(1).Item(0).Count - 1).Hierarchy.CURRENTMEMBER, 
		except(Axis(1).Item(0).Item(Axis(1).Item(0).Count - 1).Hierarchy.members, { Axis(1).Item(0).Item(Axis(1).Item(0).Count - 1).Hierarchy.DEFAULTMEMBER, Axis(1).Item(0).Item(Axis(1).Item(0).Count - 1).Hierarchy.UNKNOWNMEMBER }), 
		<<measure_unique_name>>
	)
)
,<<MEASURE_PROPERTIES>>;
'


DECLARE @template_TiedRank NVARCHAR(MAX) = 
N'
CREATE MEMBER CURRENTCUBE.[Measures].[<<measure_name>> - Tied Rank]
as
IIF(
    (<<measure_unique_name>>)=0
        or Axis(1).Item(0).Item(Axis(1).Item(0).Count - 1).Hierarchy.CURRENTMEMBER is Axis(1).Item(0).Item(Axis(1).Item(0).Count - 1).Hierarchy.DEFAULTMEMBER
	    or Axis(1).Item(0).Item(Axis(1).Item(0).Count - 1).Hierarchy.CURRENTMEMBER is Axis(1).Item(0).Item(Axis(1).Item(0).Count - 1).Hierarchy.UNKNOWNMEMBER,
    NULL,
    (
        [Measures].[<<measure_name>> - Regular Rank], 
        GENERATE(
            {
                INTERSECT(
                    {ORDER(Axis(1).Item(0).Item(Axis(1).Item(0).Count - 1).Hierarchy.MEMBERS, <<measure_unique_name>>, BDESC).ITEM(0)} AS FIRSTTIE,
                    {}
                ),
                ORDER(Axis(1).Item(0).Item(Axis(1).Item(0).Count - 1).Hierarchy.MEMBERS, <<measure_unique_name>>, BDESC)
            } AS [OrderedSet2], 
            IIF(
                ({[OrderedSet2].CURRENT AS CURRATTRIB}.ITEM(0),<<measure_unique_name>>) = ({[OrderedSet2].ITEM([OrderedSet2].CURRENTORDINAL-2) AS PREVATTRIB}.ITEM(0),<<measure_unique_name>>),
                IIF(
                    (PREVATTRIB.ITEM(0), <<measure_unique_name>>) = (FIRSTTIE.ITEM(0), <<measure_unique_name>>)
                    ,{FIRSTTIE}
                    ,{PREVATTRIB AS FIRSTTIE}
                ),
                {CURRATTRIB}
            ),
            ALL
        ).ITEM([Measures].[<<measure_name>> - Regular Rank]-1)
    )
)
,<<MEASURE_PROPERTIES>>;
'

-- change for each unique measure
-- used to delete old measures generated by this sproc
-- select newid()
declare @guid uniqueidentifier = 'B06FB037-83D3-4FDD-A2F3-EAFCAA53DA62'


delete from dbo.tblGeneratedMeasures
where GroupingGuid = @guid


DROP TABLE IF EXISTS #t


select distinct
     MeasureName                = q.MeasureName
    ,MeasureUniqueName          = q.MeasureUniqueName
    ,MeasureDefinition          = q.MeasureDefinition
    ,HashCodeMeasureDefinition  = null
    ,IsDimensionAgnostic        = 1
    ,IsScoped                   = q.IsScoped
    ,Scoped_IsCreateMeasure     = q.Scoped_IsCreateMeasure
    ,Scoped_IsSubcubeExpression = q.Scoped_IsSubcubeExpression
    ,GeneratedBy                = 'usp_MeasureGenerator_Rank'
    ,GroupingName               = 'Rank'
    ,GroupingGuid               = @guid
    ,dimension_name             = u.dimension_name
    ,dimension_unique_name      = u.dimension_unique_name       
    ,dimension_master_name      = u.dimension_master_name       
    ,hierarchy_name             = u.hierarchy_name              
    ,hierarchy_unique_name      = u.hierarchy_unique_name       
    ,level_caption              = u.level_caption               
    ,level_name                 = u.level_name                  
    ,level_unique_name          = u.level_unique_name           
    ,measure_name               = u.measure_name                
    ,measure_unique_name        = u.measure_unique_name         
    ,measuregroup_name          = u.measuregroup_name           
    ,VISIBLE                    = 1
    ,DISPLAY_FOLDER             = q.DISPLAY_FOLDER
    ,FORMAT_STRING              = '#,##0' --isnull(u.default_format_string, 'Percent')
    ,ASSOCIATED_MEASURE_GROUP   = u.measuregroup_name
    ,CAPTION                    = null
    ,SOLVE_ORDER                = null
into #t
from
    dbo.tblCube_Usage_Between_Dimensions_And_Facts u
    cross apply (
        select 
             CONCAT(u.measure_name, ' - Regular Rank') as MeasureName
            ,CONCAT('[', u.measure_name, ' - Regular Rank]') as MeasureUniqueName
            ,REPLACE(replace(REPLACE(replace(REPLACE(replace(REPLACE(replace(REPLACE(replace(REPLACE(
                @template_RegRank
                ,'<<dimension_name>>'        ,u.dimension_name)        
                ,'<<dimension_unique_name>>' ,u.dimension_unique_name)
                ,'<<dimension_master_name>>' ,u.dimension_master_name) 
                ,'<<hierarchy_name>>'        ,u.hierarchy_name)        
                ,'<<hierarchy_unique_name>>' ,u.hierarchy_unique_name) 
                ,'<<level_caption>>'         ,u.level_caption)         
                ,'<<level_name>>'            ,u.level_name)            
                ,'<<level_unique_name>>'     ,u.level_unique_name)     
                ,'<<measure_name>>'          ,u.measure_name)          
                ,'<<measure_unique_name>>'   ,u.measure_unique_name)   
                ,'<<measuregroup_name>>'     ,u.measuregroup_name)     
                as MeasureDefinition
            ,0 as IsScoped
            ,0 as Scoped_IsCreateMeasure
            ,0 as Scoped_IsSubcubeExpression
            ,'Rank\Regular Rank' as DISPLAY_FOLDER
        union all
        select 
             CONCAT(u.measure_name, ' - Tied Rank') as MeasureName
            ,CONCAT('[', u.measure_name, ' - Tied Rank]') as MeasureUniqueName
            ,REPLACE(replace(REPLACE(replace(REPLACE(replace(REPLACE(replace(REPLACE(replace(REPLACE(
                @template_TiedRank
                ,'<<dimension_name>>'        ,u.dimension_name)        
                ,'<<dimension_unique_name>>' ,u.dimension_unique_name)
                ,'<<dimension_master_name>>' ,u.dimension_master_name) 
                ,'<<hierarchy_name>>'        ,u.hierarchy_name)        
                ,'<<hierarchy_unique_name>>' ,u.hierarchy_unique_name) 
                ,'<<level_caption>>'         ,u.level_caption)         
                ,'<<level_name>>'            ,u.level_name)            
                ,'<<level_unique_name>>'     ,u.level_unique_name)     
                ,'<<measure_name>>'          ,u.measure_name)          
                ,'<<measure_unique_name>>'   ,u.measure_unique_name)   
                ,'<<measuregroup_name>>'     ,u.measuregroup_name)     
                as MeasureDefinition
            ,0 as IsScoped
            ,0 as Scoped_IsCreateMeasure
            ,0 as Scoped_IsSubcubeExpression
            ,'Rank\Tied Rank' as DISPLAY_FOLDER
    ) q
where
    u.dimension_unique_name LIKE '\[date%' ESCAPE '\'
    and u.level_caption like '%Year%'
    and u.level_number = 1
    AND (
        u.measure_is_visible = 1
        and u.measure_name NOT LIKE '% - Percentage Of Total'
        AND u.measure_name not LIKE '% - Difference from Same Period Previous Year'
        AND u.measure_name not LIKE '% - Min'
        AND u.measure_name not LIKE '% - Max'
    )
ORDER BY 
     measuregroup_name
    ,measure_name
    ,dimension_name


update #t
set
    MeasureDefinition = REPLACE(MeasureDefinition, '<<MEASURE_PROPERTIES>>', 
        dbo.ufn_CreateMeasureProperties(VISIBLE, DISPLAY_FOLDER, FORMAT_STRING, ASSOCIATED_MEASURE_GROUP, CAPTION, SOLVE_ORDER))

update #t
set
    HashCodeMeasureDefinition = hashbytes('SHA2_512', upper(MeasureDefinition))


-- Delete duplicates
;with cte as 
(
    select 
        HashCodeMeasureDefinition
        ,ROW_NUMBER() over(partition by HashCodeMeasureDefinition order by MeasureName) as rownum
    from
        #t
)
delete from cte
where rownum > 1

--    select * from #t order by 1,2,3,4


insert into [dbo].[tblGeneratedMeasures](
    MeasureName,MeasureUniqueName,MeasureDefinition,IsDimensionAgnostic,IsScoped,Scoped_IsCreateMeasure
    ,Scoped_IsSubcubeExpression,GeneratedBy,GroupingName,GroupingGuid,dimension_name
    ,dimension_unique_name,dimension_master_name,hierarchy_name,hierarchy_unique_name
    ,level_caption,level_name,level_unique_name,measure_name,measure_unique_name
    ,measuregroup_name,VISIBLE,DISPLAY_FOLDER,FORMAT_STRING,ASSOCIATED_MEASURE_GROUP
    ,CAPTION,SOLVE_ORDER)
select 
    MeasureName,MeasureUniqueName,MeasureDefinition,IsDimensionAgnostic,IsScoped,Scoped_IsCreateMeasure
    ,Scoped_IsSubcubeExpression,GeneratedBy,GroupingName,GroupingGuid,dimension_name
    ,dimension_unique_name,dimension_master_name,hierarchy_name,hierarchy_unique_name
    ,level_caption,level_name,level_unique_name,measure_name,measure_unique_name
    ,measuregroup_name,VISIBLE,DISPLAY_FOLDER,FORMAT_STRING,ASSOCIATED_MEASURE_GROUP
    ,CAPTION,SOLVE_ORDER
from
    #t





/*

CREATE MEMBER CURRENTCUBE.[Measures].[ED Visit - Means of Arrival - RegularRank]
AS 
IIF(
    ([Measures].[ED Visit - Count])=0 OR
        ([ED Visit].[ED Visit - Means of Arrival].CURRENTMEMBER.Name) = ''All'' OR
        ([ED Visit].[ED Visit - Means of Arrival].CURRENTMEMBER.Name) = ''Unknown'',
    NULL,
    RANK([ED Visit].[ED Visit - Means of Arrival].CURRENTMEMBER,
        ORDER(
            FILTER([ED Visit].[ED Visit - Means of Arrival].MEMBERS,
                [ED Visit].[ED Visit - Means of Arrival].CURRENTMEMBER.Name <> ''All'' and
                    [ED Visit].[ED Visit - Means of Arrival].CURRENTMEMBER.Name <> ''Unknown''
            ), 
            [Measures].[ED Visit - Count], DESC
        )
    )
)
,FORMAT_STRING = "#,###", 
VISIBLE = 1 ,  ASSOCIATED_MEASURE_GROUP = ''<<MEASURE_GROUP>>''; 


CREATE MEMBER CURRENTCUBE.[Measures].[ED Visit - Means of Arrival - TiedRank]
as
IIF(
    ([Measures].[ED Visit - Count])=0 OR
        ([ED Visit].[ED Visit - Means of Arrival].CURRENTMEMBER.Name) = ''All'' OR
        ([ED Visit].[ED Visit - Means of Arrival].CURRENTMEMBER.Name) = ''Unknown'',
    NULL,
    (
        [Measures].[ED Visit - Means of Arrival - RegularRank], 
        GENERATE(
            {
                INTERSECT(
                    {ORDER([ED Visit].[ED Visit - Means of Arrival].MEMBERS, [Measures].[ED Visit - Count], BDESC).ITEM(0)} AS FIRSTTIE,
                    {}
                ),
                ORDER([ED Visit].[ED Visit - Means of Arrival].MEMBERS, [Measures].[ED Visit - Count], BDESC)
            } AS [OrderedSet2], 
            IIF(
                ({[OrderedSet2].CURRENT AS CURRATTRIB}.ITEM(0),[Measures].[ED Visit - Count]) = ({[OrderedSet2].ITEM([OrderedSet2].CURRENTORDINAL-2) AS PREVATTRIB}.ITEM(0),[Measures].[ED Visit - Count]),
                IIF(
                    (PREVATTRIB.ITEM(0), [Measures].[ED Visit - Count]) = (FIRSTTIE.ITEM(0), [Measures].[ED Visit - Count])
                    ,{FIRSTTIE}
                    ,{PREVATTRIB AS FIRSTTIE}
                ),
                {CURRATTRIB}
            ),
            ALL
        ).ITEM([Measures].[ED Visit - Means of Arrival - RegularRank]-1)
    )
)
,FORMAT_STRING = "#,###", 
VISIBLE = 1 ,  ASSOCIATED_MEASURE_GROUP = ''<<MEASURE_GROUP>>''; 
 
*/
GO
