SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









CREATE PROCEDURE [dbo].[usp_MeasureGenerator_UniqueCountRowTotal_UsingScope]
AS

SET NOCOUNT ON


drop table if exists #map_dummy_measures


-- display all the unique counts
select distinct
    m.measure_name
    ,m.measure_unique_name
    ,CONCAT(m.measure_name, ' - Dummy - Row Total') as dummy_measure_name -- replace with desired naming convention
    ,CONCAT('[Measures].[', m.measure_name, ' - Dummy - Row Total]') as dummy_measure_unique_name -- replace with desired naming convention
into #map_dummy_measures
from
    dbo.tblCube_Measures m
    join dbo.tblCube_Measure_Aggregator magg
        on m.measure_aggregator = magg.measure_aggregator
where
    magg.measure_aggregator_name = 'DistinctCount'
    and m.measure_name like '%unique count'
    and CONCAT('[Measures].[', m.measure_name, ' - Dummy - Row Total]') in (
        select 
            measure_unique_name
        from
            dbo.tblCube_Measures
    )
 
-- select * from #map_dummy_measures            


DECLARE @template_scope NVARCHAR(MAX) = 
--scope([Measures].[<<dummy_measure_name>>], LEAVES(<<dimension_unique_name>>));
--
N'
scope([Measures].[<<dummy_measure_name>>], DESCENDANTS(<<hierarchy_unique_name>>,,AFTER));
this = <<measure_unique_name>>;
end scope;
'

-- change for each unique measure
-- used to delete old measures generated by this sproc
-- select newid()
declare @guid uniqueidentifier = '17D63B4D-CFBA-4DB1-8256-D33BC4FE74B9'
-- select MeasureDefinition, * from dbo.tblGeneratedMeasures where GroupingGuid = @guid

delete from dbo.tblGeneratedMeasures
where GroupingGuid = @guid


DROP TABLE IF EXISTS #t


select distinct
     MeasureName                = dummy.measure_name
    ,MeasureUniqueName          = dummy.dummy_measure_unique_name
    ,MeasureDefinition          = q.MeasureDefinition
    ,HashCodeMeasureDefinition  = null
    ,IsDimensionAgnostic        = 0
    ,IsScoped                   = q.IsScoped
    ,Scoped_IsCreateMeasure     = q.Scoped_IsCreateMeasure
    ,Scoped_IsSubcubeExpression = q.Scoped_IsSubcubeExpression
    ,GeneratedBy                = 'usp_MeasureGenerator_UniqueCountRowTotal_UsingScope'
    ,GroupingName               = 'Sum Distinct Count Using Scope'
    ,GroupingGuid               = @guid
    ,dimension_name             = u.dimension_name
    ,dimension_unique_name      = u.dimension_unique_name       
    ,dimension_master_name      = u.dimension_master_name       
    ,hierarchy_name             = u.hierarchy_name              
    ,hierarchy_unique_name      = u.hierarchy_unique_name       
    ,level_caption              = u.level_caption               
    ,level_name                 = u.level_name                  
    ,level_unique_name          = u.level_unique_name           
    ,measure_name               = u.measure_name                
    ,measure_unique_name        = u.measure_unique_name         
    ,measuregroup_name          = u.measuregroup_name           
    ,VISIBLE                    = 1
    ,DISPLAY_FOLDER             = null --'Growth'
    ,FORMAT_STRING              = '#,##0' --isnull(u.default_format_string, 'Percent')
    ,ASSOCIATED_MEASURE_GROUP   = null -- u.measuregroup_name
    ,CAPTION                    = null
    ,SOLVE_ORDER                = null
into #t
from
    dbo.tblCube_Usage_Between_Dimensions_And_Facts u
    join #map_dummy_measures dummy
        on u.measure_unique_name = dummy.measure_unique_name
    cross apply (
        select 
            REPLACE(REPLACE(REPLACE(replace(REPLACE(replace(REPLACE(replace(REPLACE(replace(REPLACE(replace(REPLACE(
                @template_scope
                ,'<<dimension_name>>'               ,u.dimension_name)        
                ,'<<dimension_unique_name>>'        ,u.dimension_unique_name)
                ,'<<dimension_master_name>>'        ,u.dimension_master_name) 
                ,'<<hierarchy_name>>'               ,u.hierarchy_name)        
                ,'<<hierarchy_unique_name>>'        ,u.hierarchy_unique_name) 
                ,'<<level_caption>>'                ,u.level_caption)         
                ,'<<level_name>>'                   ,u.level_name)            
                ,'<<level_unique_name>>'            ,u.level_unique_name)     
                ,'<<measure_name>>'                 ,u.measure_name)          
                ,'<<measure_unique_name>>'          ,u.measure_unique_name)   
                ,'<<measuregroup_name>>'            ,u.measuregroup_name)     
                ,'<<dummy_measure_name>>'           ,dummy.dummy_measure_name)     
                ,'<<dummy_measure_unique_name>>'    ,dummy.dummy_measure_unique_name)
                as MeasureDefinition
            ,1 as IsScoped
            ,0 as Scoped_IsCreateMeasure
            ,1 as Scoped_IsSubcubeExpression
    ) q
ORDER BY 
     measuregroup_name
    ,measure_name
    ,dimension_name


update #t
set
    MeasureDefinition = REPLACE(MeasureDefinition, '<<MEASURE_PROPERTIES>>', 
        dbo.ufn_CreateMeasureProperties(VISIBLE, DISPLAY_FOLDER, FORMAT_STRING, ASSOCIATED_MEASURE_GROUP, CAPTION, SOLVE_ORDER))

update #t
set
    HashCodeMeasureDefinition = hashbytes('SHA2_512', upper(MeasureDefinition))


-- Delete duplicates
;with cte as 
(
    select 
        HashCodeMeasureDefinition
        ,ROW_NUMBER() over(partition by HashCodeMeasureDefinition order by MeasureName) as rownum
    from
        #t
)
delete from cte
where rownum > 1

--    select * from #t order by 1,2,3,4


insert into [dbo].[tblGeneratedMeasures](
    MeasureName,MeasureUniqueName,MeasureDefinition,IsDimensionAgnostic,IsScoped,Scoped_IsCreateMeasure
    ,Scoped_IsSubcubeExpression,GeneratedBy,GroupingName,GroupingGuid,dimension_name
    ,dimension_unique_name,dimension_master_name,hierarchy_name,hierarchy_unique_name
    ,level_caption,level_name,level_unique_name,measure_name,measure_unique_name
    ,measuregroup_name,VISIBLE,DISPLAY_FOLDER,FORMAT_STRING,ASSOCIATED_MEASURE_GROUP
    ,CAPTION,SOLVE_ORDER)
select 
    MeasureName,MeasureUniqueName,MeasureDefinition,IsDimensionAgnostic,IsScoped,Scoped_IsCreateMeasure
    ,Scoped_IsSubcubeExpression,GeneratedBy,GroupingName,GroupingGuid,dimension_name
    ,dimension_unique_name,dimension_master_name,hierarchy_name,hierarchy_unique_name
    ,level_caption,level_name,level_unique_name,measure_name,measure_unique_name
    ,measuregroup_name,VISIBLE,DISPLAY_FOLDER,FORMAT_STRING,ASSOCIATED_MEASURE_GROUP
    ,CAPTION,SOLVE_ORDER
from
    #t
GO
