SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









CREATE PROCEDURE [dbo].[usp_MeasureGenerator_UniqueCountRowTotal]
AS

SET NOCOUNT ON

-- select * from #map_dummy_measures            


DECLARE @template NVARCHAR(MAX) = 
N'
create member currentcube.<<dummy_measure_unique_name>> as
IIF(Axis([Measures].[AxisNo]).Item(0).Item(0).Hierarchy.CurrentMember.level.ordinal=0,
	sum(Descendants(Axis([Measures].[AxisNo]).Item(0).Item(Axis(1).Item(0).Count - 1).Hierarchy.CurrentMember,, leaves), <<measure_unique_name>>),
	<<measure_unique_name>>
)
,<<MEASURE_PROPERTIES>>;
'

-- change for each unique measure
-- used to delete old measures generated by this sproc
-- select newid()
declare @guid uniqueidentifier = '8456583C-3777-4C21-A2B1-7F8B1AB5BCD1'
-- select MeasureDefinition, * from dbo.tblGeneratedMeasures where GroupingGuid = @guid

delete from dbo.tblGeneratedMeasures
where GroupingGuid = @guid


DROP TABLE IF EXISTS #t


select distinct
     MeasureName                = q.dummy_measure_name
    ,MeasureUniqueName          = q.dummy_measure_unique_name
    ,MeasureDefinition          = q.MeasureDefinition
    ,HashCodeMeasureDefinition  = null
    ,IsDimensionAgnostic        = 0
    ,IsScoped                   = q.IsScoped
    ,Scoped_IsCreateMeasure     = q.Scoped_IsCreateMeasure
    ,Scoped_IsSubcubeExpression = q.Scoped_IsSubcubeExpression
    ,GeneratedBy                = 'usp_MeasureGenerator_UniqueCountRowTotal'
    ,GroupingName               = 'Sum Distinct Count Using Scope'
    ,GroupingGuid               = @guid
    ,dimension_name             = u.dimension_name
    ,dimension_unique_name      = u.dimension_unique_name       
    ,dimension_master_name      = u.dimension_master_name       
    ,hierarchy_name             = u.hierarchy_name              
    ,hierarchy_unique_name      = u.hierarchy_unique_name       
    ,level_caption              = u.level_caption               
    ,level_name                 = u.level_name                  
    ,level_unique_name          = u.level_unique_name           
    ,measure_name               = u.measure_name                
    ,measure_unique_name        = u.measure_unique_name         
    ,measuregroup_name          = u.measuregroup_name           
    ,VISIBLE                    = 1
    ,DISPLAY_FOLDER             = null --'Growth'
    ,FORMAT_STRING              = '#,##0' --isnull(u.default_format_string, 'Percent')
    ,ASSOCIATED_MEASURE_GROUP   = u.measuregroup_name
    ,CAPTION                    = null
    ,SOLVE_ORDER                = null
into #t
from
    dbo.tblCube_Usage_Between_Dimensions_And_Facts u
    cross apply (
        select 
            REPLACE(REPLACE(REPLACE(replace(REPLACE(replace(REPLACE(replace(REPLACE(replace(REPLACE(replace(REPLACE(
                @template
                ,'<<dimension_name>>'               ,u.dimension_name)        
                ,'<<dimension_unique_name>>'        ,u.dimension_unique_name)
                ,'<<dimension_master_name>>'        ,u.dimension_master_name) 
                ,'<<hierarchy_name>>'               ,u.hierarchy_name)        
                ,'<<hierarchy_unique_name>>'        ,u.hierarchy_unique_name) 
                ,'<<level_caption>>'                ,u.level_caption)         
                ,'<<level_name>>'                   ,u.level_name)            
                ,'<<level_unique_name>>'            ,u.level_unique_name)     
                ,'<<measure_name>>'                 ,u.measure_name)          
                ,'<<measure_unique_name>>'          ,u.measure_unique_name)   
                ,'<<measuregroup_name>>'            ,u.measuregroup_name)     
                ,'<<dummy_measure_name>>'           ,CONCAT(u.measure_name, ' - Dummy - Row Total'))     
                ,'<<dummy_measure_unique_name>>'    ,CONCAT('[Measures].[', u.measure_name, ' - Dummy - Row Total]'))
                as MeasureDefinition
            ,0 as IsScoped
            ,0 as Scoped_IsCreateMeasure
            ,0 as Scoped_IsSubcubeExpression
            ,CONCAT(u.measure_name, ' - Dummy - Row Total') as dummy_measure_name -- replace with desired naming convention
            ,CONCAT('[Measures].[', u.measure_name, ' - Dummy - Row Total]') as dummy_measure_unique_name -- replace with desired naming convention
    ) q
where
    u.measure_name like '%unique count'
ORDER BY 
     measuregroup_name
    ,measure_name
    ,dimension_name


update #t
set
    MeasureDefinition = REPLACE(MeasureDefinition, '<<MEASURE_PROPERTIES>>', 
        dbo.ufn_CreateMeasureProperties(VISIBLE, DISPLAY_FOLDER, FORMAT_STRING, ASSOCIATED_MEASURE_GROUP, CAPTION, SOLVE_ORDER))

update #t
set
    HashCodeMeasureDefinition = hashbytes('SHA2_512', upper(MeasureDefinition))


-- Delete duplicates
;with cte as 
(
    select 
        HashCodeMeasureDefinition
        ,ROW_NUMBER() over(partition by HashCodeMeasureDefinition order by MeasureName) as rownum
    from
        #t
)
delete from cte
where rownum > 1

--    select * from #t order by 1,2,3,4


insert into [dbo].[tblGeneratedMeasures](
    MeasureName,MeasureUniqueName,MeasureDefinition,IsDimensionAgnostic,IsScoped,Scoped_IsCreateMeasure
    ,Scoped_IsSubcubeExpression,GeneratedBy,GroupingName,GroupingGuid,dimension_name
    ,dimension_unique_name,dimension_master_name,hierarchy_name,hierarchy_unique_name
    ,level_caption,level_name,level_unique_name,measure_name,measure_unique_name
    ,measuregroup_name,VISIBLE,DISPLAY_FOLDER,FORMAT_STRING,ASSOCIATED_MEASURE_GROUP
    ,CAPTION,SOLVE_ORDER)
select 
    MeasureName,MeasureUniqueName,MeasureDefinition,IsDimensionAgnostic,IsScoped,Scoped_IsCreateMeasure
    ,Scoped_IsSubcubeExpression,GeneratedBy,GroupingName,GroupingGuid,dimension_name
    ,dimension_unique_name,dimension_master_name,hierarchy_name,hierarchy_unique_name
    ,level_caption,level_name,level_unique_name,measure_name,measure_unique_name
    ,measuregroup_name,VISIBLE,DISPLAY_FOLDER,FORMAT_STRING,ASSOCIATED_MEASURE_GROUP
    ,CAPTION,SOLVE_ORDER
from
    #t
GO
