SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProcedureTypeDim](
	[CD_TYPE] [int] IDENTITY(1,1) NOT NULL,
	[CD_TYPE_NM] [varchar](255) NULL,
 CONSTRAINT [PK_ProcedureTypeDim_CD_TYPE] PRIMARY KEY CLUSTERED 
(
	[CD_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
