SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicationOrderSetSourceDim](
	[ORDR_SET_SRC_CDS] [bigint] IDENTITY(1,1) NOT NULL,
	[ORDR_SET_SRC_NM] [varchar](255) NULL,
 CONSTRAINT [PK_MedicationOrderSetSourceDim_ORDR_SET_SRC_CDS] PRIMARY KEY CLUSTERED 
(
	[ORDR_SET_SRC_CDS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
