SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicationAdministrationActionDim](
	[ADMN_ACTN_CDS_SK] [int] IDENTITY(1,1) NOT NULL,
	[ADMN_ACTN_DESC] [varchar](255) NULL,
 CONSTRAINT [PK_MedicationAdministrationActionDim_ADMN_ACTN_CDS_SK] PRIMARY KEY CLUSTERED 
(
	[ADMN_ACTN_CDS_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
