SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EDVisitMeansOfArrivalDim](
	[MEANS_ARRVL_CDS] [int] IDENTITY(1,1) NOT NULL,
	[MEANS_ARRVL_DESC] [varchar](255) NULL,
 CONSTRAINT [PK_EDVisitMeansOfArrivalDim_MEANS_ARRVL_CDS] PRIMARY KEY CLUSTERED 
(
	[MEANS_ARRVL_CDS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
