SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BinaryDim](
	[Binary_CD] [int] IDENTITY(1,1) NOT NULL,
	[Binary_Desc] [varchar](14) NULL,
 CONSTRAINT [PK_BinaryDim_Binary_CD] PRIMARY KEY CLUSTERED 
(
	[Binary_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
