SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EDVisitDim](
	[EDPTNT_VST_SK] [bigint] IDENTITY(1,1) NOT NULL,
	[ENCNT_SK] [bigint] NULL,
	[PTNT_SK] [bigint] NULL,
	[SRC_ENCNT_ID] [varchar](255) NULL,
	[ED_DSPSTN_CDS] [int] NULL,
	[VST_FNNCL_CLSS_CDS] [int] NULL,
	[ACTY_LVL_CDS] [int] NULL,
	[MEANS_ARRVL_CDS] [int] NULL,
	[PG_ER_SURVEYED] [varchar](3) NULL,
	[ER_ANALYSIS_A2_CDS] [int] NULL,
	[ER_ANALYSIS_A2] [varchar](9) NULL,
	[ER_ANALYSIS_A28_CDS] [int] NULL,
	[ER_ANALYSIS_A28] [varchar](9) NULL,
	[ER_ANALYSIS_A3_CDS] [int] NULL,
	[ER_ANALYSIS_A3] [varchar](9) NULL,
	[ER_ANALYSIS_A4_CDS] [int] NULL,
	[ER_ANALYSIS_A4] [varchar](9) NULL,
	[ER_ANALYSIS_A5_CDS] [int] NULL,
	[ER_ANALYSIS_A5] [varchar](9) NULL,
	[ER_ANALYSIS_A86_CDS] [int] NULL,
	[ER_ANALYSIS_A86] [varchar](9) NULL,
	[ER_ANALYSIS_A87_CDS] [int] NULL,
	[ER_ANALYSIS_A87] [varchar](9) NULL,
	[ER_ANALYSIS_B1_CDS] [int] NULL,
	[ER_ANALYSIS_B1] [varchar](9) NULL,
	[ER_ANALYSIS_B3_CDS] [int] NULL,
	[ER_ANALYSIS_B3] [varchar](9) NULL,
	[ER_ANALYSIS_B4_CDS] [int] NULL,
	[ER_ANALYSIS_B4] [varchar](9) NULL,
	[ER_ANALYSIS_B5_CDS] [int] NULL,
	[ER_ANALYSIS_B5] [varchar](9) NULL,
	[ER_ANALYSIS_B76_CDS] [int] NULL,
	[ER_ANALYSIS_B76] [varchar](9) NULL,
	[ER_ANALYSIS_C1_CDS] [int] NULL,
	[ER_ANALYSIS_C1] [varchar](9) NULL,
	[ER_ANALYSIS_C2_CDS] [int] NULL,
	[ER_ANALYSIS_C2] [varchar](9) NULL,
	[ER_ANALYSIS_C4_CDS] [int] NULL,
	[ER_ANALYSIS_C4] [varchar](9) NULL,
	[ER_ANALYSIS_C5_CDS] [int] NULL,
	[ER_ANALYSIS_C5] [varchar](9) NULL,
	[ER_ANALYSIS_C7_CDS] [int] NULL,
	[ER_ANALYSIS_C7] [varchar](9) NULL,
	[ER_ANALYSIS_C75_CDS] [int] NULL,
	[ER_ANALYSIS_C75] [varchar](9) NULL,
	[ER_ANALYSIS_D2_CDS] [int] NULL,
	[ER_ANALYSIS_D2] [varchar](9) NULL,
	[ER_ANALYSIS_D3_CDS] [int] NULL,
	[ER_ANALYSIS_D3] [varchar](9) NULL,
	[ER_ANALYSIS_D4_CDS] [int] NULL,
	[ER_ANALYSIS_D4] [varchar](9) NULL,
	[ER_ANALYSIS_D52_CDS] [int] NULL,
	[ER_ANALYSIS_D52] [varchar](9) NULL,
	[ER_ANALYSIS_D65_CDS] [int] NULL,
	[ER_ANALYSIS_D65] [varchar](9) NULL,
	[ER_ANALYSIS_E1_CDS] [int] NULL,
	[ER_ANALYSIS_E1] [varchar](9) NULL,
	[ER_ANALYSIS_E2_CDS] [int] NULL,
	[ER_ANALYSIS_E2] [varchar](9) NULL,
	[ER_ANALYSIS_E3_CDS] [int] NULL,
	[ER_ANALYSIS_E3] [varchar](9) NULL,
	[ER_DEMOGRAPHICS_EDCP1] [varchar](50) NULL,
	[ER_DEMOGRAPHICS_EDCP1_CDS] [int] NULL,
	[ER_DEMOGRAPHICS_EDCP10] [varchar](50) NULL,
	[ER_DEMOGRAPHICS_EDCP10_CDS] [int] NULL,
	[ER_DEMOGRAPHICS_EDCP11] [varchar](50) NULL,
	[ER_DEMOGRAPHICS_EDCP11_CDS] [int] NULL,
	[ER_DEMOGRAPHICS_EDCP12] [varchar](50) NULL,
	[ER_DEMOGRAPHICS_EDCP12_CDS] [int] NULL,
	[ER_DEMOGRAPHICS_EDCP13] [varchar](50) NULL,
	[ER_DEMOGRAPHICS_EDCP13_CDS] [int] NULL,
	[ER_DEMOGRAPHICS_EDCP16] [varchar](50) NULL,
	[ER_DEMOGRAPHICS_EDCP16_CDS] [int] NULL,
	[ER_DEMOGRAPHICS_EDCP17] [varchar](50) NULL,
	[ER_DEMOGRAPHICS_EDCP17_CDS] [int] NULL,
	[ER_DEMOGRAPHICS_EDCP2] [varchar](50) NULL,
	[ER_DEMOGRAPHICS_EDCP2_CDS] [int] NULL,
	[ER_DEMOGRAPHICS_EDCP22] [varchar](50) NULL,
	[ER_DEMOGRAPHICS_EDCP22_CDS] [int] NULL,
	[ER_DEMOGRAPHICS_EDCP23] [varchar](50) NULL,
	[ER_DEMOGRAPHICS_EDCP23_CDS] [int] NULL,
	[ER_DEMOGRAPHICS_EDCP24] [varchar](50) NULL,
	[ER_DEMOGRAPHICS_EDCP24_CDS] [int] NULL,
	[ER_DEMOGRAPHICS_EDCP25] [varchar](50) NULL,
	[ER_DEMOGRAPHICS_EDCP25_CDS] [int] NULL,
	[ER_DEMOGRAPHICS_EDCP26] [varchar](50) NULL,
	[ER_DEMOGRAPHICS_EDCP26_CDS] [int] NULL,
	[ER_DEMOGRAPHICS_EDCP27] [varchar](50) NULL,
	[ER_DEMOGRAPHICS_EDCP27_CDS] [int] NULL,
	[ER_DEMOGRAPHICS_EDCP28] [varchar](50) NULL,
	[ER_DEMOGRAPHICS_EDCP28_CDS] [int] NULL,
	[ER_DEMOGRAPHICS_EDCP29] [varchar](50) NULL,
	[ER_DEMOGRAPHICS_EDCP29_CDS] [int] NULL,
	[ER_DEMOGRAPHICS_EDCP3] [varchar](50) NULL,
	[ER_DEMOGRAPHICS_EDCP3_CDS] [int] NULL,
	[ER_DEMOGRAPHICS_EDCP30] [varchar](50) NULL,
	[ER_DEMOGRAPHICS_EDCP30_CDS] [int] NULL,
	[ER_DEMOGRAPHICS_EDCP31] [varchar](50) NULL,
	[ER_DEMOGRAPHICS_EDCP31_CDS] [int] NULL,
	[ER_DEMOGRAPHICS_EDCP32] [varchar](50) NULL,
	[ER_DEMOGRAPHICS_EDCP32_CDS] [int] NULL,
	[ER_DEMOGRAPHICS_EDCP33] [varchar](50) NULL,
	[ER_DEMOGRAPHICS_EDCP33_CDS] [int] NULL,
	[ER_DEMOGRAPHICS_EDCP35] [varchar](50) NULL,
	[ER_DEMOGRAPHICS_EDCP35_CDS] [int] NULL,
	[ER_DEMOGRAPHICS_EDCP36] [varchar](50) NULL,
	[ER_DEMOGRAPHICS_EDCP36_CDS] [int] NULL,
	[ER_DEMOGRAPHICS_EDCP37] [varchar](50) NULL,
	[ER_DEMOGRAPHICS_EDCP37_CDS] [int] NULL,
	[ER_DEMOGRAPHICS_EDCP39] [varchar](50) NULL,
	[ER_DEMOGRAPHICS_EDCP39_CDS] [int] NULL,
	[ER_DEMOGRAPHICS_EDCP4] [varchar](50) NULL,
	[ER_DEMOGRAPHICS_EDCP4_CDS] [int] NULL,
	[ER_DEMOGRAPHICS_EDCP40] [varchar](50) NULL,
	[ER_DEMOGRAPHICS_EDCP40_CDS] [int] NULL,
	[ER_DEMOGRAPHICS_EDCP41] [varchar](50) NULL,
	[ER_DEMOGRAPHICS_EDCP41_CDS] [int] NULL,
	[ER_DEMOGRAPHICS_EDCP42] [varchar](50) NULL,
	[ER_DEMOGRAPHICS_EDCP42_CDS] [int] NULL,
	[ER_DEMOGRAPHICS_EDCP43] [varchar](50) NULL,
	[ER_DEMOGRAPHICS_EDCP43_CDS] [int] NULL,
	[ER_DEMOGRAPHICS_EDCP48] [varchar](50) NULL,
	[ER_DEMOGRAPHICS_EDCP48_CDS] [int] NULL,
	[ER_DEMOGRAPHICS_EDCP59] [varchar](50) NULL,
	[ER_DEMOGRAPHICS_EDCP59_CDS] [int] NULL,
	[ER_DEMOGRAPHICS_EDCP6] [varchar](50) NULL,
	[ER_DEMOGRAPHICS_EDCP6_CDS] [int] NULL,
	[ER_DEMOGRAPHICS_EDCP61] [varchar](50) NULL,
	[ER_DEMOGRAPHICS_EDCP61_CDS] [int] NULL,
	[ER_DEMOGRAPHICS_EDCP62_CDS] [varchar](50) NULL,
	[ER_DEMOGRAPHICS_EDCP62] [int] NULL,
	[ER_DEMOGRAPHICS_EDCP63_CDS] [varchar](50) NULL,
	[ER_DEMOGRAPHICS_EDCP63] [int] NULL,
	[ER_DEMOGRAPHICS_EDCP64_CDS] [varchar](50) NULL,
	[ER_DEMOGRAPHICS_EDCP64] [int] NULL,
	[ER_DEMOGRAPHICS_EDCP65_CDS] [varchar](50) NULL,
	[ER_DEMOGRAPHICS_EDCP65] [int] NULL,
	[ER_DEMOGRAPHICS_EDCP9_CDS] [varchar](50) NULL,
	[ER_DEMOGRAPHICS_EDCP9] [int] NULL,
	[ER_ANALYSIS_F1_CDS] [int] NULL,
	[ER_ANALYSIS_F1] [varchar](9) NULL,
	[ER_ANALYSIS_F2_CDS] [int] NULL,
	[ER_ANALYSIS_F2] [varchar](9) NULL,
	[ER_ANALYSIS_F4_CDS] [int] NULL,
	[ER_ANALYSIS_F4] [varchar](9) NULL,
	[ER_ANALYSIS_F41_CDS] [int] NULL,
	[ER_ANALYSIS_F41] [varchar](9) NULL,
	[ER_ANALYSIS_F68_CDS] [int] NULL,
	[ER_ANALYSIS_F68] [varchar](9) NULL,
	[ER_ANALYSIS_Q11822_1_CDS] [int] NULL,
	[ER_ANALYSIS_Q11822_1] [varchar](9) NULL,
	[PG_PE_SURVEYED] [varchar](3) NULL,
	[PE_ANALYSIS_A2_CDS] [int] NULL,
	[PE_ANALYSIS_A2] [varchar](9) NULL,
	[PE_ANALYSIS_A20_CDS] [int] NULL,
	[PE_ANALYSIS_A20] [varchar](9) NULL,
	[PE_ANALYSIS_A24_CDS] [int] NULL,
	[PE_ANALYSIS_A24] [varchar](9) NULL,
	[PE_ANALYSIS_A25_CDS] [int] NULL,
	[PE_ANALYSIS_A25] [varchar](9) NULL,
	[PE_ANALYSIS_A3_CDS] [int] NULL,
	[PE_ANALYSIS_A3] [varchar](9) NULL,
	[PE_ANALYSIS_A4_CDS] [int] NULL,
	[PE_ANALYSIS_A4] [varchar](9) NULL,
	[PE_ANALYSIS_A5_CDS] [int] NULL,
	[PE_ANALYSIS_A5] [varchar](9) NULL,
	[PE_ANALYSIS_A7_CDS] [int] NULL,
	[PE_ANALYSIS_A7] [varchar](9) NULL,
	[PE_ANALYSIS_B1_CDS] [int] NULL,
	[PE_ANALYSIS_B1] [varchar](9) NULL,
	[PE_ANALYSIS_B11_CDS] [int] NULL,
	[PE_ANALYSIS_B11] [varchar](9) NULL,
	[PE_ANALYSIS_B3_CDS] [int] NULL,
	[PE_ANALYSIS_B3] [varchar](9) NULL,
	[PE_ANALYSIS_B4_CDS] [int] NULL,
	[PE_ANALYSIS_B4] [varchar](9) NULL,
	[PE_ANALYSIS_B5_CDS] [int] NULL,
	[PE_ANALYSIS_B5] [varchar](9) NULL,
	[PE_ANALYSIS_C1_CDS] [int] NULL,
	[PE_ANALYSIS_C1] [varchar](9) NULL,
	[PE_ANALYSIS_C2_CDS] [int] NULL,
	[PE_ANALYSIS_C2] [varchar](9) NULL,
	[PE_ANALYSIS_C4_CDS] [int] NULL,
	[PE_ANALYSIS_C4] [varchar](9) NULL,
	[PE_ANALYSIS_C5_CDS] [int] NULL,
	[PE_ANALYSIS_C5] [varchar](9) NULL,
	[PE_ANALYSIS_C6_CDS] [int] NULL,
	[PE_ANALYSIS_C6] [varchar](9) NULL,
	[PE_ANALYSIS_C9_CDS] [int] NULL,
	[PE_ANALYSIS_C9] [varchar](9) NULL,
	[PE_ANALYSIS_D14_CDS] [int] NULL,
	[PE_ANALYSIS_D14] [varchar](9) NULL,
	[PE_ANALYSIS_D15_CDS] [int] NULL,
	[PE_ANALYSIS_D15] [varchar](9) NULL,
	[PE_ANALYSIS_D2_CDS] [int] NULL,
	[PE_ANALYSIS_D2] [varchar](9) NULL,
	[PE_ANALYSIS_D3_CDS] [int] NULL,
	[PE_ANALYSIS_D3] [varchar](9) NULL,
	[PE_ANALYSIS_D4_CDS] [int] NULL,
	[PE_ANALYSIS_D4] [varchar](9) NULL,
	[PE_ANALYSIS_F1_CDS] [int] NULL,
	[PE_ANALYSIS_F1] [varchar](9) NULL,
	[PE_ANALYSIS_F15_CDS] [int] NULL,
	[PE_ANALYSIS_F15] [varchar](9) NULL,
	[PE_ANALYSIS_F2_CDS] [int] NULL,
	[PE_ANALYSIS_F2] [varchar](9) NULL,
	[PE_ANALYSIS_F20_CDS] [int] NULL,
	[PE_ANALYSIS_F20] [varchar](9) NULL,
	[PE_ANALYSIS_F4_CDS] [int] NULL,
	[PE_ANALYSIS_F4] [varchar](9) NULL,
 CONSTRAINT [PK_EDVisitDim_EDPTNT_VST_SK] PRIMARY KEY CLUSTERED 
(
	[EDPTNT_VST_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EDVisitDim]  WITH CHECK ADD  CONSTRAINT [EDVisitDim-EDVisitAcuityLevelDim] FOREIGN KEY([ACTY_LVL_CDS])
REFERENCES [dbo].[EDVisitAcuityLevelDim] ([ACTY_LVL_CDS])
GO
ALTER TABLE [dbo].[EDVisitDim] CHECK CONSTRAINT [EDVisitDim-EDVisitAcuityLevelDim]
GO
ALTER TABLE [dbo].[EDVisitDim]  WITH CHECK ADD  CONSTRAINT [EDVisitDim-EDVisitDispositionDim] FOREIGN KEY([ED_DSPSTN_CDS])
REFERENCES [dbo].[EDVisitDispositionDim] ([ED_DSPSTN_CDS])
GO
ALTER TABLE [dbo].[EDVisitDim] CHECK CONSTRAINT [EDVisitDim-EDVisitDispositionDim]
GO
ALTER TABLE [dbo].[EDVisitDim]  WITH CHECK ADD  CONSTRAINT [EDVisitDim-EDVisitFinancialClass] FOREIGN KEY([VST_FNNCL_CLSS_CDS])
REFERENCES [dbo].[EDVisitFinancialClass] ([VST_FNNCL_CLSS_CDS])
GO
ALTER TABLE [dbo].[EDVisitDim] CHECK CONSTRAINT [EDVisitDim-EDVisitFinancialClass]
GO
ALTER TABLE [dbo].[EDVisitDim]  WITH CHECK ADD  CONSTRAINT [EDVisitDim-EDVisitMeansOfArrivalDim] FOREIGN KEY([MEANS_ARRVL_CDS])
REFERENCES [dbo].[EDVisitMeansOfArrivalDim] ([MEANS_ARRVL_CDS])
GO
ALTER TABLE [dbo].[EDVisitDim] CHECK CONSTRAINT [EDVisitDim-EDVisitMeansOfArrivalDim]
GO
ALTER TABLE [dbo].[EDVisitDim]  WITH CHECK ADD  CONSTRAINT [EDVisitDim-EncounterDim] FOREIGN KEY([ENCNT_SK])
REFERENCES [dbo].[EncounterDim] ([ENCNT_SK])
GO
ALTER TABLE [dbo].[EDVisitDim] CHECK CONSTRAINT [EDVisitDim-EncounterDim]
GO
ALTER TABLE [dbo].[EDVisitDim]  WITH CHECK ADD  CONSTRAINT [EDVisitDim-PatientDim] FOREIGN KEY([PTNT_SK])
REFERENCES [dbo].[PatientDim] ([PTNT_SK])
GO
ALTER TABLE [dbo].[EDVisitDim] CHECK CONSTRAINT [EDVisitDim-PatientDim]
GO
