SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeDim](
	[TM_OF_DY_SK] [bigint] NOT NULL,
	[TM_OF_DY] [time](0) NULL,
	[HR_OF_DY] [int] NULL,
	[MN_OF_DY] [int] NULL,
	[SCND_OF_DY] [int] NULL,
 CONSTRAINT [PK_TimeDim_TM_OF_DY_SK] PRIMARY KEY CLUSTERED 
(
	[TM_OF_DY_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
