SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProcedureOrderClassDim](
	[ORDR_CLSS_CD] [int] IDENTITY(1,1) NOT NULL,
	[ORDR_CLSS_NM] [varchar](255) NULL,
 CONSTRAINT [PK_ProcedureOrderClassDim_ORDR_CLSS_CD] PRIMARY KEY CLUSTERED 
(
	[ORDR_CLSS_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
