SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OutpatientAdmitConfStatrusDim](
	[ADMT_CNF_STT_CDS] [int] IDENTITY(1,1) NOT NULL,
	[ADMT_CNF_STT_NM] [varchar](255) NULL,
 CONSTRAINT [PK_OutpatientAdmitConfStatrusDim_ADMT_CNF_STT_CDS] PRIMARY KEY CLUSTERED 
(
	[ADMT_CNF_STT_CDS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
