SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SurgicalProcedureEventProcedureSiteDim](
	[PRCDR_SITE_CDS] [int] IDENTITY(1,1) NOT NULL,
	[PRCDR_SITE_DESC] [varchar](255) NULL,
 CONSTRAINT [PK_SurgicalProcedureEventProcedureSiteDim_PRCDR_SITE_CDS] PRIMARY KEY CLUSTERED 
(
	[PRCDR_SITE_CDS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
