SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SurgicalCasePatientClassDim](
	[SRG_PTNT_CLASS_CDS] [int] IDENTITY(1,1) NOT NULL,
	[SRG_PTNT_CLASS_DESC] [varchar](254) NULL,
 CONSTRAINT [PK_SurgicalCasePatientClassDim_SRG_PTNT_CLASS_CDS] PRIMARY KEY CLUSTERED 
(
	[SRG_PTNT_CLASS_CDS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
