SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LabDim](
	[LAB_SK] [bigint] IDENTITY(1,1) NOT NULL,
	[LAB_NAME] [varchar](513) NULL,
	[LAB_ADDR] [varchar](1024) NULL,
	[LAB_CITY] [varchar](255) NULL,
	[LAB_ST_CDS] [int] NULL,
	[LAB_ST_ABBR] [varchar](80) NULL,
	[LAB_PSTL_CDS] [varchar](15) NULL,
 CONSTRAINT [PK_LabDim_LAB_SK] PRIMARY KEY CLUSTERED 
(
	[LAB_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
