SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EncounterDepartmentDim](
	[DEPT_CDS] [int] IDENTITY(1,1) NOT NULL,
	[DEPT_DESC] [varchar](18) NULL,
 CONSTRAINT [PK_EncounterDepartmentDim_DEPT_CDS] PRIMARY KEY CLUSTERED 
(
	[DEPT_CDS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
