SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProcedureOrderPriorityDim](
	[ORDR_PRTY_CD] [int] IDENTITY(1,1) NOT NULL,
	[ORDR_PRTY_NM] [varchar](255) NULL,
 CONSTRAINT [PK_ProcedureOrderPriorityDim_ORDR_PRTY_CD] PRIMARY KEY CLUSTERED 
(
	[ORDR_PRTY_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
