SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InpatientPatientClassDim](
	[PTNT_CL_CDS] [int] IDENTITY(1,1) NOT NULL,
	[PTNT_CL_DESC] [varchar](255) NULL,
 CONSTRAINT [PK_InpatientPatientClassDim_PTNT_CL_CDS] PRIMARY KEY CLUSTERED 
(
	[PTNT_CL_CDS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
