SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProviderClinicianTitleDim](
	[CLNC_TITL_CDS] [varchar](80) NOT NULL,
	[CLNC_TITL_DESC] [varchar](254) NULL,
 CONSTRAINT [PK_ProviderClinicianTitleDim_CLNC_TITL_CDS] PRIMARY KEY CLUSTERED 
(
	[CLNC_TITL_CDS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
