SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiagnosisHierarchy](
	[DIAG_CLS_DESC] [varchar](255) NULL,
	[DIAG_PRN_SK] [int] NULL,
	[DIAG_HIR_SK] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_DiagnosisHierarchy_DIAG_HIR_SK] PRIMARY KEY CLUSTERED 
(
	[DIAG_HIR_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DiagnosisHierarchy]  WITH CHECK ADD  CONSTRAINT [DiagnosisHierarchy-DiagnosisHierarchy] FOREIGN KEY([DIAG_PRN_SK])
REFERENCES [dbo].[DiagnosisHierarchy] ([DIAG_HIR_SK])
GO
ALTER TABLE [dbo].[DiagnosisHierarchy] CHECK CONSTRAINT [DiagnosisHierarchy-DiagnosisHierarchy]
GO
