SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDim](
	[USR_SK] [bigint] IDENTITY(1,1) NOT NULL,
	[USER_NAME] [varchar](553) NOT NULL,
	[SRC_TYPE] [varchar](50) NOT NULL,
	[LDAP_USR] [varchar](50) NOT NULL,
	[SEX_CDS] [int] NOT NULL,
 CONSTRAINT [PK_UserDim_USR_SK] PRIMARY KEY CLUSTERED 
(
	[USR_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE UNIQUE NONCLUSTERED INDEX [IX_UserDim_U_LDAP] ON [dbo].[UserDim]
(
	[LDAP_USR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UserDim]  WITH NOCHECK ADD  CONSTRAINT [UserDim-UserGenderDim] FOREIGN KEY([SEX_CDS])
REFERENCES [dbo].[UserGenderDim] ([SEX_CDS])
GO
ALTER TABLE [dbo].[UserDim] CHECK CONSTRAINT [UserDim-UserGenderDim]
GO
