SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EncounterBillingClassDim](
	[BILLING_CLASS_CDS] [int] IDENTITY(1,1) NOT NULL,
	[BILLING_CLASS_DESC] [varchar](11) NULL,
 CONSTRAINT [PK_EncounterBillingClassDim_BILLING_CLASS_CDS] PRIMARY KEY CLUSTERED 
(
	[BILLING_CLASS_CDS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
