SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InpatientDim](
	[SRC_ENCNT_ID] [varchar](255) NULL,
	[PTNT_CL_CDS] [int] NULL,
	[ADMT_SRC_CDS] [int] NULL,
	[ADMT_TYPE_CDS] [int] NULL,
	[DSCRG_DSPSTN_CDS] [int] NULL,
	[DSCRG_DSTN_CDS] [int] NULL,
	[AGE_YRS_AT_CLNC_INPTNT_ADMT] [int] NULL,
	[AGE_MNTHS_AT_CLNC_INPTNT_ADMT] [int] NULL,
	[AGE_DYS_AT_CLNC_INPTNT_ADMT] [bigint] NULL,
	[LOS_DYS_CLNC_INPTNT] [bigint] NULL,
	[LOS_HRS_CLNC_INPTNT] [int] NULL,
	[INPTNT_VST_SK] [bigint] IDENTITY(1,1) NOT NULL,
	[ENCNT_SK] [bigint] NULL,
	[AGE_YRS_AT_CLNC_ADMT] [int] NULL,
	[AGE_MNTHS_AT_CLNC_ADMT] [int] NULL,
	[AGE_DYS_AT_CLNC_ADMT] [bigint] NULL,
	[LOS_DYS_CLNC] [int] NULL,
	[LOS_HRS_CLNC] [int] NULL,
	[AMI_1] [varchar](12) NULL,
	[AMI_2] [varchar](12) NULL,
	[AMI_3] [varchar](12) NULL,
	[AMI_5] [varchar](12) NULL,
	[AMI_7] [varchar](12) NULL,
	[AMI_7A] [varchar](12) NULL,
	[AMI_8] [varchar](12) NULL,
	[AMI_8A] [varchar](12) NULL,
	[AMI_10] [varchar](12) NULL,
	[ED_1A] [varchar](12) NULL,
	[ED_1B] [varchar](12) NULL,
	[ED_1C] [varchar](12) NULL,
	[ED_2A] [varchar](12) NULL,
	[ED_2B] [varchar](12) NULL,
	[ED_2C] [varchar](12) NULL,
	[HF_1] [varchar](12) NULL,
	[HF_2] [varchar](12) NULL,
	[HF_3] [varchar](12) NULL,
	[IMM_1A] [varchar](12) NULL,
	[IMM_1B] [varchar](12) NULL,
	[IMM_1C] [varchar](12) NULL,
	[IMM_2] [varchar](12) NULL,
	[PN_3A] [varchar](12) NULL,
	[PN_3B] [varchar](12) NULL,
	[PN_6] [varchar](12) NULL,
	[PN_6A] [varchar](12) NULL,
	[PN_6B] [varchar](12) NULL,
	[SCIP_CARD_2] [varchar](12) NULL,
	[SCIP_INF_1A] [varchar](12) NULL,
	[SCIP_INF_1B] [varchar](12) NULL,
	[SCIP_INF_1C] [varchar](12) NULL,
	[SCIP_INF_1D] [varchar](12) NULL,
	[SCIP_INF_1E] [varchar](12) NULL,
	[SCIP_INF_1F] [varchar](12) NULL,
	[SCIP_INF_1G] [varchar](12) NULL,
	[SCIP_INF_1H] [varchar](12) NULL,
	[SCIP_INF_2A] [varchar](12) NULL,
	[SCIP_INF_2B] [varchar](12) NULL,
	[SCIP_INF_2C] [varchar](12) NULL,
	[SCIP_INF_2D] [varchar](12) NULL,
	[SCIP_INF_2E] [varchar](12) NULL,
	[SCIP_INF_2F] [varchar](12) NULL,
	[SCIP_INF_2G] [varchar](12) NULL,
	[SCIP_INF_2H] [varchar](12) NULL,
	[SCIP_INF_3A] [varchar](12) NULL,
	[SCIP_INF_3B] [varchar](12) NULL,
	[SCIP_INF_3C] [varchar](12) NULL,
	[SCIP_INF_3D] [varchar](12) NULL,
	[SCIP_INF_3E] [varchar](12) NULL,
	[SCIP_INF_3F] [varchar](12) NULL,
	[SCIP_INF_3G] [varchar](12) NULL,
	[SCIP_INF_3H] [varchar](12) NULL,
	[SCIP_INF_4] [varchar](12) NULL,
	[SCIP_INF_6] [varchar](12) NULL,
	[SCIP_INF_9] [varchar](12) NULL,
	[SCIP_INF_10] [varchar](12) NULL,
	[SCIP_VTE_2] [varchar](12) NULL,
	[STK_1] [varchar](12) NULL,
	[STK_2] [varchar](12) NULL,
	[STK_3] [varchar](12) NULL,
	[STK_4] [varchar](12) NULL,
	[STK_5] [varchar](12) NULL,
	[STK_6] [varchar](12) NULL,
	[STK_8] [varchar](12) NULL,
	[STK_10] [varchar](12) NULL,
	[VTE_1] [varchar](12) NULL,
	[VTE_2] [varchar](12) NULL,
	[VTE_3] [varchar](12) NULL,
	[VTE_4] [varchar](12) NULL,
	[VTE_5] [varchar](12) NULL,
	[VTE_6] [varchar](12) NULL,
	[CMS_1] [varchar](12) NULL,
	[CMS_2] [varchar](12) NULL,
	[CMS_3] [varchar](12) NULL,
	[CMS_4] [varchar](12) NULL,
	[CMS_5] [varchar](12) NULL,
	[CMS_6] [varchar](12) NULL,
	[CMS_7] [varchar](12) NULL,
	[CMS_8] [varchar](12) NULL,
	[CMS_9] [varchar](12) NULL,
	[CMS_10] [varchar](12) NULL,
	[CMS_11] [varchar](12) NULL,
	[CMS_12] [varchar](12) NULL,
	[CMS_13] [varchar](12) NULL,
	[CMS_14] [varchar](12) NULL,
	[CMS_15] [varchar](12) NULL,
	[CMS_16] [varchar](12) NULL,
	[CMS_17] [varchar](12) NULL,
	[CMS_18] [varchar](12) NULL,
	[CMS_159] [varchar](12) NULL,
	[PREMIER_1] [varchar](12) NULL,
	[PREMIER_2] [varchar](12) NULL,
	[PREMIER_3] [varchar](12) NULL,
	[PREMIER_4] [varchar](12) NULL,
	[PREMIER_5] [varchar](12) NULL,
	[PREMIER_7] [varchar](12) NULL,
	[PREMIER_8] [varchar](12) NULL,
	[PREMIER_10] [varchar](12) NULL,
	[PREMIER_11] [varchar](12) NULL,
	[PREMIER_12] [varchar](12) NULL,
	[PREMIER_13] [varchar](12) NULL,
	[PREMIER_14] [varchar](12) NULL,
	[PREMIER_15] [varchar](12) NULL,
	[PREMIER_16] [varchar](12) NULL,
	[PREMIER_17] [varchar](12) NULL,
	[PREMIER_18] [varchar](12) NULL,
	[PREMIER_19] [varchar](12) NULL,
	[PREMIER_20] [varchar](12) NULL,
	[PREMIER_22] [varchar](12) NULL,
	[PREMIER_23] [varchar](12) NULL,
	[PREMIER_24] [varchar](12) NULL,
	[PREMIER_25] [varchar](12) NULL,
	[PREMIER_26] [varchar](12) NULL,
	[PREMIER_27] [varchar](12) NULL,
	[PREMIER_29] [varchar](12) NULL,
	[PREMIER_30] [varchar](12) NULL,
	[PREMIER_32] [varchar](12) NULL,
	[PREMIER_35] [varchar](12) NULL,
	[PREMIER_36] [varchar](12) NULL,
	[PREMIER_37] [varchar](12) NULL,
	[PREMIER_38] [varchar](12) NULL,
	[PREMIER_40] [varchar](12) NULL,
	[PREMIER_45] [varchar](12) NULL,
	[PREMIER_46] [varchar](12) NULL,
	[PREMIER_51] [varchar](12) NULL,
	[PREMIER_52] [varchar](12) NULL,
	[PREMIER_54] [varchar](12) NULL,
	[PREMIER_55] [varchar](12) NULL,
	[PREMIER_57] [varchar](12) NULL,
	[PREMIER_58] [varchar](12) NULL,
	[PREMIER_60] [varchar](12) NULL,
	[PREMIER_61] [varchar](12) NULL,
	[PREMIER_62] [varchar](12) NULL,
	[PREMIER_65] [varchar](12) NULL,
	[PREMIER_71] [varchar](12) NULL,
	[PREMIER_73] [varchar](12) NULL,
	[PREMIER_75] [varchar](12) NULL,
	[PREMIER_76] [varchar](12) NULL,
	[PREMIER_77] [varchar](12) NULL,
	[PREMIER_78] [varchar](12) NULL,
	[PREMIER_79] [varchar](12) NULL,
	[PREMIER_80] [varchar](12) NULL,
	[PREMIER_81] [varchar](12) NULL,
	[PREMIER_82] [varchar](12) NULL,
	[PREMIER_84] [varchar](12) NULL,
	[PREMIER_86] [varchar](12) NULL,
	[PREMIER_88] [varchar](12) NULL,
	[PREMIER_92] [varchar](12) NULL,
	[PREMIER_94] [varchar](12) NULL,
	[PREMIER_96] [varchar](12) NULL,
	[PREMIER_97] [varchar](12) NULL,
	[PREMIER_98] [varchar](12) NULL,
	[PREMIER_99] [varchar](12) NULL,
	[PREMIER_100] [varchar](12) NULL,
	[PREMIER_104] [varchar](12) NULL,
	[PREMIER_107] [varchar](12) NULL,
	[PREMIER_108] [varchar](12) NULL,
	[PREMIER_109] [varchar](12) NULL,
	[PREMIER_110] [varchar](12) NULL,
	[PREMIER_111] [varchar](12) NULL,
	[PREMIER_112] [varchar](12) NULL,
	[PREMIER_117] [varchar](12) NULL,
	[PREMIER_118] [varchar](12) NULL,
	[PREMIER_120] [varchar](12) NULL,
	[PREMIER_125] [varchar](12) NULL,
	[PREMIER_126] [varchar](12) NULL,
	[PREMIER_127] [varchar](12) NULL,
	[PREMIER_128] [varchar](12) NULL,
	[PREMIER_130] [varchar](12) NULL,
	[PREMIER_131] [varchar](12) NULL,
	[PREMIER_134] [varchar](12) NULL,
	[PREMIER_136] [varchar](12) NULL,
	[PREMIER_138] [varchar](12) NULL,
	[PREMIER_139] [varchar](12) NULL,
	[PREMIER_141] [varchar](12) NULL,
	[PREMIER_142] [varchar](12) NULL,
	[PREMIER_143] [varchar](12) NULL,
	[PREMIER_144] [varchar](12) NULL,
	[PREMIER_150] [varchar](12) NULL,
	[PREMIER_153] [varchar](12) NULL,
	[PREMIER_154] [varchar](12) NULL,
	[PREMIER_155] [varchar](12) NULL,
	[PREMIER_156] [varchar](12) NULL,
	[PREMIER_157] [varchar](12) NULL,
	[PREMIER_158] [varchar](12) NULL,
	[PREMIER_159] [varchar](12) NULL,
	[IQI1_ESOPHAGEAL_RESECTION_VOL] [varchar](12) NULL,
	[IQI2_PANCREATIC_RESECTION_VOL] [varchar](12) NULL,
	[IQI4_AAA_REPAIR_VOL] [varchar](12) NULL,
	[IQI5_CABG_VOL] [varchar](12) NULL,
	[IQI6_PTCA_VOL] [varchar](12) NULL,
	[IQI7_CAROTID_ENDARTERECTOMY_VOL] [varchar](12) NULL,
	[IQI2A_PANCREATIC_RESECTION_VOL] [varchar](12) NULL,
	[IQI2B_PANCREATIC_RESECTION_VOL] [varchar](12) NULL,
	[IQI4A_AAA_REPAIR_VOL] [varchar](12) NULL,
	[IQI4B_AAA_REPAIR_VOL] [varchar](12) NULL,
	[IQI4C_AAA_REPAIR_VOL] [varchar](12) NULL,
	[IQI4D_AAA_REPAIR_VOL] [varchar](12) NULL,
	[IQI8_ESOPHAGEAL_RESECTION_MORT] [varchar](12) NULL,
	[IQI9_PANCREATIC_RESECTION_MORT] [varchar](12) NULL,
	[IQI11_AAA_REPAIR_MORT] [varchar](12) NULL,
	[IQI12_CABG_MORT] [varchar](12) NULL,
	[IQI13_CRANIOTOMY_MORT] [varchar](12) NULL,
	[IQI14_HIP_REPLACEMENT_MORT] [varchar](12) NULL,
	[IQI15_AMI_MORT] [varchar](12) NULL,
	[IQI16_CHF_MORT] [varchar](12) NULL,
	[IQI17_ACUTE_STROKE_MORT] [varchar](12) NULL,
	[IQI18_GASTROINTESTINAL_HEM_MORT] [varchar](12) NULL,
	[IQI19_HIP_FRACTURE_MORT] [varchar](12) NULL,
	[IQI20_PNEUMONIA_MORT] [varchar](12) NULL,
	[IQI21_CESAREAN_DELIVERY] [varchar](12) NULL,
	[IQI22_VBAC_UNCOMP] [varchar](12) NULL,
	[IQI23_LAPAROSCOPIC_CHOLECYSTECTOMY] [varchar](12) NULL,
	[IQI24_INCIDENTAL_APPENDECTOMY_ELDERLY] [varchar](12) NULL,
	[IQI25_BILATERAL_CARDIAC_CATH] [varchar](12) NULL,
	[IQI30_PTCA_MORT] [varchar](12) NULL,
	[IQI31_CAROTID_ENDARTERECTOMY_MORT] [varchar](12) NULL,
	[IQI32_AMI_MORT_RATE_WO_TRANSFER] [varchar](12) NULL,
	[IQI33_PRI_CESAREAN_DELIVERY] [varchar](12) NULL,
	[IQI34_VBAC_ALL] [varchar](12) NULL,
	[IQI9A_PANCREATIC_RESECTION_MORT] [varchar](12) NULL,
	[IQI9B_PANCREATIC_RESECTION_MORT] [varchar](12) NULL,
	[IQI11A_AAA_REPAIR_MORT] [varchar](12) NULL,
	[IQI11B_AAA_REPAIR_MORT] [varchar](12) NULL,
	[IQI11C_AAA_REPAIR_MORT] [varchar](12) NULL,
	[IQI11D_AAA_REPAIR_MORT] [varchar](12) NULL,
	[IQI17A_ACUTE_STROKE_MORT] [varchar](12) NULL,
	[IQI17B_ACUTE_STROKE_MORT] [varchar](12) NULL,
	[IQI17C_ACUTE_STROKE_MORT] [varchar](12) NULL,
	[ANES_COMP] [varchar](12) NULL,
	[ASPIR_PNEUMONIA] [varchar](12) NULL,
	[BIRTH_TRAUMA] [varchar](12) NULL,
	[CABG_AFTER_PTCA] [varchar](12) NULL,
	[DEATH_LOW_MORT_DRG] [varchar](12) NULL,
	[DECUB_ULCER_RISK_PAT] [varchar](12) NULL,
	[DECUBITUS_ULCER] [varchar](12) NULL,
	[FAIL_RESCUE] [varchar](12) NULL,
	[FAIL_RESCUE_A] [varchar](12) NULL,
	[FAIL_RESCUE_B] [varchar](12) NULL,
	[FAIL_RESCUE_C] [varchar](12) NULL,
	[FAIL_RESCUE_D] [varchar](12) NULL,
	[FAIL_RESCUE_E] [varchar](12) NULL,
	[FOREIGN_BODY_LEFT] [varchar](12) NULL,
	[IN_HOSP_FRAC] [varchar](12) NULL,
	[INFECTION_MED_CARE] [varchar](12) NULL,
	[INTRAOP_NERVE_COMP] [varchar](12) NULL,
	[LATRO_PNEUMOTHORAX] [varchar](12) NULL,
	[MALIG_HYPERTHERMIA] [varchar](12) NULL,
	[OB_LACERATIONS] [varchar](12) NULL,
	[OB_TRA_CSECT] [varchar](12) NULL,
	[OB_TRA_VAG_W_INSTR] [varchar](12) NULL,
	[OB_TRA_VAG_WO_INSTR] [varchar](12) NULL,
	[OB_WOUND_CSECT] [varchar](12) NULL,
	[OB_WOUND_VAG] [varchar](12) NULL,
	[OTHER_OB_COMP_DEL] [varchar](12) NULL,
	[POST_PART_URIN_INFECT] [varchar](12) NULL,
	[POSTOP_AMI] [varchar](12) NULL,
	[POSTOP_DERANGEMNTS] [varchar](12) NULL,
	[POSTOP_HEM] [varchar](12) NULL,
	[POSTOP_HIP_FRAC] [varchar](12) NULL,
	[POSTOP_IATRO_CARD] [varchar](12) NULL,
	[POSTOP_IATRO_NERV] [varchar](12) NULL,
	[POSTOP_PUL_EMB] [varchar](12) NULL,
	[POSTOP_RESP_FAILURE] [varchar](12) NULL,
	[POSTOP_SEPSIS] [varchar](12) NULL,
	[POSTOP_WOUND_DEHIS] [varchar](12) NULL,
	[REOPEN_SURG_SITE] [varchar](12) NULL,
	[SUTURE_LACERATION] [int] NULL,
	[TECH_DIFF_PROC] [varchar](12) NULL,
	[TRANSF_REACTION] [varchar](12) NULL,
	[UTERINE_RUPTURE] [varchar](12) NULL,
	[MMBR_OF_ASTHM_RGSTRY_CDS] [int] NULL,
	[MMBR_OF_CKD_RGSTRY_CDS] [int] NULL,
	[MMBR_OF_COPD_RGSTRY_CDS] [int] NULL,
	[MMBR_OF_CHF_RGSTRY_CDS] [int] NULL,
	[MMBR_OF_CAD_RGSTRY_CDS] [int] NULL,
	[MMBR_OF_CF_RGSTRY_CDS] [int] NULL,
	[MMBR_OF_DIABTS_RGSTRY_CDS] [int] NULL,
	[MMBR_OF_HIV_RGSTRY_CDS] [int] NULL,
	[MMBR_OF_HTN_RGSTRY_CDS] [int] NULL,
	[MMBR_OF_OBSTY_RGSTRY_CDS] [int] NULL,
	[MMBR_OF_OPD_RGSTRY_CDS] [int] NULL,
	[MMBR_OF_PREDIABTS_RGSTRY_CDS] [int] NULL,
	[MMBR_OF_TBCCO_RGSTRY_CDS] [int] NULL,
	[IS_ENC_MDCR_CDS] [int] NULL,
	[IS_ENC_MDCD_CDS] [int] NULL,
	[PCP_PRMRY_DEPT_SK] [bigint] NULL,
	[PCP_PROVDR_SK] [bigint] NULL,
	[PAT_HAS_FLLWP_DCMNTD_CDS] [int] NULL,
	[REV_LOC_CDS] [int] NULL,
	[SRC_CD] [varchar](6) NULL,
	[IN_ANALYSIS_A1] [varchar](9) NULL,
	[IN_ANALYSIS_A2] [varchar](9) NULL,
	[IN_ANALYSIS_D1] [varchar](9) NULL,
	[IN_ANALYSIS_D2] [varchar](9) NULL,
	[IN_ANALYSIS_D3] [varchar](9) NULL,
	[IN_ANALYSIS_E1] [varchar](9) NULL,
	[IN_ANALYSIS_E2] [varchar](9) NULL,
	[IN_ANALYSIS_E4] [varchar](9) NULL,
	[IN_ANALYSIS_E7] [varchar](9) NULL,
	[IN_ANALYSIS_I1] [varchar](9) NULL,
	[IN_ANALYSIS_I3] [varchar](9) NULL,
	[IN_ANALYSIS_I4] [varchar](9) NULL,
	[IN_ANALYSIS_I5] [varchar](9) NULL,
	[IN_ANALYSIS_I6] [varchar](9) NULL,
	[IN_ANALYSIS_L2] [varchar](9) NULL,
	[IN_ANALYSIS_L3] [varchar](9) NULL,
	[IN_ANALYSIS_L5] [varchar](9) NULL,
	[IN_ANALYSIS_L6] [varchar](9) NULL,
	[IN_ANALYSIS_L8] [varchar](9) NULL,
	[IN_ANALYSIS_M2] [varchar](9) NULL,
	[IN_ANALYSIS_M3] [varchar](9) NULL,
	[IN_ANALYSIS_M4] [varchar](9) NULL,
	[IN_ANALYSIS_N1] [varchar](9) NULL,
	[IN_ANALYSIS_N2] [varchar](9) NULL,
	[IN_ANALYSIS_N3] [varchar](9) NULL,
	[IN_ANALYSIS_N4] [varchar](9) NULL,
	[IN_ANALYSIS_N5] [varchar](9) NULL,
	[IN_ANALYSIS_N6] [varchar](9) NULL,
	[IN_ANALYSIS_O2] [varchar](9) NULL,
	[IN_ANALYSIS_O3] [varchar](9) NULL,
	[IN_ANALYSIS_O4] [varchar](9) NULL,
	[IN_ANALYSIS_P1] [varchar](9) NULL,
	[IN_ANALYSIS_P2] [varchar](9) NULL,
	[IN_ANALYSIS_P3] [varchar](9) NULL,
	[IN_ANALYSIS_P4] [varchar](9) NULL,
	[IN_ANALYSIS_P5] [varchar](9) NULL,
	[IN_ANALYSIS_Q11822_1] [varchar](9) NULL,
	[IN_ANALYSIS_R1] [varchar](9) NULL,
	[IN_ANALYSIS_R2] [varchar](9) NULL,
	[IN_ANALYSIS_R3] [varchar](9) NULL,
	[IN_ANALYSIS_R4] [varchar](9) NULL,
	[IN_ANALYSIS_R5] [varchar](9) NULL,
	[IN_ANALYSIS_T1] [varchar](9) NULL,
	[IN_ANALYSIS_T3] [varchar](9) NULL,
	[IN_ANALYSIS_T5] [varchar](9) NULL,
	[IN_ANALYSIS_T7] [varchar](9) NULL,
	[IN_ANALYSIS_V2] [varchar](9) NULL,
	[IN_ANALYSIS_V3] [varchar](9) NULL,
	[IN_CAHPS_CMS_1] [varchar](256) NULL,
	[IN_CAHPS_CMS_10] [varchar](256) NULL,
	[IN_CAHPS_CMS_11] [varchar](256) NULL,
	[IN_CAHPS_CMS_12] [varchar](256) NULL,
	[IN_CAHPS_CMS_13CL] [varchar](256) NULL,
	[IN_CAHPS_CMS_14] [varchar](256) NULL,
	[IN_CAHPS_CMS_15CL] [varchar](256) NULL,
	[IN_CAHPS_CMS_16CL] [varchar](256) NULL,
	[IN_CAHPS_CMS_18] [varchar](256) NULL,
	[IN_CAHPS_CMS_19CL] [varchar](256) NULL,
	[IN_CAHPS_CMS_2] [varchar](256) NULL,
	[IN_CAHPS_CMS_20] [varchar](256) NULL,
	[IN_CAHPS_CMS_21CL] [varchar](256) NULL,
	[IN_CAHPS_CMS_22CL] [varchar](256) NULL,
	[IN_CAHPS_CMS_23] [varchar](256) NULL,
	[IN_CAHPS_CMS_24] [varchar](256) NULL,
	[IN_CAHPS_CMS_25] [varchar](256) NULL,
	[IN_CAHPS_CMS_26] [varchar](256) NULL,
	[IN_CAHPS_CMS_27] [varchar](256) NULL,
	[IN_CAHPS_CMS_28] [varchar](256) NULL,
	[IN_CAHPS_CMS_29A] [varchar](256) NULL,
	[IN_CAHPS_CMS_29B] [varchar](256) NULL,
	[IN_CAHPS_CMS_29C] [varchar](256) NULL,
	[IN_CAHPS_CMS_29D] [varchar](256) NULL,
	[IN_CAHPS_CMS_29E] [varchar](256) NULL,
	[IN_CAHPS_CMS_3] [varchar](256) NULL,
	[IN_CAHPS_CMS_30] [varchar](256) NULL,
	[IN_CAHPS_CMS_33CL] [varchar](256) NULL,
	[IN_CAHPS_CMS_34] [varchar](256) NULL,
	[IN_CAHPS_CMS_37CL] [varchar](256) NULL,
	[IN_CAHPS_CMS_38] [varchar](256) NULL,
	[IN_CAHPS_CMS_39] [varchar](256) NULL,
	[IN_CAHPS_CMS_40] [varchar](256) NULL,
	[IN_CAHPS_CMS_41] [varchar](256) NULL,
	[IN_CAHPS_CMS_6] [varchar](256) NULL,
	[IN_CAHPS_CMS_7] [varchar](256) NULL,
	[IN_CAHPS_CMS_8] [varchar](256) NULL,
	[READMISSION_INDX_ADMSN_IND] [varchar](3) NULL,
	[READMISSION_READMSN_IND] [varchar](3) NULL,
	[PX_IND] [varchar](3) NULL,
	[IN_DEMOGRAPHICS_DISTRIB] [varchar](256) NULL,
	[IN_ANALYSIS_A1_CDS] [int] NULL,
	[IN_ANALYSIS_A2_CDS] [int] NULL,
	[IN_ANALYSIS_D1_CDS] [int] NULL,
	[IN_ANALYSIS_D2_CDS] [int] NULL,
	[IN_ANALYSIS_D3_CDS] [int] NULL,
	[IN_ANALYSIS_E1_CDS] [int] NULL,
	[IN_ANALYSIS_E2_CDS] [int] NULL,
	[IN_ANALYSIS_E4_CDS] [int] NULL,
	[IN_ANALYSIS_E7_CDS] [int] NULL,
	[IN_ANALYSIS_I1_CDS] [int] NULL,
	[IN_ANALYSIS_I3_CDS] [int] NULL,
	[IN_ANALYSIS_I4_CDS] [int] NULL,
	[IN_ANALYSIS_I5_CDS] [int] NULL,
	[IN_ANALYSIS_I6_CDS] [int] NULL,
	[IN_ANALYSIS_L2_CDS] [int] NULL,
	[IN_ANALYSIS_L3_CDS] [int] NULL,
	[IN_ANALYSIS_L5_CDS] [int] NULL,
	[IN_ANALYSIS_L6_CDS] [int] NULL,
	[IN_ANALYSIS_L8_CDS] [int] NULL,
	[IN_ANALYSIS_M2_CDS] [int] NULL,
	[IN_ANALYSIS_M3_CDS] [int] NULL,
	[IN_ANALYSIS_M4_CDS] [int] NULL,
	[IN_ANALYSIS_N1_CDS] [int] NULL,
	[IN_ANALYSIS_N2_CDS] [int] NULL,
	[IN_ANALYSIS_N3_CDS] [int] NULL,
	[IN_ANALYSIS_N4_CDS] [int] NULL,
	[IN_ANALYSIS_N5_CDS] [int] NULL,
	[IN_ANALYSIS_N6_CDS] [int] NULL,
	[IN_ANALYSIS_O2_CDS] [int] NULL,
	[IN_ANALYSIS_O3_CDS] [int] NULL,
	[IN_ANALYSIS_O4_CDS] [int] NULL,
	[IN_ANALYSIS_P1_CDS] [int] NULL,
	[IN_ANALYSIS_P2_CDS] [int] NULL,
	[IN_ANALYSIS_P3_CDS] [int] NULL,
	[IN_ANALYSIS_P4_CDS] [int] NULL,
	[IN_ANALYSIS_P5_CDS] [int] NULL,
	[IN_ANALYSIS_Q11822_1_CDS] [int] NULL,
	[IN_ANALYSIS_R1_CDS] [int] NULL,
	[IN_ANALYSIS_R2_CDS] [int] NULL,
	[IN_ANALYSIS_R3_CDS] [int] NULL,
	[IN_ANALYSIS_R4_CDS] [int] NULL,
	[IN_ANALYSIS_R5_CDS] [int] NULL,
	[IN_ANALYSIS_T1_CDS] [int] NULL,
	[IN_ANALYSIS_T3_CDS] [int] NULL,
	[IN_ANALYSIS_T5_CDS] [int] NULL,
	[IN_ANALYSIS_T7_CDS] [int] NULL,
	[IN_ANALYSIS_V2_CDS] [int] NULL,
	[IN_ANALYSIS_V3_CDS] [int] NULL,
	[IN_CAHPS_CMS_1_CDS] [int] NULL,
	[IN_CAHPS_CMS_10_CDS] [int] NULL,
	[IN_CAHPS_CMS_11_CDS] [int] NULL,
	[IN_CAHPS_CMS_12_CDS] [int] NULL,
	[IN_CAHPS_CMS_13CL_CDS] [int] NULL,
	[IN_CAHPS_CMS_14_CDS] [int] NULL,
	[IN_CAHPS_CMS_15CL_CDS] [int] NULL,
	[IN_CAHPS_CMS_16CL_CDS] [int] NULL,
	[IN_CAHPS_CMS_18_CDS] [int] NULL,
	[IN_CAHPS_CMS_19CL_CDS] [int] NULL,
	[IN_CAHPS_CMS_2_CDS] [int] NULL,
	[IN_CAHPS_CMS_20_CDS] [int] NULL,
	[IN_CAHPS_CMS_21CL_CDS] [int] NULL,
	[IN_CAHPS_CMS_22CL_CDS] [int] NULL,
	[IN_CAHPS_CMS_23_CDS] [int] NULL,
	[IN_CAHPS_CMS_24_CDS] [int] NULL,
	[IN_CAHPS_CMS_25_CDS] [int] NULL,
	[IN_CAHPS_CMS_26_CDS] [int] NULL,
	[IN_CAHPS_CMS_27_CDS] [int] NULL,
	[IN_CAHPS_CMS_28_CDS] [int] NULL,
	[IN_CAHPS_CMS_29A_CDS] [int] NULL,
	[IN_CAHPS_CMS_29B_CDS] [int] NULL,
	[IN_CAHPS_CMS_29C_CDS] [int] NULL,
	[IN_CAHPS_CMS_29D_CDS] [int] NULL,
	[IN_CAHPS_CMS_29E_CDS] [int] NULL,
	[IN_CAHPS_CMS_3_CDS] [int] NULL,
	[IN_CAHPS_CMS_30_CDS] [int] NULL,
	[IN_CAHPS_CMS_33CL_CDS] [int] NULL,
	[IN_CAHPS_CMS_34_CDS] [int] NULL,
	[IN_CAHPS_CMS_37CL_CDS] [int] NULL,
	[IN_CAHPS_CMS_38_CDS] [int] NULL,
	[IN_CAHPS_CMS_39_CDS] [int] NULL,
	[IN_CAHPS_CMS_40_CDS] [int] NULL,
	[IN_CAHPS_CMS_41_CDS] [int] NULL,
	[IN_CAHPS_CMS_6_CDS] [int] NULL,
	[IN_CAHPS_CMS_7_CDS] [int] NULL,
	[IN_CAHPS_CMS_8_CDS] [int] NULL,
	[READMISSION_PLN_UNPLN] [varchar](14) NULL,
	[READMISSION_AMI_IND] [varchar](14) NULL,
	[READMISSION_HF_IND] [varchar](14) NULL,
	[READMISSION_COPD_IND] [varchar](14) NULL,
	[READMISSION_PNEU_IND] [varchar](14) NULL,
	[READMISSION_CABG_IND] [varchar](14) NULL,
	[READMISSION_THATKA_IND] [varchar](14) NULL,
	[READMISSION_SEPSIS_IND] [varchar](14) NULL,
	[READMSN_CASE_IND] [int] NULL,
 CONSTRAINT [PK_InpatientDim_INPTNT_VST_SK] PRIMARY KEY CLUSTERED 
(
	[INPTNT_VST_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InpatientDim]  WITH NOCHECK ADD  CONSTRAINT [InpatientDim-InpatientAdmitSourceDim] FOREIGN KEY([ADMT_SRC_CDS])
REFERENCES [dbo].[InpatientAdmitSourceDim] ([ADMT_SRC_CDS])
GO
ALTER TABLE [dbo].[InpatientDim] CHECK CONSTRAINT [InpatientDim-InpatientAdmitSourceDim]
GO
ALTER TABLE [dbo].[InpatientDim]  WITH NOCHECK ADD  CONSTRAINT [InpatientDim-InpatientAdmitTypeDim] FOREIGN KEY([ADMT_TYPE_CDS])
REFERENCES [dbo].[InpatientAdmitTypeDim] ([ADMT_TYPE_CDS])
GO
ALTER TABLE [dbo].[InpatientDim] CHECK CONSTRAINT [InpatientDim-InpatientAdmitTypeDim]
GO
ALTER TABLE [dbo].[InpatientDim]  WITH NOCHECK ADD  CONSTRAINT [InpatientDim-InpatientDischargeDestinationDim] FOREIGN KEY([DSCRG_DSTN_CDS])
REFERENCES [dbo].[InpatientDischargeDestinationDim] ([DSCRG_DSTN_CDS])
GO
ALTER TABLE [dbo].[InpatientDim] CHECK CONSTRAINT [InpatientDim-InpatientDischargeDestinationDim]
GO
ALTER TABLE [dbo].[InpatientDim]  WITH NOCHECK ADD  CONSTRAINT [InpatientDim-InpatientDischargeDispositionDim] FOREIGN KEY([DSCRG_DSPSTN_CDS])
REFERENCES [dbo].[InpatientDischargeDispositionDim] ([DSCRG_DSPSTN_CDS])
GO
ALTER TABLE [dbo].[InpatientDim] CHECK CONSTRAINT [InpatientDim-InpatientDischargeDispositionDim]
GO
ALTER TABLE [dbo].[InpatientDim]  WITH NOCHECK ADD  CONSTRAINT [InpatientDim-InpatientPatientClassDim] FOREIGN KEY([PTNT_CL_CDS])
REFERENCES [dbo].[InpatientPatientClassDim] ([PTNT_CL_CDS])
GO
ALTER TABLE [dbo].[InpatientDim] CHECK CONSTRAINT [InpatientDim-InpatientPatientClassDim]
GO
