SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EncounterFact](
	[ENCNT_FACT_SK] [bigint] IDENTITY(1,1) NOT NULL,
	[ENCNT_SK] [bigint] NULL,
	[PTNT_SK] [bigint] NULL,
	[DEPT_SK] [bigint] NULL,
	[AGE_YRS_AT_ENCNT] [int] NULL,
	[ENCNT_DT] [datetime] NULL,
	[AGE_MNTHS_AT_ENCNT] [int] NULL,
	[AGE_DYS_AT_ENCNT] [int] NULL,
	[ENCNT_WAIT_IN_DAYS] [int] NULL,
 CONSTRAINT [PK_EncounterFact_ENCNT_FACT_SK] PRIMARY KEY CLUSTERED 
(
	[ENCNT_FACT_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EncounterFact]  WITH CHECK ADD  CONSTRAINT [ENCNT_FACT-EncounterDim] FOREIGN KEY([ENCNT_SK])
REFERENCES [dbo].[EncounterDim] ([ENCNT_SK])
GO
ALTER TABLE [dbo].[EncounterFact] CHECK CONSTRAINT [ENCNT_FACT-EncounterDim]
GO
ALTER TABLE [dbo].[EncounterFact]  WITH CHECK ADD  CONSTRAINT [ENCNT_FACT-PatientDim] FOREIGN KEY([PTNT_SK])
REFERENCES [dbo].[PatientDim] ([PTNT_SK])
GO
ALTER TABLE [dbo].[EncounterFact] CHECK CONSTRAINT [ENCNT_FACT-PatientDim]
GO
ALTER TABLE [dbo].[EncounterFact]  WITH CHECK ADD  CONSTRAINT [EncounterFact-DateDim] FOREIGN KEY([ENCNT_DT])
REFERENCES [dbo].[DateDim] ([CLNDR_DT])
GO
ALTER TABLE [dbo].[EncounterFact] CHECK CONSTRAINT [EncounterFact-DateDim]
GO
ALTER TABLE [dbo].[EncounterFact]  WITH CHECK ADD  CONSTRAINT [EncounterFact-DepartmentDim] FOREIGN KEY([DEPT_SK])
REFERENCES [dbo].[DepartmentDim] ([DEPT_SK])
GO
ALTER TABLE [dbo].[EncounterFact] CHECK CONSTRAINT [EncounterFact-DepartmentDim]
GO
