SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SurgicalSupplyUseLogStatusDim](
	[LOG_STS_CDS] [int] IDENTITY(1,1) NOT NULL,
	[LOG_STS_DESC] [varchar](255) NULL,
 CONSTRAINT [PK_SurgicalSupplyUseLogStatusDim_LOG_STS_CDS] PRIMARY KEY CLUSTERED 
(
	[LOG_STS_CDS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
