SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiagnosisPresentOnAdmitDim](
	[PRSNT_ON_ADMT_DESC] [varchar](255) NULL,
	[PRSNT_ON_ADMT_CD] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_DiagnosisPresentOnAdmitDim_PRSNT_ON_ADMT_CD] PRIMARY KEY CLUSTERED 
(
	[PRSNT_ON_ADMT_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
