SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EDVisitFact](
	[EDPTNT_VST_SK] [bigint] NOT NULL,
	[ENCNT_SK] [bigint] NULL,
	[PTNT_SK] [bigint] NULL,
	[ARRVL_DT] [datetime] NULL,
	[HSP_DSCRG_DT] [datetime] NULL,
	[HSP_DSCRG_TS_SK] [bigint] NULL,
	[ARRVL_TS_SK] [bigint] NULL,
	[ED_DSCRG_DT] [datetime] NULL,
	[DSPSTN_INSTNT_DT] [datetime] NULL,
	[DSPSTN_INSTNT_TS_SK] [bigint] NULL,
	[FRST_NONED_DEPT_ARRVL_DT] [datetime] NULL,
	[FRST_NONED_DEPT_ARRVL_TS_SK] [bigint] NULL,
	[AVS_PRNT_INSTNT_DT] [datetime] NULL,
	[AVS_PRNT_INSTNT_TS_SK] [bigint] NULL,
	[AGE_YRS_AT_ENCNT] [int] NULL,
	[AGE_MNTHS_AT_ENCNT] [int] NULL,
	[AGE_DYS_AT_ENCNT] [int] NULL,
	[ADMT_DEPT_SK] [bigint] NULL,
	[FRST_NON_ED_DEPT_SK] [bigint] NULL,
	[PAT_RMD_DT] [datetime] NULL,
	[REG_CMPLTD_DT] [datetime] NULL,
	[TRGE_START_DT] [datetime] NULL,
	[TRGE_CMPLTD_DT] [datetime] NULL,
	[FRST_ATTND_DT] [datetime] NULL,
	[LAB_ORDRD_DT] [datetime] NULL,
	[LAB_CMPLTD_DT] [datetime] NULL,
	[LAB_PRVDR_RVW_DT] [datetime] NULL,
	[IMG_ORDRD_DT] [datetime] NULL,
	[IMG_TST_CMPLTD_DT] [datetime] NULL,
	[IMG_PRVDR_RVW_DT] [datetime] NULL,
	[BED_RQST_DT] [datetime] NULL,
	[ARRV_TO_REG_CMPLTD] [int] NULL,
	[ARRV_TO_TRG_STRT] [int] NULL,
	[TRG_STRT_TO_TRG_CMPLTD] [int] NULL,
	[TRG_STRT_TO_PTNT_RMD] [int] NULL,
	[BED_RQST_TO_PTNT_RMD] [int] NULL,
	[TRG_CMPLTD_TO_PTNT_RMD] [int] NULL,
	[TRG_CMPLTD_TO_ASSGN_ATTND] [int] NULL,
	[PTNT_RMD_TO_ASSGN_ATTND] [int] NULL,
	[ASSGN_ATTND_TO_DSPSTN] [int] NULL,
	[DSPTN_TO_ED_DSCRG] [int] NULL,
	[AVS_PRNTD_TO_ED_DSCRG] [int] NULL,
	[ARRV_TO_LAB_ORDRD] [int] NULL,
	[LAB_ORDRD_TO_CMPLTD] [int] NULL,
	[LAB_CMPLTD_TO_PRVDR_RVW] [int] NULL,
	[ARRV_TO_IMG_ORDRD] [int] NULL,
	[ARRV_TO_ED_DSCRG] [int] NULL,
	[IMG_TST_ORDRD_TO_CMPLTD] [int] NULL,
	[IMG_TST_CMPLTD_TO_PRVDR_RVW] [int] NULL,
	[GLSGW_VAL] [int] NULL,
	[ARRV_TO_REG_CMPLTD_LOG] [float] NULL,
	[ARRV_TO_TRG_STRT_LOG] [float] NULL,
	[TRG_STRT_TO_TRG_CMPLTD_LOG] [float] NULL,
	[TRG_STRT_TO_PTNT_RMD_LOG] [float] NULL,
	[BED_RQST_TO_PTNT_RMD_LOG] [float] NULL,
	[TRG_CMPLTD_TO_PTNT_RMD_LOG] [float] NULL,
	[TRG_CMPLTD_TO_ASSGN_ATTND_LOG] [float] NULL,
	[PTNT_RMD_TO_ASSGN_ATTND_LOG] [float] NULL,
	[ASSGN_ATTND_TO_DSPSTN_LOG] [float] NULL,
	[DSPTN_TO_ED_DSCRG_LOG] [float] NULL,
	[AVS_PRNTD_TO_ED_DSCRG_LOG] [float] NULL,
	[ARRV_TO_LAB_ORDRD_LOG] [float] NULL,
	[LAB_ORDRD_TO_CMPLTD_LOG] [float] NULL,
	[LAB_CMPLTD_TO_PRVDR_RVW_LOG] [float] NULL,
	[ARRV_TO_IMG_ORDRD_LOG] [float] NULL,
	[IMG_TST_ORDRD_TO_CMPLTD_LOG] [float] NULL,
	[IMG_TST_CMPLTD_TO_PRVDR_RVW_LOG] [float] NULL,
	[ARRV_TO_ED_DSCRG_LOG] [float] NULL,
	[GLSGW_VAL_LOG] [float] NULL,
	[ED_DSCRG_TS_SK] [bigint] NULL,
	[PAT_RMD_TS_SK] [bigint] NULL,
	[REG_CMPLTD_TS_SK] [bigint] NULL,
	[TRGE_START_TS_SK] [bigint] NULL,
	[TRGE_CMPLTD_TS_SK] [bigint] NULL,
	[FRST_ATTND_TS_SK] [bigint] NULL,
	[LAB_ORDRD_TS_SK] [bigint] NULL,
	[LAB_CMPLTD_TS_SK] [bigint] NULL,
	[LAB_PRVDR_RVW_TS_SK] [bigint] NULL,
	[IMG_ORDRD_TS_SK] [bigint] NULL,
	[IMG_PRVDR_RVW_TS_SK] [bigint] NULL,
	[BED_RQST_TS_SK] [bigint] NULL,
	[IMG_TST_CMPLTD_TS_SK] [bigint] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EDVisitFact]  WITH CHECK ADD  CONSTRAINT [EDVisitFact-DateDim] FOREIGN KEY([ARRVL_DT])
REFERENCES [dbo].[DateDim] ([CLNDR_DT])
GO
ALTER TABLE [dbo].[EDVisitFact] CHECK CONSTRAINT [EDVisitFact-DateDim]
GO
ALTER TABLE [dbo].[EDVisitFact]  WITH CHECK ADD  CONSTRAINT [EDVisitFact-DateDim1] FOREIGN KEY([HSP_DSCRG_DT])
REFERENCES [dbo].[DateDim] ([CLNDR_DT])
GO
ALTER TABLE [dbo].[EDVisitFact] CHECK CONSTRAINT [EDVisitFact-DateDim1]
GO
ALTER TABLE [dbo].[EDVisitFact]  WITH CHECK ADD  CONSTRAINT [EDVisitFact-DateDim10] FOREIGN KEY([FRST_ATTND_DT])
REFERENCES [dbo].[DateDim] ([CLNDR_DT])
GO
ALTER TABLE [dbo].[EDVisitFact] CHECK CONSTRAINT [EDVisitFact-DateDim10]
GO
ALTER TABLE [dbo].[EDVisitFact]  WITH CHECK ADD  CONSTRAINT [EDVisitFact-DateDim11] FOREIGN KEY([LAB_ORDRD_DT])
REFERENCES [dbo].[DateDim] ([CLNDR_DT])
GO
ALTER TABLE [dbo].[EDVisitFact] CHECK CONSTRAINT [EDVisitFact-DateDim11]
GO
ALTER TABLE [dbo].[EDVisitFact]  WITH CHECK ADD  CONSTRAINT [EDVisitFact-DateDim12] FOREIGN KEY([LAB_CMPLTD_DT])
REFERENCES [dbo].[DateDim] ([CLNDR_DT])
GO
ALTER TABLE [dbo].[EDVisitFact] CHECK CONSTRAINT [EDVisitFact-DateDim12]
GO
ALTER TABLE [dbo].[EDVisitFact]  WITH CHECK ADD  CONSTRAINT [EDVisitFact-DateDim13] FOREIGN KEY([LAB_PRVDR_RVW_DT])
REFERENCES [dbo].[DateDim] ([CLNDR_DT])
GO
ALTER TABLE [dbo].[EDVisitFact] CHECK CONSTRAINT [EDVisitFact-DateDim13]
GO
ALTER TABLE [dbo].[EDVisitFact]  WITH CHECK ADD  CONSTRAINT [EDVisitFact-DateDim14] FOREIGN KEY([IMG_ORDRD_DT])
REFERENCES [dbo].[DateDim] ([CLNDR_DT])
GO
ALTER TABLE [dbo].[EDVisitFact] CHECK CONSTRAINT [EDVisitFact-DateDim14]
GO
ALTER TABLE [dbo].[EDVisitFact]  WITH CHECK ADD  CONSTRAINT [EDVisitFact-DateDim15] FOREIGN KEY([IMG_TST_CMPLTD_DT])
REFERENCES [dbo].[DateDim] ([CLNDR_DT])
GO
ALTER TABLE [dbo].[EDVisitFact] CHECK CONSTRAINT [EDVisitFact-DateDim15]
GO
ALTER TABLE [dbo].[EDVisitFact]  WITH CHECK ADD  CONSTRAINT [EDVisitFact-DateDim16] FOREIGN KEY([IMG_PRVDR_RVW_DT])
REFERENCES [dbo].[DateDim] ([CLNDR_DT])
GO
ALTER TABLE [dbo].[EDVisitFact] CHECK CONSTRAINT [EDVisitFact-DateDim16]
GO
ALTER TABLE [dbo].[EDVisitFact]  WITH CHECK ADD  CONSTRAINT [EDVisitFact-DateDim17] FOREIGN KEY([BED_RQST_DT])
REFERENCES [dbo].[DateDim] ([CLNDR_DT])
GO
ALTER TABLE [dbo].[EDVisitFact] CHECK CONSTRAINT [EDVisitFact-DateDim17]
GO
ALTER TABLE [dbo].[EDVisitFact]  WITH CHECK ADD  CONSTRAINT [EDVisitFact-DateDim2] FOREIGN KEY([ED_DSCRG_DT])
REFERENCES [dbo].[DateDim] ([CLNDR_DT])
GO
ALTER TABLE [dbo].[EDVisitFact] CHECK CONSTRAINT [EDVisitFact-DateDim2]
GO
ALTER TABLE [dbo].[EDVisitFact]  WITH CHECK ADD  CONSTRAINT [EDVisitFact-DateDim3] FOREIGN KEY([DSPSTN_INSTNT_DT])
REFERENCES [dbo].[DateDim] ([CLNDR_DT])
GO
ALTER TABLE [dbo].[EDVisitFact] CHECK CONSTRAINT [EDVisitFact-DateDim3]
GO
ALTER TABLE [dbo].[EDVisitFact]  WITH CHECK ADD  CONSTRAINT [EDVisitFact-DateDim4] FOREIGN KEY([FRST_NONED_DEPT_ARRVL_DT])
REFERENCES [dbo].[DateDim] ([CLNDR_DT])
GO
ALTER TABLE [dbo].[EDVisitFact] CHECK CONSTRAINT [EDVisitFact-DateDim4]
GO
ALTER TABLE [dbo].[EDVisitFact]  WITH CHECK ADD  CONSTRAINT [EDVisitFact-DateDim5] FOREIGN KEY([AVS_PRNT_INSTNT_DT])
REFERENCES [dbo].[DateDim] ([CLNDR_DT])
GO
ALTER TABLE [dbo].[EDVisitFact] CHECK CONSTRAINT [EDVisitFact-DateDim5]
GO
ALTER TABLE [dbo].[EDVisitFact]  WITH CHECK ADD  CONSTRAINT [EDVisitFact-DateDim6] FOREIGN KEY([PAT_RMD_DT])
REFERENCES [dbo].[DateDim] ([CLNDR_DT])
GO
ALTER TABLE [dbo].[EDVisitFact] CHECK CONSTRAINT [EDVisitFact-DateDim6]
GO
ALTER TABLE [dbo].[EDVisitFact]  WITH CHECK ADD  CONSTRAINT [EDVisitFact-DateDim7] FOREIGN KEY([REG_CMPLTD_DT])
REFERENCES [dbo].[DateDim] ([CLNDR_DT])
GO
ALTER TABLE [dbo].[EDVisitFact] CHECK CONSTRAINT [EDVisitFact-DateDim7]
GO
ALTER TABLE [dbo].[EDVisitFact]  WITH CHECK ADD  CONSTRAINT [EDVisitFact-DateDim8] FOREIGN KEY([TRGE_START_DT])
REFERENCES [dbo].[DateDim] ([CLNDR_DT])
GO
ALTER TABLE [dbo].[EDVisitFact] CHECK CONSTRAINT [EDVisitFact-DateDim8]
GO
ALTER TABLE [dbo].[EDVisitFact]  WITH CHECK ADD  CONSTRAINT [EDVisitFact-DateDim9] FOREIGN KEY([TRGE_CMPLTD_DT])
REFERENCES [dbo].[DateDim] ([CLNDR_DT])
GO
ALTER TABLE [dbo].[EDVisitFact] CHECK CONSTRAINT [EDVisitFact-DateDim9]
GO
ALTER TABLE [dbo].[EDVisitFact]  WITH CHECK ADD  CONSTRAINT [EDVisitFact-DepartmentDim] FOREIGN KEY([FRST_NON_ED_DEPT_SK])
REFERENCES [dbo].[DepartmentDim] ([DEPT_SK])
GO
ALTER TABLE [dbo].[EDVisitFact] CHECK CONSTRAINT [EDVisitFact-DepartmentDim]
GO
ALTER TABLE [dbo].[EDVisitFact]  WITH CHECK ADD  CONSTRAINT [EDVisitFact-DepartmentDim1] FOREIGN KEY([ADMT_DEPT_SK])
REFERENCES [dbo].[DepartmentDim] ([DEPT_SK])
GO
ALTER TABLE [dbo].[EDVisitFact] CHECK CONSTRAINT [EDVisitFact-DepartmentDim1]
GO
ALTER TABLE [dbo].[EDVisitFact]  WITH CHECK ADD  CONSTRAINT [EDVisitFact-EDVisitDim] FOREIGN KEY([EDPTNT_VST_SK])
REFERENCES [dbo].[EDVisitDim] ([EDPTNT_VST_SK])
GO
ALTER TABLE [dbo].[EDVisitFact] CHECK CONSTRAINT [EDVisitFact-EDVisitDim]
GO
ALTER TABLE [dbo].[EDVisitFact]  WITH CHECK ADD  CONSTRAINT [EDVisitFact-EncounterDim] FOREIGN KEY([ENCNT_SK])
REFERENCES [dbo].[EncounterDim] ([ENCNT_SK])
GO
ALTER TABLE [dbo].[EDVisitFact] CHECK CONSTRAINT [EDVisitFact-EncounterDim]
GO
ALTER TABLE [dbo].[EDVisitFact]  WITH CHECK ADD  CONSTRAINT [EDVisitFact-PatientDim] FOREIGN KEY([PTNT_SK])
REFERENCES [dbo].[PatientDim] ([PTNT_SK])
GO
ALTER TABLE [dbo].[EDVisitFact] CHECK CONSTRAINT [EDVisitFact-PatientDim]
GO
ALTER TABLE [dbo].[EDVisitFact]  WITH CHECK ADD  CONSTRAINT [EDVisitFact-TimeDim] FOREIGN KEY([HSP_DSCRG_TS_SK])
REFERENCES [dbo].[TimeDim] ([TM_OF_DY_SK])
GO
ALTER TABLE [dbo].[EDVisitFact] CHECK CONSTRAINT [EDVisitFact-TimeDim]
GO
ALTER TABLE [dbo].[EDVisitFact]  WITH CHECK ADD  CONSTRAINT [EDVisitFact-TimeDim1] FOREIGN KEY([ARRVL_TS_SK])
REFERENCES [dbo].[TimeDim] ([TM_OF_DY_SK])
GO
ALTER TABLE [dbo].[EDVisitFact] CHECK CONSTRAINT [EDVisitFact-TimeDim1]
GO
ALTER TABLE [dbo].[EDVisitFact]  WITH CHECK ADD  CONSTRAINT [EDVisitFact-TimeDim10] FOREIGN KEY([FRST_ATTND_TS_SK])
REFERENCES [dbo].[TimeDim] ([TM_OF_DY_SK])
GO
ALTER TABLE [dbo].[EDVisitFact] CHECK CONSTRAINT [EDVisitFact-TimeDim10]
GO
ALTER TABLE [dbo].[EDVisitFact]  WITH CHECK ADD  CONSTRAINT [EDVisitFact-TimeDim11] FOREIGN KEY([LAB_ORDRD_TS_SK])
REFERENCES [dbo].[TimeDim] ([TM_OF_DY_SK])
GO
ALTER TABLE [dbo].[EDVisitFact] CHECK CONSTRAINT [EDVisitFact-TimeDim11]
GO
ALTER TABLE [dbo].[EDVisitFact]  WITH CHECK ADD  CONSTRAINT [EDVisitFact-TimeDim12] FOREIGN KEY([LAB_CMPLTD_TS_SK])
REFERENCES [dbo].[TimeDim] ([TM_OF_DY_SK])
GO
ALTER TABLE [dbo].[EDVisitFact] CHECK CONSTRAINT [EDVisitFact-TimeDim12]
GO
ALTER TABLE [dbo].[EDVisitFact]  WITH CHECK ADD  CONSTRAINT [EDVisitFact-TimeDim123] FOREIGN KEY([IMG_TST_CMPLTD_TS_SK])
REFERENCES [dbo].[TimeDim] ([TM_OF_DY_SK])
GO
ALTER TABLE [dbo].[EDVisitFact] CHECK CONSTRAINT [EDVisitFact-TimeDim123]
GO
ALTER TABLE [dbo].[EDVisitFact]  WITH CHECK ADD  CONSTRAINT [EDVisitFact-TimeDim13] FOREIGN KEY([LAB_PRVDR_RVW_TS_SK])
REFERENCES [dbo].[TimeDim] ([TM_OF_DY_SK])
GO
ALTER TABLE [dbo].[EDVisitFact] CHECK CONSTRAINT [EDVisitFact-TimeDim13]
GO
ALTER TABLE [dbo].[EDVisitFact]  WITH CHECK ADD  CONSTRAINT [EDVisitFact-TimeDim14] FOREIGN KEY([IMG_ORDRD_TS_SK])
REFERENCES [dbo].[TimeDim] ([TM_OF_DY_SK])
GO
ALTER TABLE [dbo].[EDVisitFact] CHECK CONSTRAINT [EDVisitFact-TimeDim14]
GO
ALTER TABLE [dbo].[EDVisitFact]  WITH CHECK ADD  CONSTRAINT [EDVisitFact-TimeDim16] FOREIGN KEY([IMG_PRVDR_RVW_TS_SK])
REFERENCES [dbo].[TimeDim] ([TM_OF_DY_SK])
GO
ALTER TABLE [dbo].[EDVisitFact] CHECK CONSTRAINT [EDVisitFact-TimeDim16]
GO
ALTER TABLE [dbo].[EDVisitFact]  WITH CHECK ADD  CONSTRAINT [EDVisitFact-TimeDim17] FOREIGN KEY([BED_RQST_TS_SK])
REFERENCES [dbo].[TimeDim] ([TM_OF_DY_SK])
GO
ALTER TABLE [dbo].[EDVisitFact] CHECK CONSTRAINT [EDVisitFact-TimeDim17]
GO
ALTER TABLE [dbo].[EDVisitFact]  WITH CHECK ADD  CONSTRAINT [EDVisitFact-TimeDim2] FOREIGN KEY([ED_DSCRG_TS_SK])
REFERENCES [dbo].[TimeDim] ([TM_OF_DY_SK])
GO
ALTER TABLE [dbo].[EDVisitFact] CHECK CONSTRAINT [EDVisitFact-TimeDim2]
GO
ALTER TABLE [dbo].[EDVisitFact]  WITH CHECK ADD  CONSTRAINT [EDVisitFact-TimeDim3] FOREIGN KEY([DSPSTN_INSTNT_TS_SK])
REFERENCES [dbo].[TimeDim] ([TM_OF_DY_SK])
GO
ALTER TABLE [dbo].[EDVisitFact] CHECK CONSTRAINT [EDVisitFact-TimeDim3]
GO
ALTER TABLE [dbo].[EDVisitFact]  WITH CHECK ADD  CONSTRAINT [EDVisitFact-TimeDim4] FOREIGN KEY([FRST_NONED_DEPT_ARRVL_TS_SK])
REFERENCES [dbo].[TimeDim] ([TM_OF_DY_SK])
GO
ALTER TABLE [dbo].[EDVisitFact] CHECK CONSTRAINT [EDVisitFact-TimeDim4]
GO
ALTER TABLE [dbo].[EDVisitFact]  WITH CHECK ADD  CONSTRAINT [EDVisitFact-TimeDim5] FOREIGN KEY([AVS_PRNT_INSTNT_TS_SK])
REFERENCES [dbo].[TimeDim] ([TM_OF_DY_SK])
GO
ALTER TABLE [dbo].[EDVisitFact] CHECK CONSTRAINT [EDVisitFact-TimeDim5]
GO
ALTER TABLE [dbo].[EDVisitFact]  WITH CHECK ADD  CONSTRAINT [EDVisitFact-TimeDim6] FOREIGN KEY([PAT_RMD_TS_SK])
REFERENCES [dbo].[TimeDim] ([TM_OF_DY_SK])
GO
ALTER TABLE [dbo].[EDVisitFact] CHECK CONSTRAINT [EDVisitFact-TimeDim6]
GO
ALTER TABLE [dbo].[EDVisitFact]  WITH CHECK ADD  CONSTRAINT [EDVisitFact-TimeDim7] FOREIGN KEY([REG_CMPLTD_TS_SK])
REFERENCES [dbo].[TimeDim] ([TM_OF_DY_SK])
GO
ALTER TABLE [dbo].[EDVisitFact] CHECK CONSTRAINT [EDVisitFact-TimeDim7]
GO
ALTER TABLE [dbo].[EDVisitFact]  WITH CHECK ADD  CONSTRAINT [EDVisitFact-TimeDim8] FOREIGN KEY([TRGE_START_TS_SK])
REFERENCES [dbo].[TimeDim] ([TM_OF_DY_SK])
GO
ALTER TABLE [dbo].[EDVisitFact] CHECK CONSTRAINT [EDVisitFact-TimeDim8]
GO
ALTER TABLE [dbo].[EDVisitFact]  WITH CHECK ADD  CONSTRAINT [EDVisitFact-TimeDim9] FOREIGN KEY([TRGE_CMPLTD_TS_SK])
REFERENCES [dbo].[TimeDim] ([TM_OF_DY_SK])
GO
ALTER TABLE [dbo].[EDVisitFact] CHECK CONSTRAINT [EDVisitFact-TimeDim9]
GO
