SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LabTestNameDim](
	[TST_CDS] [bigint] IDENTITY(1,1) NOT NULL,
	[TEST_NAME] [varchar](280) NULL,
 CONSTRAINT [PK_LabTestNameDim_TST_CDS] PRIMARY KEY CLUSTERED 
(
	[TST_CDS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
