SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProviderFieldOfPracticeDim](
	[MU_FLD_OF_PRACT_CDS] [int] IDENTITY(1,1) NOT NULL,
	[MU_FLD_OF_PRACT_DESC] [varchar](254) NULL,
 CONSTRAINT [PK_ProviderFieldOfPracticeDim_MU_FLD_OF_PRACT_CDS] PRIMARY KEY CLUSTERED 
(
	[MU_FLD_OF_PRACT_CDS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
