SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OutpatientDim](
	[ENCNT_SK] [bigint] NOT NULL,
	[APPT_STTS_CDS] [int] NULL,
	[VST_FNNCL_CLSS_CDS] [int] NULL,
	[ADMT_CNF_STT_CDS] [int] NULL,
	[APPT_CNF_STT_CDS] [int] NULL,
	[CNCL_RSN_CDS] [int] NULL,
	[AGE_YRS_AT_ENCNT] [int] NULL,
	[AGE_MNTHS_AT_ENCNT] [int] NULL,
	[AGE_DYS_AT_ENCNT] [int] NULL,
	[OUTPTNT_VST_SK] [bigint] NOT NULL,
	[SRC_TYPE] [varchar](50) NULL,
	[APPT_STTS_NM] [varchar](255) NULL,
	[MDCTN_RVWD_IND] [varchar](3) NULL,
	[PRBLM_LST_RVWD] [varchar](3) NULL,
	[AVS_PRNTD_IND] [varchar](3) NULL,
	[ALLRG_RVWD_IND] [varchar](3) NULL,
	[CLSD_IND] [varchar](3) NULL,
	[APPT_CMPLT_IND] [varchar](3) NULL,
	[WLKN_IND] [varchar](3) NULL,
	[RFRRL_RQRD_IND] [varchar](3) NULL,
	[AS_ANALYSIS_C185] [varchar](9) NULL,
	[AS_ANALYSIS_C186] [varchar](9) NULL,
	[AS_ANALYSIS_C3] [varchar](9) NULL,
	[AS_ANALYSIS_D2] [varchar](9) NULL,
	[AS_ANALYSIS_D3] [varchar](9) NULL,
	[AS_ANALYSIS_D98] [varchar](9) NULL,
	[AS_ANALYSIS_D99] [varchar](9) NULL,
	[AS_ANALYSIS_Q11822_1] [varchar](9) NULL,
	[AS_CAHPS_OSC_1] [varchar](256) NULL,
	[AS_CAHPS_OSC_10] [varchar](256) NULL,
	[AS_CAHPS_OSC_11CL] [varchar](256) NULL,
	[AS_CAHPS_OSC_12CL] [varchar](256) NULL,
	[AS_CAHPS_OSC_13] [varchar](256) NULL,
	[AS_CAHPS_OSC_14] [varchar](256) NULL,
	[AS_CAHPS_OSC_15] [varchar](256) NULL,
	[AS_CAHPS_OSC_16] [varchar](256) NULL,
	[AS_CAHPS_OSC_17] [varchar](256) NULL,
	[AS_CAHPS_OSC_18] [varchar](256) NULL,
	[AS_CAHPS_OSC_19] [varchar](256) NULL,
	[AS_CAHPS_OSC_2] [varchar](256) NULL,
	[AS_CAHPS_OSC_20] [varchar](256) NULL,
	[AS_CAHPS_OSC_21] [varchar](256) NULL,
	[AS_CAHPS_OSC_22] [varchar](256) NULL,
	[AS_CAHPS_OSC_23] [varchar](256) NULL,
	[AS_CAHPS_OSC_24] [varchar](256) NULL,
	[AS_CAHPS_OSC_3] [varchar](256) NULL,
	[AS_CAHPS_OSC_4] [varchar](256) NULL,
	[AS_CAHPS_OSC_5] [varchar](256) NULL,
	[AS_CAHPS_OSC_6] [varchar](256) NULL,
	[AS_CAHPS_OSC_7] [varchar](256) NULL,
	[AS_CAHPS_OSC_8] [varchar](256) NULL,
	[AS_CAHPS_OSC_9] [varchar](256) NULL,
	[PG_OU_SURVEY_ID] [varchar](256) NULL,
	[OU_ANALYSIS_A4_CDS] [int] NULL,
	[OU_ANALYSIS_A4] [varchar](9) NULL,
	[OU_ANALYSIS_A48_CDS] [int] NULL,
	[OU_ANALYSIS_A48] [varchar](9) NULL,
	[OU_ANALYSIS_A6_CDS] [int] NULL,
	[OU_ANALYSIS_A6] [varchar](9) NULL,
	[OU_ANALYSIS_A7_CDS] [int] NULL,
	[OU_ANALYSIS_A7] [varchar](9) NULL,
	[OU_ANALYSIS_C121_CDS] [int] NULL,
	[OU_ANALYSIS_C121] [varchar](9) NULL,
	[OU_ANALYSIS_C2_CDS] [int] NULL,
	[OU_ANALYSIS_C2] [varchar](9) NULL,
	[OU_ANALYSIS_C6_CDS] [int] NULL,
	[OU_ANALYSIS_C6] [varchar](9) NULL,
	[OU_ANALYSIS_C7_CDS] [int] NULL,
	[OU_ANALYSIS_C7] [varchar](9) NULL,
	[OU_ANALYSIS_C8_CDS] [int] NULL,
	[OU_ANALYSIS_C8] [varchar](9) NULL,
	[OU_ANALYSIS_D2_CDS] [int] NULL,
	[OU_ANALYSIS_D2] [varchar](9) NULL,
	[OU_ANALYSIS_D3_CDS] [int] NULL,
	[OU_ANALYSIS_D3] [varchar](9) NULL,
	[OU_ANALYSIS_E1_CDS] [int] NULL,
	[OU_ANALYSIS_E1] [varchar](9) NULL,
	[OU_ANALYSIS_E101_CDS] [int] NULL,
	[OU_ANALYSIS_E101] [varchar](9) NULL,
	[OU_ANALYSIS_E102_CDS] [int] NULL,
	[OU_ANALYSIS_E102] [varchar](9) NULL,
	[OU_ANALYSIS_E14_CDS] [int] NULL,
	[OU_ANALYSIS_E14] [varchar](9) NULL,
	[OU_ANALYSIS_E38_CDS] [int] NULL,
	[OU_ANALYSIS_E38] [varchar](9) NULL,
	[OU_ANALYSIS_E4_CDS] [int] NULL,
	[OU_ANALYSIS_E4] [varchar](9) NULL,
	[OU_ANALYSIS_Q11822_1_CDS] [int] NULL,
	[OU_ANALYSIS_Q11822_1] [varchar](9) NULL,
	[OU_DEMOGRAPHICS_DAYWEEK_CDS] [int] NULL,
	[OU_DEMOGRAPHICS_DAYWEEK] [varchar](50) NULL,
	[PG_UC_SURVEY_ID] [varchar](256) NULL,
	[UC_ANALYSIS_A2_CDS] [int] NULL,
	[UC_ANALYSIS_A2] [varchar](9) NULL,
	[UC_ANALYSIS_A28_CDS] [int] NULL,
	[UC_ANALYSIS_A28] [varchar](9) NULL,
	[UC_ANALYSIS_A3_CDS] [int] NULL,
	[UC_ANALYSIS_A3] [varchar](9) NULL,
	[UC_ANALYSIS_A4_CDS] [int] NULL,
	[UC_ANALYSIS_A4] [varchar](9) NULL,
	[UC_ANALYSIS_A5_CDS] [int] NULL,
	[UC_ANALYSIS_A5] [varchar](9) NULL,
	[UC_ANALYSIS_B1_CDS] [int] NULL,
	[UC_ANALYSIS_B1] [varchar](9) NULL,
	[UC_ANALYSIS_B3_CDS] [int] NULL,
	[UC_ANALYSIS_B3] [varchar](9) NULL,
	[UC_ANALYSIS_B4_CDS] [int] NULL,
	[UC_ANALYSIS_B4] [varchar](9) NULL,
	[UC_ANALYSIS_B5_CDS] [int] NULL,
	[UC_ANALYSIS_B5] [varchar](9) NULL,
	[UC_ANALYSIS_B61_CDS] [int] NULL,
	[UC_ANALYSIS_B61] [varchar](9) NULL,
	[UC_ANALYSIS_C1_CDS] [int] NULL,
	[UC_ANALYSIS_C1] [varchar](9) NULL,
	[UC_ANALYSIS_C2_CDS] [int] NULL,
	[UC_ANALYSIS_C2] [varchar](9) NULL,
	[UC_ANALYSIS_C34_CDS] [int] NULL,
	[UC_ANALYSIS_C34] [varchar](9) NULL,
	[UC_ANALYSIS_C4_CDS] [int] NULL,
	[UC_ANALYSIS_C4] [varchar](9) NULL,
	[UC_ANALYSIS_C5_CDS] [int] NULL,
	[UC_ANALYSIS_C5] [varchar](9) NULL,
	[UC_ANALYSIS_C60_CDS] [int] NULL,
	[UC_ANALYSIS_C60] [varchar](9) NULL,
	[UC_ANALYSIS_C7_CDS] [int] NULL,
	[UC_ANALYSIS_C7] [varchar](9) NULL,
	[UC_ANALYSIS_D2_CDS] [int] NULL,
	[UC_ANALYSIS_D2] [varchar](9) NULL,
	[UC_ANALYSIS_D3_CDS] [int] NULL,
	[UC_ANALYSIS_D3] [varchar](9) NULL,
	[UC_ANALYSIS_D4_CDS] [int] NULL,
	[UC_ANALYSIS_D4] [varchar](9) NULL,
	[UC_ANALYSIS_D58_CDS] [int] NULL,
	[UC_ANALYSIS_D58] [varchar](9) NULL,
	[UC_ANALYSIS_D59_CDS] [int] NULL,
	[UC_ANALYSIS_D59] [varchar](9) NULL,
	[UC_ANALYSIS_E1_CDS] [int] NULL,
	[UC_ANALYSIS_E1] [varchar](9) NULL,
	[UC_ANALYSIS_E2_CDS] [int] NULL,
	[UC_ANALYSIS_E2] [varchar](9) NULL,
	[UC_ANALYSIS_E3_CDS] [int] NULL,
	[UC_ANALYSIS_E3] [varchar](9) NULL,
	[UC_ANALYSIS_F1_CDS] [int] NULL,
	[UC_ANALYSIS_F1] [varchar](9) NULL,
	[UC_ANALYSIS_F120_CDS] [int] NULL,
	[UC_ANALYSIS_F120] [varchar](9) NULL,
	[UC_ANALYSIS_F2_CDS] [int] NULL,
	[UC_ANALYSIS_F2] [varchar](9) NULL,
	[UC_ANALYSIS_F4_CDS] [int] NULL,
	[UC_ANALYSIS_F4] [varchar](9) NULL,
	[UC_ANALYSIS_F41_CDS] [int] NULL,
	[UC_ANALYSIS_F41] [varchar](9) NULL,
	[UC_ANALYSIS_Q11822_1_CDS] [int] NULL,
	[UC_ANALYSIS_Q11822_1] [varchar](9) NULL,
	[UC_DEMOGRAPHICS_DAYWEEK_CDS] [int] NULL,
	[UC_DEMOGRAPHICS_DAYWEEK] [varchar](50) NULL,
	[PG_MD_SURVEY_ID] [varchar](256) NULL,
	[MD_ANALYSIS_A1_CDS] [int] NULL,
	[MD_ANALYSIS_A1] [varchar](9) NULL,
	[MD_ANALYSIS_A14_CDS] [int] NULL,
	[MD_ANALYSIS_A14] [varchar](9) NULL,
	[MD_ANALYSIS_CP1_CDS] [int] NULL,
	[MD_ANALYSIS_CP1] [varchar](9) NULL,
	[MD_ANALYSIS_CP10_CDS] [int] NULL,
	[MD_ANALYSIS_CP10] [varchar](9) NULL,
	[MD_ANALYSIS_CP2_CDS] [int] NULL,
	[MD_ANALYSIS_CP2] [varchar](9) NULL,
	[MD_ANALYSIS_CP3_CDS] [int] NULL,
	[MD_ANALYSIS_CP3] [varchar](9) NULL,
	[MD_ANALYSIS_CP4_CDS] [int] NULL,
	[MD_ANALYSIS_CP4] [varchar](9) NULL,
	[MD_ANALYSIS_CP5_CDS] [int] NULL,
	[MD_ANALYSIS_CP5] [varchar](9) NULL,
	[MD_ANALYSIS_CP6_CDS] [int] NULL,
	[MD_ANALYSIS_CP6] [varchar](9) NULL,
	[MD_ANALYSIS_CP7_CDS] [int] NULL,
	[MD_ANALYSIS_CP7] [varchar](9) NULL,
	[MD_ANALYSIS_CP8_CDS] [int] NULL,
	[MD_ANALYSIS_CP8] [varchar](9) NULL,
	[MD_ANALYSIS_CP9_CDS] [int] NULL,
	[MD_ANALYSIS_CP9] [varchar](9) NULL,
	[MD_ANALYSIS_I1_CDS] [int] NULL,
	[MD_ANALYSIS_I1] [varchar](9) NULL,
	[MD_ANALYSIS_I2_CDS] [int] NULL,
	[MD_ANALYSIS_I2] [varchar](9) NULL,
	[MD_ANALYSIS_I3_CDS] [int] NULL,
	[MD_ANALYSIS_I3] [varchar](9) NULL,
	[MD_ANALYSIS_I60_CDS] [int] NULL,
	[MD_ANALYSIS_I60] [varchar](9) NULL,
	[MD_ANALYSIS_N1_CDS] [int] NULL,
	[MD_ANALYSIS_N1] [varchar](9) NULL,
	[MD_ANALYSIS_N2_CDS] [int] NULL,
	[MD_ANALYSIS_N2] [varchar](9) NULL,
	[MD_ANALYSIS_O15_CDS] [int] NULL,
	[MD_ANALYSIS_O15] [varchar](9) NULL,
	[MD_ANALYSIS_O2_CDS] [int] NULL,
	[MD_ANALYSIS_O2] [varchar](9) NULL,
	[MD_ANALYSIS_O4_CDS] [int] NULL,
	[MD_ANALYSIS_O4] [varchar](9) NULL,
	[MD_ANALYSIS_Q11822_1_CDS] [int] NULL,
	[MD_ANALYSIS_Q11822_1] [varchar](9) NULL,
	[MD_ANALYSIS_V2_CDS] [int] NULL,
	[MD_ANALYSIS_V2] [varchar](9) NULL,
	[MD_ANALYSIS_V60_CDS] [int] NULL,
	[MD_ANALYSIS_V60] [varchar](9) NULL,
	[MD_ANALYSIS_V7_CDS] [int] NULL,
	[MD_ANALYSIS_V7] [varchar](9) NULL,
	[MD_CAHPS_ACO_01C] [varchar](256) NULL,
	[MD_CAHPS_ACO_01C_CDS] [int] NULL,
	[MD_CAHPS_ACO_02C] [varchar](256) NULL,
	[MD_CAHPS_ACO_02C_CDS] [int] NULL,
	[MD_CAHPS_ACO_03C] [varchar](256) NULL,
	[MD_CAHPS_ACO_03C_CDS] [int] NULL,
	[MD_CAHPS_ACO_04C] [varchar](256) NULL,
	[MD_CAHPS_ACO_04C_CDS] [int] NULL,
	[MD_CAHPS_ACO_05C] [varchar](256) NULL,
	[MD_CAHPS_ACO_05C_CDS] [int] NULL,
	[MD_CAHPS_ACO_06C] [varchar](256) NULL,
	[MD_CAHPS_ACO_06C_CDS] [int] NULL,
	[MD_CAHPS_ACO_07C] [varchar](256) NULL,
	[MD_CAHPS_ACO_07C_CDS] [int] NULL,
	[MD_CAHPS_ACO_08C] [varchar](256) NULL,
	[MD_CAHPS_ACO_08C_CDS] [int] NULL,
	[MD_CAHPS_ACO_09C] [varchar](256) NULL,
	[MD_CAHPS_ACO_09C_CDS] [int] NULL,
	[MD_CAHPS_ACO_12C] [varchar](256) NULL,
	[MD_CAHPS_ACO_12C_CDS] [int] NULL,
	[MD_CAHPS_ACO_13C] [varchar](256) NULL,
	[MD_CAHPS_ACO_13C_CDS] [int] NULL,
	[MD_CAHPS_ACO_14C] [varchar](256) NULL,
	[MD_CAHPS_ACO_14C_CDS] [int] NULL,
	[MD_CAHPS_ACO_38C] [varchar](256) NULL,
	[MD_CAHPS_ACO_38C_CDS] [int] NULL,
	[MD_CAHPS_ACO_39C] [varchar](256) NULL,
	[MD_CAHPS_ACO_39C_CDS] [int] NULL,
	[MD_CAHPS_CG_1] [varchar](256) NULL,
	[MD_CAHPS_CG_1_CDS] [int] NULL,
	[MD_CAHPS_CG_2CL] [varchar](256) NULL,
	[MD_CAHPS_CG_2CL_CDS] [int] NULL,
	[MD_CAHPS_CG_18CL] [varchar](256) NULL,
	[MD_CAHPS_CG_18CL_CDS] [int] NULL,
	[MD_CAHPS_CG_19CL] [varchar](256) NULL,
	[MD_CAHPS_CG_19CL_CDS] [int] NULL,
	[MD_CAHPS_CG_20CL] [varchar](256) NULL,
	[MD_CAHPS_CG_20CL_CDS] [int] NULL,
	[MD_CAHPS_CG_21CL] [varchar](256) NULL,
	[MD_CAHPS_CG_21CL_CDS] [int] NULL,
	[MD_CAHPS_CG_22CL] [varchar](256) NULL,
	[MD_CAHPS_CG_22CL_CDS] [int] NULL,
	[MD_CAHPS_CG_23CL] [varchar](256) NULL,
	[MD_CAHPS_CG_23CL_CDS] [int] NULL,
	[MD_CAHPS_CG_24CL] [varchar](256) NULL,
	[MD_CAHPS_CG_24CL_CDS] [int] NULL,
	[MD_CAHPS_CG_25CL] [varchar](256) NULL,
	[MD_CAHPS_CG_25CL_CDS] [int] NULL,
	[MD_CAHPS_CG_26CL] [varchar](256) NULL,
	[MD_CAHPS_CG_26CL_CDS] [int] NULL,
	[MD_CAHPS_CG_27CL] [varchar](256) NULL,
	[MD_CAHPS_CG_27CL_CDS] [int] NULL,
	[MD_CAHPS_CG_28CL] [varchar](256) NULL,
	[MD_CAHPS_CG_28CL_CDS] [int] NULL,
	[MD_CAHPS_CG_29CL] [varchar](256) NULL,
	[MD_CAHPS_CG_29CL_CDS] [int] NULL,
	[MD_CAHPS_CG_34CL] [varchar](256) NULL,
	[MD_CAHPS_CG_34CL_CDS] [int] NULL,
	[MD_CAHPS_CG_35CL] [varchar](256) NULL,
	[MD_CAHPS_CG_35CL_CDS] [int] NULL,
	[MD_CAHPS_CG_36ACL] [varchar](256) NULL,
	[MD_CAHPS_CG_36ACL_CDS] [int] NULL,
	[MD_CAHPS_CG_36BCL] [varchar](256) NULL,
	[MD_CAHPS_CG_36BCL_CDS] [int] NULL,
	[MD_CAHPS_CG_36CCL] [varchar](256) NULL,
	[MD_CAHPS_CG_36CCL_CDS] [int] NULL,
	[MD_CAHPS_CG_36DCL] [varchar](256) NULL,
	[MD_CAHPS_CG_36DCL_CDS] [int] NULL,
	[MD_CAHPS_CG_36ECL] [varchar](256) NULL,
	[MD_CAHPS_CG_36ECL_CDS] [int] NULL,
	[MD_CAHPS_CG_36FCL] [varchar](256) NULL,
	[MD_CAHPS_CG_36FCL_CDS] [int] NULL,
	[MD_CAHPS_CG_37CL] [varchar](256) NULL,
	[MD_CAHPS_CG_37CL_CDS] [int] NULL,
	[MD_CAHPS_CG_38A] [varchar](256) NULL,
	[MD_CAHPS_CG_38A_CDS] [int] NULL,
	[MD_CAHPS_CG_38B] [varchar](256) NULL,
	[MD_CAHPS_CG_38B_CDS] [int] NULL,
	[MD_CAHPS_CG_38C] [varchar](256) NULL,
	[MD_CAHPS_CG_38C_CDS] [int] NULL,
	[MD_CAHPS_CG_38D] [varchar](256) NULL,
	[MD_CAHPS_CG_38D_CDS] [int] NULL,
	[MD_CAHPS_CG_38E] [varchar](256) NULL,
	[MD_CAHPS_CG_38E_CDS] [int] NULL,
	[MD_CAHPS_CG_57CL] [varchar](256) NULL,
	[MD_CAHPS_CG_57CL_CDS] [int] NULL,
	[SURVEY_TYPE] [varchar](2) NULL,
	[COMBINED_COMFORT_CDS] [int] NULL,
	[COMBINED_COMFORT] [varchar](9) NULL,
	[COMBINED_RATING_CDS] [int] NULL,
	[COMBINED_RATING] [varchar](9) NULL,
	[COMBINED_TEAMWORK_CDS] [int] NULL,
	[COMBINED_TEAMWORK] [varchar](9) NULL,
	[COMBINED_PRIVACY_CDS] [int] NULL,
	[COMBINED_PRIVACY] [varchar](9) NULL,
	[COMBINED_SENSITVITY_CDS] [int] NULL,
	[COMBINED_SENSITVITY] [varchar](9) NULL,
	[AS_ANALYSIS_C185_CDS] [int] NULL,
	[AS_ANALYSIS_C186_CDS] [int] NULL,
	[AS_ANALYSIS_C3_CDS] [int] NULL,
	[AS_ANALYSIS_D2_CDS] [int] NULL,
	[AS_ANALYSIS_D3_CDS] [int] NULL,
	[AS_ANALYSIS_D98_CDS] [int] NULL,
	[AS_ANALYSIS_D99_CDS] [int] NULL,
	[AS_ANALYSIS_Q11822_1_CDS] [int] NULL,
	[AS_CAHPS_OSC_1_CDS] [int] NULL,
	[AS_CAHPS_OSC_10_CDS] [int] NULL,
	[AS_CAHPS_OSC_11CL_CDS] [int] NULL,
	[AS_CAHPS_OSC_12CL_CDS] [int] NULL,
	[AS_CAHPS_OSC_13_CDS] [int] NULL,
	[AS_CAHPS_OSC_14_CDS] [int] NULL,
	[AS_CAHPS_OSC_15_CDS] [int] NULL,
	[AS_CAHPS_OSC_16_CDS] [int] NULL,
	[AS_CAHPS_OSC_17_CDS] [int] NULL,
	[AS_CAHPS_OSC_18_CDS] [int] NULL,
	[AS_CAHPS_OSC_19_CDS] [int] NULL,
	[AS_CAHPS_OSC_2_CDS] [int] NULL,
	[AS_CAHPS_OSC_20_CDS] [int] NULL,
	[AS_CAHPS_OSC_21_CDS] [int] NULL,
	[AS_CAHPS_OSC_22_CDS] [int] NULL,
	[AS_CAHPS_OSC_23_CDS] [int] NULL,
	[AS_CAHPS_OSC_24_CDS] [int] NULL,
	[AS_CAHPS_OSC_3_CDS] [int] NULL,
	[AS_CAHPS_OSC_4_CDS] [int] NULL,
	[AS_CAHPS_OSC_5_CDS] [int] NULL,
	[AS_CAHPS_OSC_6_CDS] [int] NULL,
	[AS_CAHPS_OSC_7_CDS] [int] NULL,
	[AS_CAHPS_OSC_8_CDS] [int] NULL,
	[AS_CAHPS_OSC_9_CDS] [int] NULL,
 CONSTRAINT [PK_OutpatientDim_ENCNT_SK] PRIMARY KEY CLUSTERED 
(
	[ENCNT_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OutpatientDim]  WITH NOCHECK ADD  CONSTRAINT [OutpatientDim-EncounterDim] FOREIGN KEY([ENCNT_SK])
REFERENCES [dbo].[EncounterDim] ([ENCNT_SK])
GO
ALTER TABLE [dbo].[OutpatientDim] CHECK CONSTRAINT [OutpatientDim-EncounterDim]
GO
ALTER TABLE [dbo].[OutpatientDim]  WITH NOCHECK ADD  CONSTRAINT [OutpatientDim-OutpatientAdmitConfStatrusDim] FOREIGN KEY([ADMT_CNF_STT_CDS])
REFERENCES [dbo].[OutpatientAdmitConfStatrusDim] ([ADMT_CNF_STT_CDS])
GO
ALTER TABLE [dbo].[OutpatientDim] CHECK CONSTRAINT [OutpatientDim-OutpatientAdmitConfStatrusDim]
GO
ALTER TABLE [dbo].[OutpatientDim]  WITH NOCHECK ADD  CONSTRAINT [OutpatientDim-OutpatientAppointmentConfirmationStatusDim] FOREIGN KEY([APPT_CNF_STT_CDS])
REFERENCES [dbo].[OutpatientAppointmentConfirmationStatusDim] ([APPT_CNF_STT_CDS])
GO
ALTER TABLE [dbo].[OutpatientDim] CHECK CONSTRAINT [OutpatientDim-OutpatientAppointmentConfirmationStatusDim]
GO
ALTER TABLE [dbo].[OutpatientDim]  WITH NOCHECK ADD  CONSTRAINT [OutpatientDim-OutpatientAppointmentStatusDim] FOREIGN KEY([APPT_STTS_CDS])
REFERENCES [dbo].[OutpatientAppointmentStatusDim] ([APPT_STTS_CDS])
GO
ALTER TABLE [dbo].[OutpatientDim] CHECK CONSTRAINT [OutpatientDim-OutpatientAppointmentStatusDim]
GO
ALTER TABLE [dbo].[OutpatientDim]  WITH NOCHECK ADD  CONSTRAINT [OutpatientDim-OutpatientCancellationReasonDim] FOREIGN KEY([CNCL_RSN_CDS])
REFERENCES [dbo].[OutpatientCancellationReasonDim] ([CNCL_RSN_CDS])
GO
ALTER TABLE [dbo].[OutpatientDim] CHECK CONSTRAINT [OutpatientDim-OutpatientCancellationReasonDim]
GO
ALTER TABLE [dbo].[OutpatientDim]  WITH NOCHECK ADD  CONSTRAINT [OutpatientDim-OutpatientFinancialClassDim] FOREIGN KEY([VST_FNNCL_CLSS_CDS])
REFERENCES [dbo].[OutpatientFinancialClassDim] ([VST_FNNCL_CLSS_CDS])
GO
ALTER TABLE [dbo].[OutpatientDim] CHECK CONSTRAINT [OutpatientDim-OutpatientFinancialClassDim]
GO
