SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LabTestOrderTypeDim](
	[ORDR_TYPE_CDS] [int] IDENTITY(1,1) NOT NULL,
	[ORDR_TYPE_DESC] [varchar](50) NULL,
 CONSTRAINT [PK_LabTestOrderTypeDim_ORDR_TYPE_CDS] PRIMARY KEY CLUSTERED 
(
	[ORDR_TYPE_CDS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
