SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProcedureCategoryDim](
	[PRCDR_CGY_ID] [int] IDENTITY(1,1) NOT NULL,
	[PRCDR_CGY_NM] [varchar](255) NULL,
 CONSTRAINT [PK_ProcedureCategoryDim_PRCDR_CGY_ID] PRIMARY KEY CLUSTERED 
(
	[PRCDR_CGY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
