SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EDVisitFinancialClass](
	[VST_FNNCL_CLSS_CDS] [int] IDENTITY(1,1) NOT NULL,
	[VST_FNNCL_CLSS_DESC] [varchar](255) NULL,
 CONSTRAINT [PK_EDVisitFinancialClass_VST_FNNCL_CLSS_CDS] PRIMARY KEY CLUSTERED 
(
	[VST_FNNCL_CLSS_CDS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
