SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DRGTypeDim](
	[DRG_TYPE_CD] [varchar](255) NOT NULL,
	[DRG_TYPE_DSPLY_NM] [varchar](2059) NULL,
 CONSTRAINT [PK_DRGTypeDim_DRG_TYPE_CD] PRIMARY KEY CLUSTERED 
(
	[DRG_TYPE_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
