SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCube_Measure_Aggregator](
	[measure_aggregator] [int] NOT NULL,
	[measure_aggregator_name] [nvarchar](18) NOT NULL
) ON [PRIMARY]
GO
