SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InpatientAdmitSourceDim](
	[ADMT_SRC_CDS] [int] IDENTITY(1,1) NOT NULL,
	[ADMT_SRC_DESC] [varchar](255) NULL,
 CONSTRAINT [PK_InpatientAdmitSourceDim_ADMT_SRC_CDS] PRIMARY KEY CLUSTERED 
(
	[ADMT_SRC_CDS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
