SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InpatientDischargeDispositionDim](
	[DSCRG_DSPSTN_CDS] [int] IDENTITY(1,1) NOT NULL,
	[DSCRG_DSPSTN_DESC] [varchar](255) NULL,
 CONSTRAINT [PK_InpatientDischargeDispositionDim_DSCRG_DSPSTN_CDS] PRIMARY KEY CLUSTERED 
(
	[DSCRG_DSPSTN_CDS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
