SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCube_Dimension_Type](
	[dimension_type] [int] NOT NULL,
	[dimension_type_name] [nvarchar](28) NOT NULL
) ON [PRIMARY]
GO
