SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProcedureOrderSetDm](
	[ORDR_SET_CD] [bigint] IDENTITY(1,1) NOT NULL,
	[ORDR_SET_NM] [varchar](255) NULL,
 CONSTRAINT [PK_ProcedureOrderSetDm_ORDR_SET_CD] PRIMARY KEY CLUSTERED 
(
	[ORDR_SET_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
