SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EncounterLevelofCareDim](
	[LEVL_OF_CARE_CDS] [int] IDENTITY(1,1) NOT NULL,
	[LEVL_OF_CARE_DESC] [varchar](254) NULL,
 CONSTRAINT [PK_EncounterLevelofCareDim_LEVL_OF_CARE_CDS] PRIMARY KEY CLUSTERED 
(
	[LEVL_OF_CARE_CDS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
