SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EDVisitAcuityLevelDim](
	[ACTY_LVL_CDS] [int] IDENTITY(1,1) NOT NULL,
	[ACTY_LVL_DESC] [varchar](15) NULL,
 CONSTRAINT [PK_EDVisitAcuityLevelDim_ACTY_LVL_CDS] PRIMARY KEY CLUSTERED 
(
	[ACTY_LVL_CDS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
