USE [master]
GO
/****** Object:  Database [carilion_dw]    Script Date: 6/21/2018 11:44:21 ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'carilion_dw')
BEGIN
CREATE DATABASE [carilion_dw]
 CONTAINMENT = NONE
END
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [carilion_dw].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [carilion_dw]
GO
set nocount on
GO

GO
