USE [carilion_dw]
GO
set nocount on
GO

GO
/****** Object:  Table [dbo].[UserDim]    Script Date: 6/21/2018 11:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserDim]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[UserDim](
	[USR_SK] [bigint] IDENTITY(1,1) NOT NULL,
	[USER_NAME] [varchar](553) NOT NULL,
	[SRC_TYPE] [varchar](50) NOT NULL,
	[LDAP_USR] [varchar](50) NOT NULL,
	[SEX_CDS] [int] NOT NULL,
 CONSTRAINT [PK_UserDim_USR_SK] PRIMARY KEY CLUSTERED 
(
	[USR_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[UserDim] ON 

INSERT [dbo].[UserDim] ([USR_SK], [USER_NAME], [SRC_TYPE], [LDAP_USR], [SEX_CDS]) VALUES (1, N'cklenovo\carlos', N'quantare et novum quis gravum quo, venit. apparens', N'cklenovo\carlos', 2)
INSERT [dbo].[UserDim] ([USR_SK], [USER_NAME], [SRC_TYPE], [LDAP_USR], [SEX_CDS]) VALUES (2, N'cklenovo\SSAS_USER01', N'linguens et linguens plorum fecundio, Et linguens', N'cklenovo\SSAS_USER01', 2)
INSERT [dbo].[UserDim] ([USR_SK], [USER_NAME], [SRC_TYPE], [LDAP_USR], [SEX_CDS]) VALUES (3, N'cklenovo\SSAS_USER02', N'parte regit, Longam, et parte Sed Versus essit.', N'cklenovo\SSAS_USER02', 2)
GO
SET IDENTITY_INSERT [dbo].[UserDim] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserDim_U_LDAP]    Script Date: 6/21/2018 11:44:28 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[UserDim]') AND name = N'IX_UserDim_U_LDAP')
CREATE UNIQUE NONCLUSTERED INDEX [IX_UserDim_U_LDAP] ON [dbo].[UserDim]
(
	[LDAP_USR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[UserDim-UserGenderDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserDim]'))
ALTER TABLE [dbo].[UserDim]  WITH CHECK ADD  CONSTRAINT [UserDim-UserGenderDim] FOREIGN KEY([SEX_CDS])
REFERENCES [dbo].[UserGenderDim] ([SEX_CDS])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[UserDim-UserGenderDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserDim]'))
ALTER TABLE [dbo].[UserDim] CHECK CONSTRAINT [UserDim-UserGenderDim]
GO
