USE [carilion_dw]
GO
set nocount on
GO

GO
/****** Object:  Table [dbo].[DRGDim]    Script Date: 6/21/2018 11:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DRGDim]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DRGDim](
	[DRG_CD_SK] [int] IDENTITY(1,1) NOT NULL,
	[SRC_DRG_ID] [varchar](255) NULL,
	[DRG_NM] [varchar](255) NULL,
	[TRNL_DRG_CD] [varchar](20) NULL,
	[MDC_CD] [int] NULL,
	[MDC_NM] [varchar](100) NULL,
	[DRG_CLASS] [varchar](20) NULL,
	[SVL_CD] [int] NULL,
	[MSDRG_SVL] [varchar](21) NULL,
 CONSTRAINT [PK_DRGDim_DRG_CD_SK] PRIMARY KEY CLUSTERED 
(
	[DRG_CD_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[DRGDim] ON 

INSERT [dbo].[DRGDim] ([DRG_CD_SK], [SRC_DRG_ID], [DRG_NM], [TRNL_DRG_CD], [MDC_CD], [MDC_NM], [DRG_CLASS], [SVL_CD], [MSDRG_SVL]) VALUES (1, N'03187', N'E3CAMBV5T4WC5EWIN3KU948JVU51MFG6SLROUEOLNOXIM11UX7COW119VSFS6TIEOQKJN8O9EY6K6PWTTB4E2S9QKHS2YWFU6JUWGH7PJ29YUG26VLZVP3BVGUY5FLBIICENU0CB3FV0IBV4EM6DXJ537YGMI19YRRFI1FCV8NR98BD5ZUQ', N'OSJ', 733853170, N'96ZN9ODIXB8FP', N'KW6344VMA203', 1952068980, N'5AMZV0VV1JLH')
INSERT [dbo].[DRGDim] ([DRG_CD_SK], [SRC_DRG_ID], [DRG_NM], [TRNL_DRG_CD], [MDC_CD], [MDC_NM], [DRG_CLASS], [SVL_CD], [MSDRG_SVL]) VALUES (2, N'30431', N'EXLZ7BGVJQS15W8RVC2ZAB49RVVVLBMNBHJT6GAQZGBIUP4B2M9', N'ISD97', 1056785053, N'RSI6P9ZM9USF0V1I8DUNW5WWEWHEA39224BKPUINVNX4UTOHG', N'7E7573D8SMXFAM5U', 1265013596, N'LN1D9VNQ4B4Q0VPG')
INSERT [dbo].[DRGDim] ([DRG_CD_SK], [SRC_DRG_ID], [DRG_NM], [TRNL_DRG_CD], [MDC_CD], [MDC_NM], [DRG_CLASS], [SVL_CD], [MSDRG_SVL]) VALUES (3, N'67210', N'SQI3TB7CGK9834QOCFLF2B0UZME2RJSZ10VKYG0U8YAE63EQZFYN0TKGQO37X5LWSA6395PWEQ631LNW7O2BL4Y7FEUACSX', N'O1', -408330855, N'3UK1MMVMSTRLC5KQCVJHTEV7S98R2K8ZXV0FI0IPO22PW9ARK4HSXZKPZD9C', N'IS', -1169521937, N'1LXP0NYF')
SET IDENTITY_INSERT [dbo].[DRGDim] OFF
