USE [carilion_dw]
GO
/****** Object:  Table [dbo].[MeasureGroupDim]    Script Date: 6/21/2018 11:44:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MeasureGroupDim]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MeasureGroupDim](
	[Measure_Group_Dim_ID] [int] NOT NULL,
	[Measure_Group_ID] [varchar](4000) NULL,
	[Glossary_Link] [varchar](4000) NULL
) ON [PRIMARY]
END
GO
INSERT [dbo].[MeasureGroupDim] ([Measure_Group_Dim_ID], [Measure_Group_ID], [Glossary_Link]) VALUES (3, N'26687', NULL)
