USE [carilion_dw]
GO
set nocount on
GO

GO
/****** Object:  Table [dbo].[ProcedureOrderStandingStatusDim]    Script Date: 6/21/2018 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProcedureOrderStandingStatusDim]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ProcedureOrderStandingStatusDim](
	[STNDNG_STS_CD] [varchar](1) NOT NULL,
	[STNDNG_STS_NM] [varchar](255) NULL,
 CONSTRAINT [PK_ProcedureOrderStandingStatusDim_STNDNG_STS_CD] PRIMARY KEY CLUSTERED 
(
	[STNDNG_STS_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
INSERT [dbo].[ProcedureOrderStandingStatusDim] ([STNDNG_STS_CD], [STNDNG_STS_NM]) VALUES (N'6', N'Q6WS8XWMIZFF6N78YOWHJAVTPMSG1CXAEWT9Y5467476DGLK8B429M2FB33L5FL5240ATYASKQ9F3OG9077P7V1SUDXV2I1RI148FBQ')
INSERT [dbo].[ProcedureOrderStandingStatusDim] ([STNDNG_STS_CD], [STNDNG_STS_NM]) VALUES (N'A', N'3DGFBZV2Y2B7MCMYA5H00EUACI4P3F1QL0DA9FFK4956R4Q568XPKZIPI53SU5ZI0KMMYBPVQWVR9OJ8SYJUIB6LHOS3CMPZAM56H46UJ2ZN3RGTMU0WM40P')
INSERT [dbo].[ProcedureOrderStandingStatusDim] ([STNDNG_STS_CD], [STNDNG_STS_NM]) VALUES (N'Q', N'4QWC3L1GM7SZIW2P3G1KB0RMP985ZI16RX8B4M2Q47TR')
