USE [carilion_dw]
GO
/****** Object:  Table [dbo].[DRGFact]    Script Date: 6/21/2018 11:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DRGFact]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DRGFact](
	[ENCNT_DRG_SK] [bigint] NOT NULL,
	[PRTY_SQNC] [int] NULL,
	[DRG_CD_SK] [int] NULL,
	[DRG_TYPE_CD] [varchar](255) NULL,
	[ACCT_SK] [bigint] NULL,
	[ENCNT_SK] [bigint] NULL,
	[PTNT_SK] [bigint] NULL,
	[ENCNT_DT] [datetime] NULL
) ON [PRIMARY]
END
GO
INSERT [dbo].[DRGFact] ([ENCNT_DRG_SK], [PRTY_SQNC], [DRG_CD_SK], [DRG_TYPE_CD], [ACCT_SK], [ENCNT_SK], [PTNT_SK], [ENCNT_DT]) VALUES (-5247222738365694464, 5, 5, N'VYNVZO8XQZGEUUQ94BTH07DYMXOP31WU3NHANOXZZYPLFKIG2X79DF7D9BKWN8VFLVZCAS7CL7W8KM96UCXYHIQ3ZR3U0I6W697PRCTZWOR4I75C6KFU42PTLQP3S30CBFFPYGRA7206BBTOVWY1VICZWCNE8E', -3592526611887845376, 5, 5, CAST(N'2000-12-26T09:40:48.720' AS DateTime))
INSERT [dbo].[DRGFact] ([ENCNT_DRG_SK], [PRTY_SQNC], [DRG_CD_SK], [DRG_TYPE_CD], [ACCT_SK], [ENCNT_SK], [PTNT_SK], [ENCNT_DT]) VALUES (-4304969593937242112, 3, 3, N'H4YZVZ', -1101241087064852480, 3, 3, CAST(N'1970-08-19T00:54:06.470' AS DateTime))
INSERT [dbo].[DRGFact] ([ENCNT_DRG_SK], [PRTY_SQNC], [DRG_CD_SK], [DRG_TYPE_CD], [ACCT_SK], [ENCNT_SK], [PTNT_SK], [ENCNT_DT]) VALUES (-740559740652617728, 3, 3, N'H4YZVZ', -4504581678035303424, 3, 3, CAST(N'1972-05-27T02:14:11.330' AS DateTime))
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[DRGFact-DRGDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[DRGFact]'))
ALTER TABLE [dbo].[DRGFact]  WITH CHECK ADD  CONSTRAINT [DRGFact-DRGDim] FOREIGN KEY([DRG_CD_SK])
REFERENCES [dbo].[DRGDim] ([DRG_CD_SK])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[DRGFact-DRGDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[DRGFact]'))
ALTER TABLE [dbo].[DRGFact] CHECK CONSTRAINT [DRGFact-DRGDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[DRGFact-DRGSeqDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[DRGFact]'))
ALTER TABLE [dbo].[DRGFact]  WITH CHECK ADD  CONSTRAINT [DRGFact-DRGSeqDim] FOREIGN KEY([PRTY_SQNC])
REFERENCES [dbo].[DRGSeqDim] ([PRTY_SQNC])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[DRGFact-DRGSeqDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[DRGFact]'))
ALTER TABLE [dbo].[DRGFact] CHECK CONSTRAINT [DRGFact-DRGSeqDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[DRGFact-DRGTypeDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[DRGFact]'))
ALTER TABLE [dbo].[DRGFact]  WITH CHECK ADD  CONSTRAINT [DRGFact-DRGTypeDim] FOREIGN KEY([DRG_TYPE_CD])
REFERENCES [dbo].[DRGTypeDim] ([DRG_TYPE_CD])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[DRGFact-DRGTypeDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[DRGFact]'))
ALTER TABLE [dbo].[DRGFact] CHECK CONSTRAINT [DRGFact-DRGTypeDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[DRGFact-EncounterDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[DRGFact]'))
ALTER TABLE [dbo].[DRGFact]  WITH CHECK ADD  CONSTRAINT [DRGFact-EncounterDim] FOREIGN KEY([ENCNT_SK])
REFERENCES [dbo].[EncounterDim] ([ENCNT_SK])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[DRGFact-EncounterDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[DRGFact]'))
ALTER TABLE [dbo].[DRGFact] CHECK CONSTRAINT [DRGFact-EncounterDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[DRGFact-PatientDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[DRGFact]'))
ALTER TABLE [dbo].[DRGFact]  WITH CHECK ADD  CONSTRAINT [DRGFact-PatientDim] FOREIGN KEY([PTNT_SK])
REFERENCES [dbo].[PatientDim] ([PTNT_SK])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[DRGFact-PatientDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[DRGFact]'))
ALTER TABLE [dbo].[DRGFact] CHECK CONSTRAINT [DRGFact-PatientDim]
GO
