USE [carilion_dw]
GO
/****** Object:  Table [dbo].[MeasureQDFact]    Script Date: 6/21/2018 11:44:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MeasureQDFact]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MeasureQDFact](
	[Data_ID] [int] NOT NULL,
	[Measure_Dim_ID] [int] NULL,
	[Meaure_Quarter] [int] NULL,
	[Result] [numeric](18, 2) NULL,
	[SRC_DEPT_ID] [varchar](4000) NULL
) ON [PRIMARY]
END
GO
INSERT [dbo].[MeasureQDFact] ([Data_ID], [Measure_Dim_ID], [Meaure_Quarter], [Result], [SRC_DEPT_ID]) VALUES (1, 5, 20181, CAST(1048229920000000.00 AS Numeric(18, 2)), N'80156')
INSERT [dbo].[MeasureQDFact] ([Data_ID], [Measure_Dim_ID], [Meaure_Quarter], [Result], [SRC_DEPT_ID]) VALUES (2, 3, 20113, CAST(3374459450000000.00 AS Numeric(18, 2)), N'43798')
INSERT [dbo].[MeasureQDFact] ([Data_ID], [Measure_Dim_ID], [Meaure_Quarter], [Result], [SRC_DEPT_ID]) VALUES (3, 3, 20174, CAST(6871216030000000.00 AS Numeric(18, 2)), N'81180')
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[MeasureQDFact-MeasureDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[MeasureQDFact]'))
ALTER TABLE [dbo].[MeasureQDFact]  WITH CHECK ADD  CONSTRAINT [MeasureQDFact-MeasureDim] FOREIGN KEY([Measure_Dim_ID])
REFERENCES [dbo].[MeasureDim] ([Measure_Dim_ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[MeasureQDFact-MeasureDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[MeasureQDFact]'))
ALTER TABLE [dbo].[MeasureQDFact] CHECK CONSTRAINT [MeasureQDFact-MeasureDim]
GO
