USE [carilion_dw]
GO
set nocount on
GO

GO
/****** Object:  Table [dbo].[LabComponentDim]    Script Date: 6/21/2018 11:44:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LabComponentDim]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LabComponentDim](
	[CMPNT_SK] [bigint] IDENTITY(1,1) NOT NULL,
	[COMP_NAME] [varchar](513) NULL,
	[CMPNT_ABBR] [varchar](50) NULL,
	[BAS_NM] [varchar](255) NULL,
	[CMN_NM] [varchar](255) NULL,
	[CMPNT_TYPE_CDS] [int] NULL,
	[CMPNT_SUBT_CDS] [int] NULL,
	[DFLT_UNT] [varchar](50) NULL,
	[EXPCT_MIN_VAL] [numeric](18, 2) NULL,
	[EXPCT_MAX_VAL] [numeric](18, 2) NULL,
 CONSTRAINT [PK_LabComponentDim_CMPNT_SK] PRIMARY KEY CLUSTERED 
(
	[CMPNT_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[LabComponentDim] ON 

INSERT [dbo].[LabComponentDim] ([CMPNT_SK], [COMP_NAME], [CMPNT_ABBR], [BAS_NM], [CMN_NM], [CMPNT_TYPE_CDS], [CMPNT_SUBT_CDS], [DFLT_UNT], [EXPCT_MIN_VAL], [EXPCT_MAX_VAL]) VALUES (1, N'Susan281', N'DY1NAEPZGUN1FG55JTIE3P7UY8LXJEEB9', N'NN935U73TKFQY5RK5UWJCVKYM377CRNQA', N'YCGJ1AP86B7FGUE0RV9NL1W19YTH55X4BUOAF50A0N1PJR512MPBCDSWFFA3G821D24M63KMUZNX07HHSSFJGLSX1SU0UXTRKZBHNIUZ12GCPUW8XTANSJLSA6LE8JRX6WC0V0T9XGHD5F86VM31M5Z1EJ6', 4, 5, N'UG', CAST(4829932400000000.00 AS Numeric(18, 2)), CAST(54185540000000.00 AS Numeric(18, 2)))
INSERT [dbo].[LabComponentDim] ([CMPNT_SK], [COMP_NAME], [CMPNT_ABBR], [BAS_NM], [CMN_NM], [CMPNT_TYPE_CDS], [CMPNT_SUBT_CDS], [DFLT_UNT], [EXPCT_MIN_VAL], [EXPCT_MAX_VAL]) VALUES (3, N'Nicole', N'2V3R55MJEAWXWW4TXO2R7H', N'MQ4UI2R1Y9KSM9XISZ2JPOFJ23XU2PKHE91P2D0XNBGL2E4GDVDA6S2XAKSE5', N'65ATF9JDIOR03U2MWKVPVKHJ0GZLFAC1KMJNLO4D9H3X3VM660P', 1, 2, N'Y1HYYMAHRP4YW11T7355HRY8U8Y', CAST(1443143250000000.00 AS Numeric(18, 2)), CAST(8433023160000000.00 AS Numeric(18, 2)))
SET IDENTITY_INSERT [dbo].[LabComponentDim] OFF
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[LabComponentDim-LabComponentSubstrateDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[LabComponentDim]'))
ALTER TABLE [dbo].[LabComponentDim]  WITH CHECK ADD  CONSTRAINT [LabComponentDim-LabComponentSubstrateDim] FOREIGN KEY([CMPNT_SUBT_CDS])
REFERENCES [dbo].[LabComponentSubstrateDim] ([CMPNT_SUBT_CDS])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[LabComponentDim-LabComponentSubstrateDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[LabComponentDim]'))
ALTER TABLE [dbo].[LabComponentDim] CHECK CONSTRAINT [LabComponentDim-LabComponentSubstrateDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[LabComponentDim-LabComponentTypeDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[LabComponentDim]'))
ALTER TABLE [dbo].[LabComponentDim]  WITH CHECK ADD  CONSTRAINT [LabComponentDim-LabComponentTypeDim] FOREIGN KEY([CMPNT_TYPE_CDS])
REFERENCES [dbo].[LabComponentTypeDim] ([CMPNT_TYPE_CDS])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[LabComponentDim-LabComponentTypeDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[LabComponentDim]'))
ALTER TABLE [dbo].[LabComponentDim] CHECK CONSTRAINT [LabComponentDim-LabComponentTypeDim]
GO
