USE [carilion_dw]
GO
set nocount on
GO

GO
/****** Object:  Table [dbo].[CensusMeasureFact]    Script Date: 6/21/2018 11:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CensusMeasureFact]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CensusMeasureFact](
	[MSR_FACT_SK] [bigint] NOT NULL,
	[MSR_TYPE_SK] [int] NULL,
	[GEO_AREA_SK] [int] NULL,
	[SRC_SK] [int] NULL,
	[MSR_FLT_VAL] [float] NULL,
	[MSR_VAL_SYM] [varchar](20) NULL,
	[MSR_FLT_VAL_LOG] [float] NULL
) ON [PRIMARY]
END
GO
INSERT [dbo].[CensusMeasureFact] ([MSR_FACT_SK], [MSR_TYPE_SK], [GEO_AREA_SK], [SRC_SK], [MSR_FLT_VAL], [MSR_VAL_SYM], [MSR_FLT_VAL_LOG]) VALUES (4793545669095469056, 5, 5, 5, 1185.4180540821599, N'CYJE52', 376.69012899356437)
INSERT [dbo].[CensusMeasureFact] ([MSR_FACT_SK], [MSR_TYPE_SK], [GEO_AREA_SK], [SRC_SK], [MSR_FLT_VAL], [MSR_VAL_SYM], [MSR_FLT_VAL_LOG]) VALUES (5863589887529144320, 5, 5, 5, 307.19169057309244, N'U2LN91IWFR0D8', 660.0671562645897)
INSERT [dbo].[CensusMeasureFact] ([MSR_FACT_SK], [MSR_TYPE_SK], [GEO_AREA_SK], [SRC_SK], [MSR_FLT_VAL], [MSR_VAL_SYM], [MSR_FLT_VAL_LOG]) VALUES (3558907514844581888, 1, 1, 1, 1749.5756688292956, N'4GP9SGD99NH0YX2M9I6K', 1913.3453927530652)
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CensusMeasureFact-CensusGeographicalAreaDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[CensusMeasureFact]'))
ALTER TABLE [dbo].[CensusMeasureFact]  WITH CHECK ADD  CONSTRAINT [CensusMeasureFact-CensusGeographicalAreaDim] FOREIGN KEY([GEO_AREA_SK])
REFERENCES [dbo].[CensusGeographicalAreaDim] ([GEO_AREA_SK])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CensusMeasureFact-CensusGeographicalAreaDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[CensusMeasureFact]'))
ALTER TABLE [dbo].[CensusMeasureFact] CHECK CONSTRAINT [CensusMeasureFact-CensusGeographicalAreaDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CensusMeasureFact-CensusMeasureTypeDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[CensusMeasureFact]'))
ALTER TABLE [dbo].[CensusMeasureFact]  WITH CHECK ADD  CONSTRAINT [CensusMeasureFact-CensusMeasureTypeDim] FOREIGN KEY([MSR_TYPE_SK])
REFERENCES [dbo].[CensusMeasureTypeDim] ([MSR_TYPE_SK])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CensusMeasureFact-CensusMeasureTypeDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[CensusMeasureFact]'))
ALTER TABLE [dbo].[CensusMeasureFact] CHECK CONSTRAINT [CensusMeasureFact-CensusMeasureTypeDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CensusMeasureFact-CensusSourceDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[CensusMeasureFact]'))
ALTER TABLE [dbo].[CensusMeasureFact]  WITH CHECK ADD  CONSTRAINT [CensusMeasureFact-CensusSourceDim] FOREIGN KEY([SRC_SK])
REFERENCES [dbo].[CensusSourceDim] ([SRC_SK])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[CensusMeasureFact-CensusSourceDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[CensusMeasureFact]'))
ALTER TABLE [dbo].[CensusMeasureFact] CHECK CONSTRAINT [CensusMeasureFact-CensusSourceDim]
GO
