USE [carilion_dw]
GO
set nocount on
GO

GO
/****** Object:  Table [dbo].[EncounterFact]    Script Date: 6/21/2018 11:44:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EncounterFact]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[EncounterFact](
	[ENCNT_FACT_SK] [bigint] IDENTITY(1,1) NOT NULL,
	[ENCNT_SK] [bigint] NULL,
	[PTNT_SK] [bigint] NULL,
	[DEPT_SK] [bigint] NULL,
	[AGE_YRS_AT_ENCNT] [int] NULL,
	[ENCNT_DT] [datetime] NULL,
	[AGE_MNTHS_AT_ENCNT] [int] NULL,
	[AGE_DYS_AT_ENCNT] [int] NULL,
	[ENCNT_WAIT_IN_DAYS] [int] NULL,
 CONSTRAINT [PK_EncounterFact_ENCNT_FACT_SK] PRIMARY KEY CLUSTERED 
(
	[ENCNT_FACT_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[EncounterFact] ON 

INSERT [dbo].[EncounterFact] ([ENCNT_FACT_SK], [ENCNT_SK], [PTNT_SK], [DEPT_SK], [AGE_YRS_AT_ENCNT], [ENCNT_DT], [AGE_MNTHS_AT_ENCNT], [AGE_DYS_AT_ENCNT], [ENCNT_WAIT_IN_DAYS]) VALUES (1, 5, 5, 5, 57, CAST(N'2012-03-28T00:00:00.000' AS DateTime), 60, 37, 1977257953)
INSERT [dbo].[EncounterFact] ([ENCNT_FACT_SK], [ENCNT_SK], [PTNT_SK], [DEPT_SK], [AGE_YRS_AT_ENCNT], [ENCNT_DT], [AGE_MNTHS_AT_ENCNT], [AGE_DYS_AT_ENCNT], [ENCNT_WAIT_IN_DAYS]) VALUES (2, 3, 3, 3, 38, CAST(N'2011-07-13T00:00:00.000' AS DateTime), 18, 32, -2104292035)
INSERT [dbo].[EncounterFact] ([ENCNT_FACT_SK], [ENCNT_SK], [PTNT_SK], [DEPT_SK], [AGE_YRS_AT_ENCNT], [ENCNT_DT], [AGE_MNTHS_AT_ENCNT], [AGE_DYS_AT_ENCNT], [ENCNT_WAIT_IN_DAYS]) VALUES (3, 3, 3, 3, 26, CAST(N'2012-09-28T00:00:00.000' AS DateTime), 45, NULL, -1064404797)
GO
SET IDENTITY_INSERT [dbo].[EncounterFact] OFF
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ENCNT_FACT-EncounterDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[EncounterFact]'))
ALTER TABLE [dbo].[EncounterFact]  WITH CHECK ADD  CONSTRAINT [ENCNT_FACT-EncounterDim] FOREIGN KEY([ENCNT_SK])
REFERENCES [dbo].[EncounterDim] ([ENCNT_SK])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ENCNT_FACT-EncounterDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[EncounterFact]'))
ALTER TABLE [dbo].[EncounterFact] CHECK CONSTRAINT [ENCNT_FACT-EncounterDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ENCNT_FACT-PatientDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[EncounterFact]'))
ALTER TABLE [dbo].[EncounterFact]  WITH CHECK ADD  CONSTRAINT [ENCNT_FACT-PatientDim] FOREIGN KEY([PTNT_SK])
REFERENCES [dbo].[PatientDim] ([PTNT_SK])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ENCNT_FACT-PatientDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[EncounterFact]'))
ALTER TABLE [dbo].[EncounterFact] CHECK CONSTRAINT [ENCNT_FACT-PatientDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[EncounterFact-DateDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[EncounterFact]'))
ALTER TABLE [dbo].[EncounterFact]  WITH CHECK ADD  CONSTRAINT [EncounterFact-DateDim] FOREIGN KEY([ENCNT_DT])
REFERENCES [dbo].[DateDim] ([CLNDR_DT])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[EncounterFact-DateDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[EncounterFact]'))
ALTER TABLE [dbo].[EncounterFact] CHECK CONSTRAINT [EncounterFact-DateDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[EncounterFact-DepartmentDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[EncounterFact]'))
ALTER TABLE [dbo].[EncounterFact]  WITH CHECK ADD  CONSTRAINT [EncounterFact-DepartmentDim] FOREIGN KEY([DEPT_SK])
REFERENCES [dbo].[DepartmentDim] ([DEPT_SK])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[EncounterFact-DepartmentDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[EncounterFact]'))
ALTER TABLE [dbo].[EncounterFact] CHECK CONSTRAINT [EncounterFact-DepartmentDim]
GO
