USE [carilion_dw]
GO
set nocount on
GO

GO
/****** Object:  Table [dbo].[MeasureQLFact]    Script Date: 6/21/2018 11:44:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MeasureQLFact]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MeasureQLFact](
	[Data_ID] [int] NOT NULL,
	[Measure_Dim_ID] [int] NULL,
	[Meaure_Quarter] [int] NULL,
	[Result] [numeric](18, 2) NULL,
	[LO_CDS] [int] NULL
) ON [PRIMARY]
END
GO
INSERT [dbo].[MeasureQLFact] ([Data_ID], [Measure_Dim_ID], [Meaure_Quarter], [Result], [LO_CDS]) VALUES (1, 5, 20151, CAST(683447220000000.00 AS Numeric(18, 2)), -769207404)
INSERT [dbo].[MeasureQLFact] ([Data_ID], [Measure_Dim_ID], [Meaure_Quarter], [Result], [LO_CDS]) VALUES (2, 3, 20172, CAST(7981103570000000.00 AS Numeric(18, 2)), -155530010)
INSERT [dbo].[MeasureQLFact] ([Data_ID], [Measure_Dim_ID], [Meaure_Quarter], [Result], [LO_CDS]) VALUES (3, 3, 20132, CAST(4508238520000000.00 AS Numeric(18, 2)), -2008507550)
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[MeasureQLFact-MeasureDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[MeasureQLFact]'))
ALTER TABLE [dbo].[MeasureQLFact]  WITH CHECK ADD  CONSTRAINT [MeasureQLFact-MeasureDim] FOREIGN KEY([Measure_Dim_ID])
REFERENCES [dbo].[MeasureDim] ([Measure_Dim_ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[MeasureQLFact-MeasureDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[MeasureQLFact]'))
ALTER TABLE [dbo].[MeasureQLFact] CHECK CONSTRAINT [MeasureQLFact-MeasureDim]
GO
