USE [carilion_dw]
GO
set nocount on
GO

GO
/****** Object:  Table [dbo].[OutpatientAppointmentConfirmationStatusDim]    Script Date: 6/21/2018 11:44:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OutpatientAppointmentConfirmationStatusDim]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[OutpatientAppointmentConfirmationStatusDim](
	[APPT_CNF_STT_CDS] [int] IDENTITY(1,1) NOT NULL,
	[APPT_CNF_STT_NM] [varchar](255) NULL,
 CONSTRAINT [PK_OutpatientAppointmentConfirmationStatusDim_APPT_CNF_STT_CDS] PRIMARY KEY CLUSTERED 
(
	[APPT_CNF_STT_CDS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[OutpatientAppointmentConfirmationStatusDim] ON 

INSERT [dbo].[OutpatientAppointmentConfirmationStatusDim] ([APPT_CNF_STT_CDS], [APPT_CNF_STT_NM]) VALUES (1, N'9DUZH7JEQ1M208YCCW007CG7TQZEDSNK5HYDPA3JSC61KJ1IDS4B2DYWXM5R850YE2WIAKM2SH7U6EN9PH0LNBHRJ1G34CAMB8NINI7S52IL53QJZV2Q4EA2K4Y84IYG6LJYQ4M698GLTWMGAW38AKIWXKXIKYOM31EKJSSU8VHWYP9OIHY7FP6M3M0664MAJTHRH1WI48ZE2LY7A8020G7EVS')
INSERT [dbo].[OutpatientAppointmentConfirmationStatusDim] ([APPT_CNF_STT_CDS], [APPT_CNF_STT_NM]) VALUES (2, N'XRLO497D58I7HLF36PRKHOSWX3J92L3VPKZQIKV5V8SZR1JHLD0O38Z8ZPQ0PXAK5NIWLOLLUMO9WT4WK2OPKERGKQRSUUFYY8U4JMVWRETHJQC5LTGN9KZQV1CUXTR06QAN')
INSERT [dbo].[OutpatientAppointmentConfirmationStatusDim] ([APPT_CNF_STT_CDS], [APPT_CNF_STT_NM]) VALUES (3, N'0CY6RY5')
SET IDENTITY_INSERT [dbo].[OutpatientAppointmentConfirmationStatusDim] OFF
