USE [carilion_dw]
GO
set nocount on
GO

GO
/****** Object:  Table [dbo].[ProcedureRevenueCodeDim]    Script Date: 6/21/2018 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProcedureRevenueCodeDim]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ProcedureRevenueCodeDim](
	[REV_CD] [int] IDENTITY(1,1) NOT NULL,
	[REV_CD_NM] [varchar](255) NULL,
 CONSTRAINT [PK_ProcedureRevenueCodeDim_REV_CD] PRIMARY KEY CLUSTERED 
(
	[REV_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[ProcedureRevenueCodeDim] ON 

INSERT [dbo].[ProcedureRevenueCodeDim] ([REV_CD], [REV_CD_NM]) VALUES (1, N'HN5EXE14RAN2UN5AXBY6PK1D7QJ85J72LOIZTIPXMWSU29V974HBE3QWLS77UTY72LG555HFL1KSS7AXUA102WNIYLD1BI3TXKRHTP41N2PDIX3EH9CKRY56XX7JSF33XRU8FT3550C06A00IYJ2')
INSERT [dbo].[ProcedureRevenueCodeDim] ([REV_CD], [REV_CD_NM]) VALUES (2, N'I1ZFLJWIL87YMFQ2VYO57ERL5ZNX61TW1XFQVTU97MKR51KU9YN0UWY39D9LVYBKFBWP00714FXKU0G3FTN8ET15ZBGHJ8D8B0CU4VU9RLVFYD99X662B35L9RPOJPIW1P9TOMYKZEHSXM6L26JC1AX8UQKD55P12ZD94FLB7M3WLCNNK4LD55URR1ZX1LFTPFQY8XHNL84F71MH2XS0KC')
INSERT [dbo].[ProcedureRevenueCodeDim] ([REV_CD], [REV_CD_NM]) VALUES (3, N'X5MI3GNAM6A76MPEMNYRX0EJQEH')
SET IDENTITY_INSERT [dbo].[ProcedureRevenueCodeDim] OFF
