USE [carilion_dw]
GO
set nocount on
GO

GO
/****** Object:  Table [dbo].[PharmacyDim]    Script Date: 6/21/2018 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PharmacyDim]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PharmacyDim](
	[PHRM_SK] [bigint] IDENTITY(1,1) NOT NULL,
	[SRC_PHRM_ID] [varchar](255) NULL,
	[PHRM_NM] [varchar](255) NULL,
	[SYS_TYPE_DESC] [varchar](255) NULL,
	[PHY_TYPE_CDS] [int] NULL,
	[NPI_NUM] [varchar](50) NULL,
	[DEA_NUM] [varchar](50) NULL,
	[NCPDP_NUM] [varchar](50) NULL,
	[FCLT_SPRT_IND] [varchar](3) NULL,
	[RX_SUP_IND] [varchar](3) NULL,
 CONSTRAINT [PK_PharmacyDim_PHRM_SK] PRIMARY KEY CLUSTERED 
(
	[PHRM_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[PharmacyDim] ON 

INSERT [dbo].[PharmacyDim] ([PHRM_SK], [SRC_PHRM_ID], [PHRM_NM], [SYS_TYPE_DESC], [PHY_TYPE_CDS], [NPI_NUM], [DEA_NUM], [NCPDP_NUM], [FCLT_SPRT_IND], [RX_SUP_IND]) VALUES (1, N'47825', N'SF0OGB4BBOKEPB5W4ZVJ0YWTSEYK0F0EWRMTDZO5H2GTVLCVWO7GLTETI7V2DKBWN6IYOBI5AQ1YH3X712OC7KS2DTA63LRXQK5P3D6K525USFBF9O1AVZO3DFLV0B1OZ37XY84NW365EXAXHVXFK', N'linguens fecit. vobis quad vobis Longam, Multum Versus bono cognitio, Tam e Et quad quo estum. nomen Id', 1, N'65600', N'92849', N'29098', N'J', N'UBI')
INSERT [dbo].[PharmacyDim] ([PHRM_SK], [SRC_PHRM_ID], [PHRM_NM], [SYS_TYPE_DESC], [PHY_TYPE_CDS], [NPI_NUM], [DEA_NUM], [NCPDP_NUM], [FCLT_SPRT_IND], [RX_SUP_IND]) VALUES (2, N'62997', N'2RV1BNSAJU0GVO7EG1JDDSSIOF5OE5EL4I1G2WWHVMKC4X2LP2FWV73AYCCVH4VEGECDMRCJ42HR7GEQDKYBQIPWFRIPK10RQ5VPLPZYQVRTQB2HYLIW5JOXPGYV9MZ31Q12KO', N'cognitio, novum vobis novum Pro et ut fecundio, non plurissimum gravum vobis et Pro estis cognitio, esset', 5, NULL, N'18766', N'69134', N'A', N'')
INSERT [dbo].[PharmacyDim] ([PHRM_SK], [SRC_PHRM_ID], [PHRM_NM], [SYS_TYPE_DESC], [PHY_TYPE_CDS], [NPI_NUM], [DEA_NUM], [NCPDP_NUM], [FCLT_SPRT_IND], [RX_SUP_IND]) VALUES (3, N'16545', N'OK0LVQW63P0QYI3L7HY04Q4O3VORZAZW9FTC5YT7SAU58W0KY5ULMN0XGBHZ246TP3GIPRF8OQ7UWYG7U4TUGEAMEWVTHT5O31G5FIV7PLWVF60IV94YBBCATU3SVLRULJRUHASC8M5UHE68VCY7P7DRO6BLE2B3U2AWF51KHRPO6ISFOVWJNJ4E5Z6BZ7Y5A20F49TPBDQXHOL6DWWJ6R', N'quad novum essit. Multum Versus fecundio, eggredior. estum. linguens e si quo gravum in fecit, et quo trepicandor novum Et', 3, N'66489', N'71656', N'38292', N'P0', N'G')
SET IDENTITY_INSERT [dbo].[PharmacyDim] OFF
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[PharmacyDim-PharmacyPhysicalTypeDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[PharmacyDim]'))
ALTER TABLE [dbo].[PharmacyDim]  WITH CHECK ADD  CONSTRAINT [PharmacyDim-PharmacyPhysicalTypeDim] FOREIGN KEY([PHY_TYPE_CDS])
REFERENCES [dbo].[PharmacyPhysicalTypeDim] ([PHY_TYPE_CDS])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[PharmacyDim-PharmacyPhysicalTypeDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[PharmacyDim]'))
ALTER TABLE [dbo].[PharmacyDim] CHECK CONSTRAINT [PharmacyDim-PharmacyPhysicalTypeDim]
GO
