USE [carilion_dw]
GO
set nocount on
GO

GO
/****** Object:  Table [dbo].[ProcedureOrderModeDim]    Script Date: 6/21/2018 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProcedureOrderModeDim]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ProcedureOrderModeDim](
	[ORDR_MODE_CD] [int] IDENTITY(1,1) NOT NULL,
	[ORDR_MODE_NM] [varchar](255) NULL,
 CONSTRAINT [PK_ProcedureOrderModeDim_ORDR_MODE_CD] PRIMARY KEY CLUSTERED 
(
	[ORDR_MODE_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[ProcedureOrderModeDim] ON 

INSERT [dbo].[ProcedureOrderModeDim] ([ORDR_MODE_CD], [ORDR_MODE_NM]) VALUES (1, N'9B75TQZBJEIEN9K5S9HR45XVVX7CBA4NWRVDTZP36RMMNKK0TCVX3UJ3DBAWJMZ9AUIVE7BSKELDJB7AC7J')
INSERT [dbo].[ProcedureOrderModeDim] ([ORDR_MODE_CD], [ORDR_MODE_NM]) VALUES (2, N'F7J27R')
INSERT [dbo].[ProcedureOrderModeDim] ([ORDR_MODE_CD], [ORDR_MODE_NM]) VALUES (3, N'')
SET IDENTITY_INSERT [dbo].[ProcedureOrderModeDim] OFF
