USE [carilion_dw]
GO
set nocount on
GO

GO
/****** Object:  Table [dbo].[DiagnosisHierarchy]    Script Date: 6/21/2018 11:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DiagnosisHierarchy]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DiagnosisHierarchy](
	[DIAG_CLS_DESC] [varchar](255) NULL,
	[DIAG_PRN_SK] [int] NULL,
	[DIAG_HIR_SK] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_DiagnosisHierarchy_DIAG_HIR_SK] PRIMARY KEY CLUSTERED 
(
	[DIAG_HIR_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[DiagnosisHierarchy] ON 

INSERT [dbo].[DiagnosisHierarchy] ([DIAG_CLS_DESC], [DIAG_PRN_SK], [DIAG_HIR_SK]) VALUES (N'L1_A', NULL, 1)
INSERT [dbo].[DiagnosisHierarchy] ([DIAG_CLS_DESC], [DIAG_PRN_SK], [DIAG_HIR_SK]) VALUES (N'L1_B', NULL, 2)
INSERT [dbo].[DiagnosisHierarchy] ([DIAG_CLS_DESC], [DIAG_PRN_SK], [DIAG_HIR_SK]) VALUES (N'L1_C', NULL, 3)
GO
SET IDENTITY_INSERT [dbo].[DiagnosisHierarchy] OFF
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[DiagnosisHierarchy-DiagnosisHierarchy]') AND parent_object_id = OBJECT_ID(N'[dbo].[DiagnosisHierarchy]'))
ALTER TABLE [dbo].[DiagnosisHierarchy]  WITH CHECK ADD  CONSTRAINT [DiagnosisHierarchy-DiagnosisHierarchy] FOREIGN KEY([DIAG_PRN_SK])
REFERENCES [dbo].[DiagnosisHierarchy] ([DIAG_HIR_SK])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[DiagnosisHierarchy-DiagnosisHierarchy]') AND parent_object_id = OBJECT_ID(N'[dbo].[DiagnosisHierarchy]'))
ALTER TABLE [dbo].[DiagnosisHierarchy] CHECK CONSTRAINT [DiagnosisHierarchy-DiagnosisHierarchy]
GO
