USE [carilion_dw]
GO
set nocount on
GO

GO
/****** Object:  Table [dbo].[ProcedureOrderFact]    Script Date: 6/21/2018 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ProcedureOrderFact](
	[PRCDR_ORDR_FACT_SK] [bigint] NOT NULL,
	[ENCNT_SK] [bigint] NULL,
	[PTNT_SK] [bigint] NULL,
	[PRCDR_CD_SK] [bigint] NULL,
	[ORDRD_BY_USR_SK] [bigint] NULL,
	[ORDRD_BY_PROVDR_SK] [bigint] NULL,
	[AUTH_BY_PROVDR_SK] [bigint] NULL,
	[ORDRD_DT] [datetime] NULL,
	[ORDR_TYP_CD] [int] NULL,
	[ORDR_CLSS_CD] [int] NULL,
	[ORDR_MODE_CD] [int] NULL,
	[ORDR_SRC_CD] [int] NULL,
	[ORDR_STS_CD] [int] NULL,
	[ORDR_PRTY_CD] [int] NULL,
	[STNDNG_STS_CD] [varchar](1) NULL,
	[ORDR_SET_CD] [bigint] NULL,
	[CPOE_IND] [int] NULL,
	[REQR_COSIG_IND] [int] NULL,
	[COSIG_IND] [int] NULL,
	[VRBL_SGN_IND] [int] NULL,
	[ORDRD_TS_SK] [bigint] NULL
) ON [PRIMARY]
END
GO
INSERT [dbo].[ProcedureOrderFact] ([PRCDR_ORDR_FACT_SK], [ENCNT_SK], [PTNT_SK], [PRCDR_CD_SK], [ORDRD_BY_USR_SK], [ORDRD_BY_PROVDR_SK], [AUTH_BY_PROVDR_SK], [ORDRD_DT], [ORDR_TYP_CD], [ORDR_CLSS_CD], [ORDR_MODE_CD], [ORDR_SRC_CD], [ORDR_STS_CD], [ORDR_PRTY_CD], [STNDNG_STS_CD], [ORDR_SET_CD], [CPOE_IND], [REQR_COSIG_IND], [COSIG_IND], [VRBL_SGN_IND], [ORDRD_TS_SK]) VALUES (9072972778978891776, 2, 2, 2, 435, 2, 2, CAST(N'2013-12-05T00:00:00.000' AS DateTime), 2, 2, 2, 2, 2, 2, N'A', 2, 2, 2, 2, 2, 2354)
INSERT [dbo].[ProcedureOrderFact] ([PRCDR_ORDR_FACT_SK], [ENCNT_SK], [PTNT_SK], [PRCDR_CD_SK], [ORDRD_BY_USR_SK], [ORDRD_BY_PROVDR_SK], [AUTH_BY_PROVDR_SK], [ORDRD_DT], [ORDR_TYP_CD], [ORDR_CLSS_CD], [ORDR_MODE_CD], [ORDR_SRC_CD], [ORDR_STS_CD], [ORDR_PRTY_CD], [STNDNG_STS_CD], [ORDR_SET_CD], [CPOE_IND], [REQR_COSIG_IND], [COSIG_IND], [VRBL_SGN_IND], [ORDRD_TS_SK]) VALUES (-1492926900458218496, 4, 4, 4, 790, 4, 4, CAST(N'2012-02-29T00:00:00.000' AS DateTime), 4, 4, 4, 4, 4, 4, N'V', 4, 4, 4, 4, 4, 1309)
INSERT [dbo].[ProcedureOrderFact] ([PRCDR_ORDR_FACT_SK], [ENCNT_SK], [PTNT_SK], [PRCDR_CD_SK], [ORDRD_BY_USR_SK], [ORDRD_BY_PROVDR_SK], [AUTH_BY_PROVDR_SK], [ORDRD_DT], [ORDR_TYP_CD], [ORDR_CLSS_CD], [ORDR_MODE_CD], [ORDR_SRC_CD], [ORDR_STS_CD], [ORDR_PRTY_CD], [STNDNG_STS_CD], [ORDR_SET_CD], [CPOE_IND], [REQR_COSIG_IND], [COSIG_IND], [VRBL_SGN_IND], [ORDRD_TS_SK]) VALUES (5764044184922882048, 5, 5, 5, 822, 5, 5, CAST(N'2014-12-27T00:00:00.000' AS DateTime), 5, 5, 5, 5, 5, 5, N'Y', 5, 5, 5, 5, 5, 3021)
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact-BinaryDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact]'))
ALTER TABLE [dbo].[ProcedureOrderFact]  WITH CHECK ADD  CONSTRAINT [ProcedureOrderFact-BinaryDim] FOREIGN KEY([CPOE_IND])
REFERENCES [dbo].[BinaryDim] ([Binary_CD])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact-BinaryDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact]'))
ALTER TABLE [dbo].[ProcedureOrderFact] CHECK CONSTRAINT [ProcedureOrderFact-BinaryDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact-BinaryDim1]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact]'))
ALTER TABLE [dbo].[ProcedureOrderFact]  WITH CHECK ADD  CONSTRAINT [ProcedureOrderFact-BinaryDim1] FOREIGN KEY([REQR_COSIG_IND])
REFERENCES [dbo].[BinaryDim] ([Binary_CD])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact-BinaryDim1]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact]'))
ALTER TABLE [dbo].[ProcedureOrderFact] CHECK CONSTRAINT [ProcedureOrderFact-BinaryDim1]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact-BinaryDim2]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact]'))
ALTER TABLE [dbo].[ProcedureOrderFact]  WITH CHECK ADD  CONSTRAINT [ProcedureOrderFact-BinaryDim2] FOREIGN KEY([COSIG_IND])
REFERENCES [dbo].[BinaryDim] ([Binary_CD])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact-BinaryDim2]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact]'))
ALTER TABLE [dbo].[ProcedureOrderFact] CHECK CONSTRAINT [ProcedureOrderFact-BinaryDim2]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact-BinaryDim3]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact]'))
ALTER TABLE [dbo].[ProcedureOrderFact]  WITH CHECK ADD  CONSTRAINT [ProcedureOrderFact-BinaryDim3] FOREIGN KEY([VRBL_SGN_IND])
REFERENCES [dbo].[BinaryDim] ([Binary_CD])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact-BinaryDim3]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact]'))
ALTER TABLE [dbo].[ProcedureOrderFact] CHECK CONSTRAINT [ProcedureOrderFact-BinaryDim3]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact-DateDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact]'))
ALTER TABLE [dbo].[ProcedureOrderFact]  WITH CHECK ADD  CONSTRAINT [ProcedureOrderFact-DateDim] FOREIGN KEY([ORDRD_DT])
REFERENCES [dbo].[DateDim] ([CLNDR_DT])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact-DateDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact]'))
ALTER TABLE [dbo].[ProcedureOrderFact] CHECK CONSTRAINT [ProcedureOrderFact-DateDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact-EncounterDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact]'))
ALTER TABLE [dbo].[ProcedureOrderFact]  WITH CHECK ADD  CONSTRAINT [ProcedureOrderFact-EncounterDim] FOREIGN KEY([ENCNT_SK])
REFERENCES [dbo].[EncounterDim] ([ENCNT_SK])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact-EncounterDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact]'))
ALTER TABLE [dbo].[ProcedureOrderFact] CHECK CONSTRAINT [ProcedureOrderFact-EncounterDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact-PatientDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact]'))
ALTER TABLE [dbo].[ProcedureOrderFact]  WITH CHECK ADD  CONSTRAINT [ProcedureOrderFact-PatientDim] FOREIGN KEY([PTNT_SK])
REFERENCES [dbo].[PatientDim] ([PTNT_SK])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact-PatientDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact]'))
ALTER TABLE [dbo].[ProcedureOrderFact] CHECK CONSTRAINT [ProcedureOrderFact-PatientDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact-ProcedureDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact]'))
ALTER TABLE [dbo].[ProcedureOrderFact]  WITH CHECK ADD  CONSTRAINT [ProcedureOrderFact-ProcedureDim] FOREIGN KEY([PRCDR_CD_SK])
REFERENCES [dbo].[ProcedureDim] ([PRCDR_CD_SK])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact-ProcedureDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact]'))
ALTER TABLE [dbo].[ProcedureOrderFact] CHECK CONSTRAINT [ProcedureOrderFact-ProcedureDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact-ProcedureOrderClassDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact]'))
ALTER TABLE [dbo].[ProcedureOrderFact]  WITH CHECK ADD  CONSTRAINT [ProcedureOrderFact-ProcedureOrderClassDim] FOREIGN KEY([ORDR_CLSS_CD])
REFERENCES [dbo].[ProcedureOrderClassDim] ([ORDR_CLSS_CD])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact-ProcedureOrderClassDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact]'))
ALTER TABLE [dbo].[ProcedureOrderFact] CHECK CONSTRAINT [ProcedureOrderFact-ProcedureOrderClassDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact-ProcedureOrderModeDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact]'))
ALTER TABLE [dbo].[ProcedureOrderFact]  WITH CHECK ADD  CONSTRAINT [ProcedureOrderFact-ProcedureOrderModeDim] FOREIGN KEY([ORDR_MODE_CD])
REFERENCES [dbo].[ProcedureOrderModeDim] ([ORDR_MODE_CD])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact-ProcedureOrderModeDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact]'))
ALTER TABLE [dbo].[ProcedureOrderFact] CHECK CONSTRAINT [ProcedureOrderFact-ProcedureOrderModeDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact-ProcedureOrderPriorityDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact]'))
ALTER TABLE [dbo].[ProcedureOrderFact]  WITH CHECK ADD  CONSTRAINT [ProcedureOrderFact-ProcedureOrderPriorityDim] FOREIGN KEY([ORDR_PRTY_CD])
REFERENCES [dbo].[ProcedureOrderPriorityDim] ([ORDR_PRTY_CD])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact-ProcedureOrderPriorityDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact]'))
ALTER TABLE [dbo].[ProcedureOrderFact] CHECK CONSTRAINT [ProcedureOrderFact-ProcedureOrderPriorityDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact-ProcedureOrderSetDm]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact]'))
ALTER TABLE [dbo].[ProcedureOrderFact]  WITH CHECK ADD  CONSTRAINT [ProcedureOrderFact-ProcedureOrderSetDm] FOREIGN KEY([ORDR_SET_CD])
REFERENCES [dbo].[ProcedureOrderSetDm] ([ORDR_SET_CD])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact-ProcedureOrderSetDm]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact]'))
ALTER TABLE [dbo].[ProcedureOrderFact] CHECK CONSTRAINT [ProcedureOrderFact-ProcedureOrderSetDm]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact-ProcedureOrderSourceDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact]'))
ALTER TABLE [dbo].[ProcedureOrderFact]  WITH CHECK ADD  CONSTRAINT [ProcedureOrderFact-ProcedureOrderSourceDim] FOREIGN KEY([ORDR_SRC_CD])
REFERENCES [dbo].[ProcedureOrderSourceDim] ([ORDR_SRC_CD])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact-ProcedureOrderSourceDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact]'))
ALTER TABLE [dbo].[ProcedureOrderFact] CHECK CONSTRAINT [ProcedureOrderFact-ProcedureOrderSourceDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact-ProcedureOrderStandingStatusDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact]'))
ALTER TABLE [dbo].[ProcedureOrderFact]  WITH CHECK ADD  CONSTRAINT [ProcedureOrderFact-ProcedureOrderStandingStatusDim] FOREIGN KEY([STNDNG_STS_CD])
REFERENCES [dbo].[ProcedureOrderStandingStatusDim] ([STNDNG_STS_CD])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact-ProcedureOrderStandingStatusDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact]'))
ALTER TABLE [dbo].[ProcedureOrderFact] CHECK CONSTRAINT [ProcedureOrderFact-ProcedureOrderStandingStatusDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact-ProcedureOrderStatusDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact]'))
ALTER TABLE [dbo].[ProcedureOrderFact]  WITH CHECK ADD  CONSTRAINT [ProcedureOrderFact-ProcedureOrderStatusDim] FOREIGN KEY([ORDR_STS_CD])
REFERENCES [dbo].[ProcedureOrderStatusDim] ([ORDR_STS_CD])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact-ProcedureOrderStatusDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact]'))
ALTER TABLE [dbo].[ProcedureOrderFact] CHECK CONSTRAINT [ProcedureOrderFact-ProcedureOrderStatusDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact-ProcedureOrderTypeDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact]'))
ALTER TABLE [dbo].[ProcedureOrderFact]  WITH CHECK ADD  CONSTRAINT [ProcedureOrderFact-ProcedureOrderTypeDim] FOREIGN KEY([ORDR_TYP_CD])
REFERENCES [dbo].[ProcedureOrderTypeDim] ([ORDR_TYP_CD])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact-ProcedureOrderTypeDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact]'))
ALTER TABLE [dbo].[ProcedureOrderFact] CHECK CONSTRAINT [ProcedureOrderFact-ProcedureOrderTypeDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact-ProviderDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact]'))
ALTER TABLE [dbo].[ProcedureOrderFact]  WITH CHECK ADD  CONSTRAINT [ProcedureOrderFact-ProviderDim] FOREIGN KEY([ORDRD_BY_PROVDR_SK])
REFERENCES [dbo].[ProviderDim] ([PROVDR_SK])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact-ProviderDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact]'))
ALTER TABLE [dbo].[ProcedureOrderFact] CHECK CONSTRAINT [ProcedureOrderFact-ProviderDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact-ProviderDim1]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact]'))
ALTER TABLE [dbo].[ProcedureOrderFact]  WITH CHECK ADD  CONSTRAINT [ProcedureOrderFact-ProviderDim1] FOREIGN KEY([AUTH_BY_PROVDR_SK])
REFERENCES [dbo].[ProviderDim] ([PROVDR_SK])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact-ProviderDim1]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact]'))
ALTER TABLE [dbo].[ProcedureOrderFact] CHECK CONSTRAINT [ProcedureOrderFact-ProviderDim1]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact-TimeDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact]'))
ALTER TABLE [dbo].[ProcedureOrderFact]  WITH CHECK ADD  CONSTRAINT [ProcedureOrderFact-TimeDim] FOREIGN KEY([ORDRD_TS_SK])
REFERENCES [dbo].[TimeDim] ([TM_OF_DY_SK])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact-TimeDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact]'))
ALTER TABLE [dbo].[ProcedureOrderFact] CHECK CONSTRAINT [ProcedureOrderFact-TimeDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact-UserDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact]'))
ALTER TABLE [dbo].[ProcedureOrderFact]  WITH CHECK ADD  CONSTRAINT [ProcedureOrderFact-UserDim] FOREIGN KEY([ORDRD_BY_USR_SK])
REFERENCES [dbo].[UserDim] ([USR_SK])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact-UserDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProcedureOrderFact]'))
ALTER TABLE [dbo].[ProcedureOrderFact] CHECK CONSTRAINT [ProcedureOrderFact-UserDim]
GO
