USE [carilion_dw]
GO
/****** Object:  Table [dbo].[SurgicalProcedureEventFact]    Script Date: 6/21/2018 11:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[SurgicalProcedureEventFact](
	[SRG_PRCDR_EV_FACT_SK] [bigint] NOT NULL,
	[PTNT_SK] [bigint] NULL,
	[CASE_SK] [bigint] NULL,
	[PRCDR_CD_SK] [bigint] NULL,
	[PRMY_PROVDR_SURGEON_SK] [bigint] NULL,
	[SCND_PROVDR_SURGEON_SK] [bigint] NULL,
	[THRD_PROVDR_SURGEON_SK] [bigint] NULL,
	[SRG_DT] [datetime] NULL,
	[HSPTL_ENCNT_SK] [bigint] NULL,
	[SRG_ENCNT_SK] [bigint] NULL,
	[DEPT_SK] [bigint] NULL,
	[SRVC_CDS] [int] NULL,
	[PRCDR_SITE_CDS] [int] NULL,
	[LTRLTY_CDS] [int] NULL,
	[ANSTH_TYPE_CDS] [int] NULL,
	[WND_CLASS_CDS] [int] NULL,
	[SCHED_IND] [int] NULL,
	[PRFRM_IND] [int] NULL,
	[PSSBL_IND] [int] NULL
) ON [PRIMARY]
END
GO
INSERT [dbo].[SurgicalProcedureEventFact] ([SRG_PRCDR_EV_FACT_SK], [PTNT_SK], [CASE_SK], [PRCDR_CD_SK], [PRMY_PROVDR_SURGEON_SK], [SCND_PROVDR_SURGEON_SK], [THRD_PROVDR_SURGEON_SK], [SRG_DT], [HSPTL_ENCNT_SK], [SRG_ENCNT_SK], [DEPT_SK], [SRVC_CDS], [PRCDR_SITE_CDS], [LTRLTY_CDS], [ANSTH_TYPE_CDS], [WND_CLASS_CDS], [SCHED_IND], [PRFRM_IND], [PSSBL_IND]) VALUES (-7498547263428387328, 5, 5, 5, 5, 5, 5, CAST(N'2012-03-28T00:00:00.000' AS DateTime), 5, 5, 3, 5, 5, 5, 5, 5, 5, 5, 5)
INSERT [dbo].[SurgicalProcedureEventFact] ([SRG_PRCDR_EV_FACT_SK], [PTNT_SK], [CASE_SK], [PRCDR_CD_SK], [PRMY_PROVDR_SURGEON_SK], [SCND_PROVDR_SURGEON_SK], [THRD_PROVDR_SURGEON_SK], [SRG_DT], [HSPTL_ENCNT_SK], [SRG_ENCNT_SK], [DEPT_SK], [SRVC_CDS], [PRCDR_SITE_CDS], [LTRLTY_CDS], [ANSTH_TYPE_CDS], [WND_CLASS_CDS], [SCHED_IND], [PRFRM_IND], [PSSBL_IND]) VALUES (-3288949106265383936, 3, 3, 3, 3, 3, 3, CAST(N'2011-07-13T00:00:00.000' AS DateTime), 3, 3, 4, 3, 3, 3, 3, 3, 3, 3, 3)
INSERT [dbo].[SurgicalProcedureEventFact] ([SRG_PRCDR_EV_FACT_SK], [PTNT_SK], [CASE_SK], [PRCDR_CD_SK], [PRMY_PROVDR_SURGEON_SK], [SCND_PROVDR_SURGEON_SK], [THRD_PROVDR_SURGEON_SK], [SRG_DT], [HSPTL_ENCNT_SK], [SRG_ENCNT_SK], [DEPT_SK], [SRVC_CDS], [PRCDR_SITE_CDS], [LTRLTY_CDS], [ANSTH_TYPE_CDS], [WND_CLASS_CDS], [SCHED_IND], [PRFRM_IND], [PSSBL_IND]) VALUES (4763102760498618368, 3, 3, 3, 3, 3, 3, CAST(N'2012-09-28T00:00:00.000' AS DateTime), 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3)
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SurgicalProcedureEventFact_DepartmentDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact]'))
ALTER TABLE [dbo].[SurgicalProcedureEventFact]  WITH CHECK ADD  CONSTRAINT [FK_SurgicalProcedureEventFact_DepartmentDim] FOREIGN KEY([DEPT_SK])
REFERENCES [dbo].[DepartmentDim] ([DEPT_SK])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SurgicalProcedureEventFact_DepartmentDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact]'))
ALTER TABLE [dbo].[SurgicalProcedureEventFact] CHECK CONSTRAINT [FK_SurgicalProcedureEventFact_DepartmentDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact-BinaryDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact]'))
ALTER TABLE [dbo].[SurgicalProcedureEventFact]  WITH CHECK ADD  CONSTRAINT [SurgicalProcedureEventFact-BinaryDim] FOREIGN KEY([SCHED_IND])
REFERENCES [dbo].[BinaryDim] ([Binary_CD])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact-BinaryDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact]'))
ALTER TABLE [dbo].[SurgicalProcedureEventFact] CHECK CONSTRAINT [SurgicalProcedureEventFact-BinaryDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact-BinaryDim1]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact]'))
ALTER TABLE [dbo].[SurgicalProcedureEventFact]  WITH CHECK ADD  CONSTRAINT [SurgicalProcedureEventFact-BinaryDim1] FOREIGN KEY([PRFRM_IND])
REFERENCES [dbo].[BinaryDim] ([Binary_CD])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact-BinaryDim1]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact]'))
ALTER TABLE [dbo].[SurgicalProcedureEventFact] CHECK CONSTRAINT [SurgicalProcedureEventFact-BinaryDim1]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact-BinaryDim12]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact]'))
ALTER TABLE [dbo].[SurgicalProcedureEventFact]  WITH CHECK ADD  CONSTRAINT [SurgicalProcedureEventFact-BinaryDim12] FOREIGN KEY([PSSBL_IND])
REFERENCES [dbo].[BinaryDim] ([Binary_CD])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact-BinaryDim12]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact]'))
ALTER TABLE [dbo].[SurgicalProcedureEventFact] CHECK CONSTRAINT [SurgicalProcedureEventFact-BinaryDim12]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact-DateDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact]'))
ALTER TABLE [dbo].[SurgicalProcedureEventFact]  WITH CHECK ADD  CONSTRAINT [SurgicalProcedureEventFact-DateDim] FOREIGN KEY([SRG_DT])
REFERENCES [dbo].[DateDim] ([CLNDR_DT])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact-DateDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact]'))
ALTER TABLE [dbo].[SurgicalProcedureEventFact] CHECK CONSTRAINT [SurgicalProcedureEventFact-DateDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact-EncounterDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact]'))
ALTER TABLE [dbo].[SurgicalProcedureEventFact]  WITH CHECK ADD  CONSTRAINT [SurgicalProcedureEventFact-EncounterDim] FOREIGN KEY([HSPTL_ENCNT_SK])
REFERENCES [dbo].[EncounterDim] ([ENCNT_SK])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact-EncounterDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact]'))
ALTER TABLE [dbo].[SurgicalProcedureEventFact] CHECK CONSTRAINT [SurgicalProcedureEventFact-EncounterDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact-EncounterDim1]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact]'))
ALTER TABLE [dbo].[SurgicalProcedureEventFact]  WITH CHECK ADD  CONSTRAINT [SurgicalProcedureEventFact-EncounterDim1] FOREIGN KEY([SRG_ENCNT_SK])
REFERENCES [dbo].[EncounterDim] ([ENCNT_SK])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact-EncounterDim1]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact]'))
ALTER TABLE [dbo].[SurgicalProcedureEventFact] CHECK CONSTRAINT [SurgicalProcedureEventFact-EncounterDim1]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact-PatientDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact]'))
ALTER TABLE [dbo].[SurgicalProcedureEventFact]  WITH CHECK ADD  CONSTRAINT [SurgicalProcedureEventFact-PatientDim] FOREIGN KEY([PTNT_SK])
REFERENCES [dbo].[PatientDim] ([PTNT_SK])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact-PatientDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact]'))
ALTER TABLE [dbo].[SurgicalProcedureEventFact] CHECK CONSTRAINT [SurgicalProcedureEventFact-PatientDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact-ProcedureDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact]'))
ALTER TABLE [dbo].[SurgicalProcedureEventFact]  WITH CHECK ADD  CONSTRAINT [SurgicalProcedureEventFact-ProcedureDim] FOREIGN KEY([PRCDR_CD_SK])
REFERENCES [dbo].[ProcedureDim] ([PRCDR_CD_SK])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact-ProcedureDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact]'))
ALTER TABLE [dbo].[SurgicalProcedureEventFact] CHECK CONSTRAINT [SurgicalProcedureEventFact-ProcedureDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact-ProviderDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact]'))
ALTER TABLE [dbo].[SurgicalProcedureEventFact]  WITH CHECK ADD  CONSTRAINT [SurgicalProcedureEventFact-ProviderDim] FOREIGN KEY([PRMY_PROVDR_SURGEON_SK])
REFERENCES [dbo].[ProviderDim] ([PROVDR_SK])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact-ProviderDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact]'))
ALTER TABLE [dbo].[SurgicalProcedureEventFact] CHECK CONSTRAINT [SurgicalProcedureEventFact-ProviderDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact-ProviderDim1]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact]'))
ALTER TABLE [dbo].[SurgicalProcedureEventFact]  WITH CHECK ADD  CONSTRAINT [SurgicalProcedureEventFact-ProviderDim1] FOREIGN KEY([SCND_PROVDR_SURGEON_SK])
REFERENCES [dbo].[ProviderDim] ([PROVDR_SK])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact-ProviderDim1]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact]'))
ALTER TABLE [dbo].[SurgicalProcedureEventFact] CHECK CONSTRAINT [SurgicalProcedureEventFact-ProviderDim1]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact-ProviderDim12]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact]'))
ALTER TABLE [dbo].[SurgicalProcedureEventFact]  WITH CHECK ADD  CONSTRAINT [SurgicalProcedureEventFact-ProviderDim12] FOREIGN KEY([THRD_PROVDR_SURGEON_SK])
REFERENCES [dbo].[ProviderDim] ([PROVDR_SK])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact-ProviderDim12]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact]'))
ALTER TABLE [dbo].[SurgicalProcedureEventFact] CHECK CONSTRAINT [SurgicalProcedureEventFact-ProviderDim12]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact-SugicalProcedureEventWoundClassDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact]'))
ALTER TABLE [dbo].[SurgicalProcedureEventFact]  WITH CHECK ADD  CONSTRAINT [SurgicalProcedureEventFact-SugicalProcedureEventWoundClassDim] FOREIGN KEY([WND_CLASS_CDS])
REFERENCES [dbo].[SugicalProcedureEventWoundClassDim] ([WND_CLASS_CDS])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact-SugicalProcedureEventWoundClassDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact]'))
ALTER TABLE [dbo].[SurgicalProcedureEventFact] CHECK CONSTRAINT [SurgicalProcedureEventFact-SugicalProcedureEventWoundClassDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact-SurgicalCaseDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact]'))
ALTER TABLE [dbo].[SurgicalProcedureEventFact]  WITH CHECK ADD  CONSTRAINT [SurgicalProcedureEventFact-SurgicalCaseDim] FOREIGN KEY([CASE_SK])
REFERENCES [dbo].[SurgicalCaseDim] ([CASE_SK])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact-SurgicalCaseDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact]'))
ALTER TABLE [dbo].[SurgicalProcedureEventFact] CHECK CONSTRAINT [SurgicalProcedureEventFact-SurgicalCaseDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact-SurgicalProcedureEventAnesthesiaTypeDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact]'))
ALTER TABLE [dbo].[SurgicalProcedureEventFact]  WITH CHECK ADD  CONSTRAINT [SurgicalProcedureEventFact-SurgicalProcedureEventAnesthesiaTypeDim] FOREIGN KEY([ANSTH_TYPE_CDS])
REFERENCES [dbo].[SurgicalProcedureEventAnesthesiaTypeDim] ([ANSTH_TYPE_CDS])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact-SurgicalProcedureEventAnesthesiaTypeDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact]'))
ALTER TABLE [dbo].[SurgicalProcedureEventFact] CHECK CONSTRAINT [SurgicalProcedureEventFact-SurgicalProcedureEventAnesthesiaTypeDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact-SurgicalProcedureEventLateralityDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact]'))
ALTER TABLE [dbo].[SurgicalProcedureEventFact]  WITH CHECK ADD  CONSTRAINT [SurgicalProcedureEventFact-SurgicalProcedureEventLateralityDim] FOREIGN KEY([LTRLTY_CDS])
REFERENCES [dbo].[SurgicalProcedureEventLateralityDim] ([LTRLTY_CDS])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact-SurgicalProcedureEventLateralityDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact]'))
ALTER TABLE [dbo].[SurgicalProcedureEventFact] CHECK CONSTRAINT [SurgicalProcedureEventFact-SurgicalProcedureEventLateralityDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact-SurgicalProcedureEventProcedureSiteDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact]'))
ALTER TABLE [dbo].[SurgicalProcedureEventFact]  WITH CHECK ADD  CONSTRAINT [SurgicalProcedureEventFact-SurgicalProcedureEventProcedureSiteDim] FOREIGN KEY([PRCDR_SITE_CDS])
REFERENCES [dbo].[SurgicalProcedureEventProcedureSiteDim] ([PRCDR_SITE_CDS])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact-SurgicalProcedureEventProcedureSiteDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact]'))
ALTER TABLE [dbo].[SurgicalProcedureEventFact] CHECK CONSTRAINT [SurgicalProcedureEventFact-SurgicalProcedureEventProcedureSiteDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact-SurgicalProcedureEventServiceDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact]'))
ALTER TABLE [dbo].[SurgicalProcedureEventFact]  WITH CHECK ADD  CONSTRAINT [SurgicalProcedureEventFact-SurgicalProcedureEventServiceDim] FOREIGN KEY([SRVC_CDS])
REFERENCES [dbo].[SurgicalProcedureEventServiceDim] ([SRVC_CDS])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact-SurgicalProcedureEventServiceDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalProcedureEventFact]'))
ALTER TABLE [dbo].[SurgicalProcedureEventFact] CHECK CONSTRAINT [SurgicalProcedureEventFact-SurgicalProcedureEventServiceDim]
GO
