USE [carilion_dw]
GO
set nocount on
GO

GO
/****** Object:  Table [dbo].[SurgicalSupplyDim]    Script Date: 6/21/2018 11:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalSupplyDim]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[SurgicalSupplyDim](
	[SPPLY_SK] [bigint] IDENTITY(1,1) NOT NULL,
	[SPPLY_NM] [varchar](513) NULL,
	[SPPLY_TYPE_CDS] [varchar](81) NULL,
	[MNFCTR_CDS] [varchar](20) NULL,
	[MNFCTR_CTLG_NBR] [varchar](255) NULL,
	[VND_CDS] [int] NULL,
	[VND_CTLG_NBR] [varchar](255) NULL,
	[IMPLNT_IND] [varchar](3) NULL,
 CONSTRAINT [PK_SurgicalSupplyDim_SPPLY_SK] PRIMARY KEY CLUSTERED 
(
	[SPPLY_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[SurgicalSupplyDim] ON 

INSERT [dbo].[SurgicalSupplyDim] ([SPPLY_SK], [SPPLY_NM], [SPPLY_TYPE_CDS], [MNFCTR_CDS], [MNFCTR_CTLG_NBR], [VND_CDS], [VND_CTLG_NBR], [IMPLNT_IND]) VALUES (3, N'H6NEJUWVT9QH6V8JJ8BSXLMES5UAI2KWUF9M6W1XGPNUSQ8KZFML42VVJ9LE0LDQPTNRMMDN7EB8XSL1WAB2FZRRJ', N'si delerium. Tam non essit. quo, delerium. estis plorum et Multum sed quad quorum', N'CILFMF', N'OX59FCIK0PLV1IWIB7AP', 4, N'5QS84J2MZQSML3ABD0JAWA42MZYH7RHSFHETK8MLRZMBE3Q0IRW2EBJVMPM4LLF88073PHQ5EXJXNTOI8XZGUFD3YI6VLH05JD3EWNB00ROHRL8T14WNLZDSM357AVJWXDD9QAMLMYF3RWC', N'T5')
SET IDENTITY_INSERT [dbo].[SurgicalSupplyDim] OFF
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalSupplyDim-SurgicalSupplyManufacturerDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalSupplyDim]'))
ALTER TABLE [dbo].[SurgicalSupplyDim]  WITH CHECK ADD  CONSTRAINT [SurgicalSupplyDim-SurgicalSupplyManufacturerDim] FOREIGN KEY([MNFCTR_CDS])
REFERENCES [dbo].[SurgicalSupplyManufacturerDim] ([MNFCTR_CDS])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalSupplyDim-SurgicalSupplyManufacturerDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalSupplyDim]'))
ALTER TABLE [dbo].[SurgicalSupplyDim] CHECK CONSTRAINT [SurgicalSupplyDim-SurgicalSupplyManufacturerDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalSupplyDim-SurgicalSupplyVendorDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalSupplyDim]'))
ALTER TABLE [dbo].[SurgicalSupplyDim]  WITH CHECK ADD  CONSTRAINT [SurgicalSupplyDim-SurgicalSupplyVendorDim] FOREIGN KEY([VND_CDS])
REFERENCES [dbo].[SurgicalSupplyVendorDim] ([VND_CDS])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalSupplyDim-SurgicalSupplyVendorDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalSupplyDim]'))
ALTER TABLE [dbo].[SurgicalSupplyDim] CHECK CONSTRAINT [SurgicalSupplyDim-SurgicalSupplyVendorDim]
GO
