USE [carilion_dw]
GO
set nocount on
GO

GO
/****** Object:  Table [dbo].[DiagnosisBridge]    Script Date: 6/21/2018 11:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DiagnosisBridge]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DiagnosisBridge](
	[DIAG_CD_SK] [int] IDENTITY(1,1) NOT NULL,
	[DIAG_CD_DESC] [varchar](255) NULL,
	[MSTR_DIAG_CD] [varchar](50) NULL,
	[ICD9_CD] [varchar](50) NULL,
	[ICD9_CD_LST] [varchar](255) NULL,
	[ICD10_CD] [varchar](50) NULL,
	[ICD10_CD_LST] [varchar](255) NULL,
	[DIAG_HIR_SK] [int] NULL,
 CONSTRAINT [PK_DiagnosisBridge_DIAG_CD_SK] PRIMARY KEY CLUSTERED 
(
	[DIAG_CD_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[DiagnosisBridge] ON 

INSERT [dbo].[DiagnosisBridge] ([DIAG_CD_SK], [DIAG_CD_DESC], [MSTR_DIAG_CD], [ICD9_CD], [ICD9_CD_LST], [ICD10_CD], [ICD10_CD_LST], [DIAG_HIR_SK]) VALUES (2, N'Sed Tam estum. manifestum non gravis dolorum et e nomen funem. et in sed quantare parte plurissimum vobis essit.', N'G9ZI62IQ9HAQ73VPEN6ZQSLVE8G7ULVOJ7Y7II0KNWG', N'O7E1VZ0N0Y0RU011KMXCUM4', N'SM5KO8UPOZ4K9CBC7GCK', N'W9RLNTFF', N'3OT2VUFI14PTYRQXEP2C6L7MI5PTA83Y4BN01JV9RF9EQNEONYO495IHH7KQ4M8T0RPN3PWUT', 87)
INSERT [dbo].[DiagnosisBridge] ([DIAG_CD_SK], [DIAG_CD_DESC], [MSTR_DIAG_CD], [ICD9_CD], [ICD9_CD_LST], [ICD10_CD], [ICD10_CD_LST], [DIAG_HIR_SK]) VALUES (3, N'quorum linguens linguens habitatio estis et brevens, quoque in quad et estum. Quad manifestum et gravum Id eggredior. novum', N'J36NOSI3NFFON43YLBWNMM605O6WMMBTCBBB', N'N65HMQI69SV5IQPJ3RDPM85QOTH6RNO223E', N'VBIEEPC0THJIEXMFQPMWMH12FSQ0BJVKIEXAN59IHOVIK1VEPXHQQOWDAFYMZBO9MZ000BSKG3EXLIHEWCBE24TTHKZ76NJ5ZMWL1VED5XAM9ZRSXKPM0A7H', N'PWMZO7G0ZSWY9XBI1JCI942B78J5P7WDVD2V3T', N'LRCSVUQ15BJZPYT6JUZ5446FEZYRLY2TAFKQ4PBPZ3HW91', 87)
GO
SET IDENTITY_INSERT [dbo].[DiagnosisBridge] OFF
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[DiagnosisBridge-DiagnosisHierarchy]') AND parent_object_id = OBJECT_ID(N'[dbo].[DiagnosisBridge]'))
ALTER TABLE [dbo].[DiagnosisBridge]  WITH CHECK ADD  CONSTRAINT [DiagnosisBridge-DiagnosisHierarchy] FOREIGN KEY([DIAG_HIR_SK])
REFERENCES [dbo].[DiagnosisHierarchy] ([DIAG_HIR_SK])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[DiagnosisBridge-DiagnosisHierarchy]') AND parent_object_id = OBJECT_ID(N'[dbo].[DiagnosisBridge]'))
ALTER TABLE [dbo].[DiagnosisBridge] CHECK CONSTRAINT [DiagnosisBridge-DiagnosisHierarchy]
GO
