USE [carilion_dw]
GO
set nocount on
GO

GO
/****** Object:  Table [dbo].[OutpatientAdmitConfStatrusDim]    Script Date: 6/21/2018 11:44:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OutpatientAdmitConfStatrusDim]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[OutpatientAdmitConfStatrusDim](
	[ADMT_CNF_STT_CDS] [int] IDENTITY(1,1) NOT NULL,
	[ADMT_CNF_STT_NM] [varchar](255) NULL,
 CONSTRAINT [PK_OutpatientAdmitConfStatrusDim_ADMT_CNF_STT_CDS] PRIMARY KEY CLUSTERED 
(
	[ADMT_CNF_STT_CDS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[OutpatientAdmitConfStatrusDim] ON 

INSERT [dbo].[OutpatientAdmitConfStatrusDim] ([ADMT_CNF_STT_CDS], [ADMT_CNF_STT_NM]) VALUES (1, N'TMANMETP4N639GFVH6IXZAPU7CIKPQXSHXK5VXOEAGA5S5ZG1TM4GC7IWFGAW90DQDMBWA0KI3NIZJ21C1IV4SB4Q29FGDI0FWFEJNKQS2LCPPICDEXUQ49X2HLU1K34LM224NIOGS326ZF1JW21FN9BNIC12QP7YHR2MF8PW9EY16Q31KA4I1OXCRFLAGMQ2W3P7DE3OC569B9G')
INSERT [dbo].[OutpatientAdmitConfStatrusDim] ([ADMT_CNF_STT_CDS], [ADMT_CNF_STT_NM]) VALUES (2, N'90IGKPXSTPV0MFFNNV530VN56G5WIO1HYT0G3AI66XEOJ31XPJLF4DQEC')
INSERT [dbo].[OutpatientAdmitConfStatrusDim] ([ADMT_CNF_STT_CDS], [ADMT_CNF_STT_NM]) VALUES (3, N'93K0A5ND1TEZJDDYW3HZL3F76Y2LCL2M3R0EM5N80618IPZ826HNWCQ6NCUB320GQSVSDYCQG9ZF17OHZUJ63FPR0UR9BC4X5LHQT7U4UQ7NDB5GODC9JUCA24RI72F4419FPXNRZECD82DOPALYZVEB86OPFBXRB2JB2')
SET IDENTITY_INSERT [dbo].[OutpatientAdmitConfStatrusDim] OFF
