USE [carilion_dw]
GO
/****** Object:  Table [dbo].[MeasureDim]    Script Date: 6/21/2018 11:44:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MeasureDim]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MeasureDim](
	[Measure_Dim_ID] [int] IDENTITY(1,1) NOT NULL,
	[Source_ID] [int] NULL,
	[Source_Measure_ID] [int] NULL,
	[Is_Active] [bit] NULL,
	[Measure] [varchar](4000) NULL,
 CONSTRAINT [PK_MeasureDim_Measure_Dim_ID] PRIMARY KEY CLUSTERED 
(
	[Measure_Dim_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[MeasureDim] ON 

INSERT [dbo].[MeasureDim] ([Measure_Dim_ID], [Source_ID], [Source_Measure_ID], [Is_Active], [Measure]) VALUES (3, 4, 3, 0, N'N8HPYPQRV3QKAB8FJ9OOOV6H99F7PZLHY2C9DMMKJ3HKGKJD5J0VYF6R20FP9J1WH9M8ZZ2WN35LEM1PP215YPIIVK7D6WBZ1K27XBE6H38UALDFYQZ6HWXSR3CERPQQS5KTKUSEOVNVHN897REGX4H5NAFTYZESDI240JV4YKHM82A3V360A9SNNF6AEYGOHVHZL39NWAICMVWLZCYVTEI3PEHKDKPZ4T5CKBISTI30RG1SILB20LV2DE96MO9BKI7TPJ0NT51AAHC8DO2S9NZJX2Z61C659SF8972YKN8UJKSV11TXMH1XIOWNKULHZW1H13Z6M38ME5ZC9440I8ISQIPKBFEP2QUNJAUX1NBJ8FIDOJDGPKYQD9RIDEU7OJKNACTZA7ZVXZJB0CWR1YZHS49AJBJNS4UPVU3BQE5IL3TEPGH1H25PJ2V63IFYNB3T4UF69K1NSGV')
SET IDENTITY_INSERT [dbo].[MeasureDim] OFF
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[QualityMeasureDim-QualityMeasureSourceDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[MeasureDim]'))
ALTER TABLE [dbo].[MeasureDim]  WITH CHECK ADD  CONSTRAINT [QualityMeasureDim-QualityMeasureSourceDim] FOREIGN KEY([Source_ID])
REFERENCES [dbo].[MeasureSourceDim] ([Source_ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[QualityMeasureDim-QualityMeasureSourceDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[MeasureDim]'))
ALTER TABLE [dbo].[MeasureDim] CHECK CONSTRAINT [QualityMeasureDim-QualityMeasureSourceDim]
GO
