USE [carilion_dw]
GO
/****** Object:  Table [dbo].[SurgicalSupplyUseFact]    Script Date: 6/21/2018 11:44:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalSupplyUseFact]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[SurgicalSupplyUseFact](
	[SRGCL_SPPLY_USE_FACT_SK] [bigint] NOT NULL,
	[SRC_SRGCL_SPPLY_ID] [varchar](254) NULL,
	[PTNT_SK] [bigint] NULL,
	[CASE_SK] [bigint] NULL,
	[SPPLY_SK] [bigint] NULL,
	[DEPT_SK] [bigint] NULL,
	[SRG_DT] [datetime] NULL,
	[HSPTL_ENCNT_SK] [bigint] NULL,
	[SRG_ENCNT_SK] [bigint] NULL,
	[PRMY_PROVDR_SK] [bigint] NULL,
	[PRCDR_CD_SK] [bigint] NULL,
	[LOG_STS_CDS] [int] NULL,
	[OR_SRVC_CDS] [int] NULL,
	[NBR_USE] [int] NULL,
	[NBR_WSTD] [int] NULL,
	[NBR_OPEN] [int] NULL,
	[NBR_PRN] [int] NULL,
	[UNT_COST] [numeric](18, 2) NULL,
	[CRGBL_IND] [int] NULL
) ON [PRIMARY]
END
GO
INSERT [dbo].[SurgicalSupplyUseFact] ([SRGCL_SPPLY_USE_FACT_SK], [SRC_SRGCL_SPPLY_ID], [PTNT_SK], [CASE_SK], [SPPLY_SK], [DEPT_SK], [SRG_DT], [HSPTL_ENCNT_SK], [SRG_ENCNT_SK], [PRMY_PROVDR_SK], [PRCDR_CD_SK], [LOG_STS_CDS], [OR_SRVC_CDS], [NBR_USE], [NBR_WSTD], [NBR_OPEN], [NBR_PRN], [UNT_COST], [CRGBL_IND]) VALUES (602780960714065920, N'36140', 2, 2, 2, 2, CAST(N'2013-12-05T00:00:00.000' AS DateTime), 2, 2, 2, 2, 2, 2, 1973345641, -528343717, -1807403453, 72987767, CAST(9530344410000000.00 AS Numeric(18, 2)), 2)
INSERT [dbo].[SurgicalSupplyUseFact] ([SRGCL_SPPLY_USE_FACT_SK], [SRC_SRGCL_SPPLY_ID], [PTNT_SK], [CASE_SK], [SPPLY_SK], [DEPT_SK], [SRG_DT], [HSPTL_ENCNT_SK], [SRG_ENCNT_SK], [PRMY_PROVDR_SK], [PRCDR_CD_SK], [LOG_STS_CDS], [OR_SRVC_CDS], [NBR_USE], [NBR_WSTD], [NBR_OPEN], [NBR_PRN], [UNT_COST], [CRGBL_IND]) VALUES (7599780398556491776, N'63365', 4, 4, 4, 4, CAST(N'2012-02-29T00:00:00.000' AS DateTime), 4, 4, 4, 4, 4, 4, 2079403693, -458260664, 1505594073, 1307674969, CAST(7346208520000000.00 AS Numeric(18, 2)), 4)
INSERT [dbo].[SurgicalSupplyUseFact] ([SRGCL_SPPLY_USE_FACT_SK], [SRC_SRGCL_SPPLY_ID], [PTNT_SK], [CASE_SK], [SPPLY_SK], [DEPT_SK], [SRG_DT], [HSPTL_ENCNT_SK], [SRG_ENCNT_SK], [PRMY_PROVDR_SK], [PRCDR_CD_SK], [LOG_STS_CDS], [OR_SRVC_CDS], [NBR_USE], [NBR_WSTD], [NBR_OPEN], [NBR_PRN], [UNT_COST], [CRGBL_IND]) VALUES (1994940940449409024, NULL, 5, 5, 5, 5, CAST(N'2014-12-27T00:00:00.000' AS DateTime), 5, 5, 5, 5, 5, 5, 681243664, 841956899, 592755075, -994472637, CAST(7390576900000000.00 AS Numeric(18, 2)), 5)
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalSupplyUseFact-BinaryDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalSupplyUseFact]'))
ALTER TABLE [dbo].[SurgicalSupplyUseFact]  WITH CHECK ADD  CONSTRAINT [SurgicalSupplyUseFact-BinaryDim] FOREIGN KEY([CRGBL_IND])
REFERENCES [dbo].[BinaryDim] ([Binary_CD])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalSupplyUseFact-BinaryDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalSupplyUseFact]'))
ALTER TABLE [dbo].[SurgicalSupplyUseFact] CHECK CONSTRAINT [SurgicalSupplyUseFact-BinaryDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalSupplyUseFact-DateDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalSupplyUseFact]'))
ALTER TABLE [dbo].[SurgicalSupplyUseFact]  WITH CHECK ADD  CONSTRAINT [SurgicalSupplyUseFact-DateDim] FOREIGN KEY([SRG_DT])
REFERENCES [dbo].[DateDim] ([CLNDR_DT])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalSupplyUseFact-DateDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalSupplyUseFact]'))
ALTER TABLE [dbo].[SurgicalSupplyUseFact] CHECK CONSTRAINT [SurgicalSupplyUseFact-DateDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalSupplyUseFact-DepartmentDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalSupplyUseFact]'))
ALTER TABLE [dbo].[SurgicalSupplyUseFact]  WITH CHECK ADD  CONSTRAINT [SurgicalSupplyUseFact-DepartmentDim] FOREIGN KEY([DEPT_SK])
REFERENCES [dbo].[DepartmentDim] ([DEPT_SK])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalSupplyUseFact-DepartmentDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalSupplyUseFact]'))
ALTER TABLE [dbo].[SurgicalSupplyUseFact] CHECK CONSTRAINT [SurgicalSupplyUseFact-DepartmentDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalSupplyUseFact-EncounterDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalSupplyUseFact]'))
ALTER TABLE [dbo].[SurgicalSupplyUseFact]  WITH CHECK ADD  CONSTRAINT [SurgicalSupplyUseFact-EncounterDim] FOREIGN KEY([HSPTL_ENCNT_SK])
REFERENCES [dbo].[EncounterDim] ([ENCNT_SK])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalSupplyUseFact-EncounterDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalSupplyUseFact]'))
ALTER TABLE [dbo].[SurgicalSupplyUseFact] CHECK CONSTRAINT [SurgicalSupplyUseFact-EncounterDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalSupplyUseFact-EncounterDim1]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalSupplyUseFact]'))
ALTER TABLE [dbo].[SurgicalSupplyUseFact]  WITH CHECK ADD  CONSTRAINT [SurgicalSupplyUseFact-EncounterDim1] FOREIGN KEY([SRG_ENCNT_SK])
REFERENCES [dbo].[EncounterDim] ([ENCNT_SK])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalSupplyUseFact-EncounterDim1]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalSupplyUseFact]'))
ALTER TABLE [dbo].[SurgicalSupplyUseFact] CHECK CONSTRAINT [SurgicalSupplyUseFact-EncounterDim1]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalSupplyUseFact-PatientDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalSupplyUseFact]'))
ALTER TABLE [dbo].[SurgicalSupplyUseFact]  WITH CHECK ADD  CONSTRAINT [SurgicalSupplyUseFact-PatientDim] FOREIGN KEY([PTNT_SK])
REFERENCES [dbo].[PatientDim] ([PTNT_SK])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalSupplyUseFact-PatientDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalSupplyUseFact]'))
ALTER TABLE [dbo].[SurgicalSupplyUseFact] CHECK CONSTRAINT [SurgicalSupplyUseFact-PatientDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalSupplyUseFact-ProcedureDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalSupplyUseFact]'))
ALTER TABLE [dbo].[SurgicalSupplyUseFact]  WITH CHECK ADD  CONSTRAINT [SurgicalSupplyUseFact-ProcedureDim] FOREIGN KEY([PRCDR_CD_SK])
REFERENCES [dbo].[ProcedureDim] ([PRCDR_CD_SK])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalSupplyUseFact-ProcedureDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalSupplyUseFact]'))
ALTER TABLE [dbo].[SurgicalSupplyUseFact] CHECK CONSTRAINT [SurgicalSupplyUseFact-ProcedureDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalSupplyUseFact-ProviderDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalSupplyUseFact]'))
ALTER TABLE [dbo].[SurgicalSupplyUseFact]  WITH CHECK ADD  CONSTRAINT [SurgicalSupplyUseFact-ProviderDim] FOREIGN KEY([PRMY_PROVDR_SK])
REFERENCES [dbo].[ProviderDim] ([PROVDR_SK])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalSupplyUseFact-ProviderDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalSupplyUseFact]'))
ALTER TABLE [dbo].[SurgicalSupplyUseFact] CHECK CONSTRAINT [SurgicalSupplyUseFact-ProviderDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalSupplyUseFact-SurgicalCaseDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalSupplyUseFact]'))
ALTER TABLE [dbo].[SurgicalSupplyUseFact]  WITH CHECK ADD  CONSTRAINT [SurgicalSupplyUseFact-SurgicalCaseDim] FOREIGN KEY([CASE_SK])
REFERENCES [dbo].[SurgicalCaseDim] ([CASE_SK])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalSupplyUseFact-SurgicalCaseDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalSupplyUseFact]'))
ALTER TABLE [dbo].[SurgicalSupplyUseFact] CHECK CONSTRAINT [SurgicalSupplyUseFact-SurgicalCaseDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalSupplyUseFact-SurgicalSupplyDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalSupplyUseFact]'))
ALTER TABLE [dbo].[SurgicalSupplyUseFact]  WITH CHECK ADD  CONSTRAINT [SurgicalSupplyUseFact-SurgicalSupplyDim] FOREIGN KEY([SPPLY_SK])
REFERENCES [dbo].[SurgicalSupplyDim] ([SPPLY_SK])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalSupplyUseFact-SurgicalSupplyDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalSupplyUseFact]'))
ALTER TABLE [dbo].[SurgicalSupplyUseFact] CHECK CONSTRAINT [SurgicalSupplyUseFact-SurgicalSupplyDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalSupplyUseFact-SurgicalSupplyUseLogStatusDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalSupplyUseFact]'))
ALTER TABLE [dbo].[SurgicalSupplyUseFact]  WITH CHECK ADD  CONSTRAINT [SurgicalSupplyUseFact-SurgicalSupplyUseLogStatusDim] FOREIGN KEY([LOG_STS_CDS])
REFERENCES [dbo].[SurgicalSupplyUseLogStatusDim] ([LOG_STS_CDS])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalSupplyUseFact-SurgicalSupplyUseLogStatusDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalSupplyUseFact]'))
ALTER TABLE [dbo].[SurgicalSupplyUseFact] CHECK CONSTRAINT [SurgicalSupplyUseFact-SurgicalSupplyUseLogStatusDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalSupplyUseFact-SurgicalSupplyUseORServiceDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalSupplyUseFact]'))
ALTER TABLE [dbo].[SurgicalSupplyUseFact]  WITH CHECK ADD  CONSTRAINT [SurgicalSupplyUseFact-SurgicalSupplyUseORServiceDim] FOREIGN KEY([OR_SRVC_CDS])
REFERENCES [dbo].[SurgicalSupplyUseORServiceDim] ([OR_SRVC_CDS])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[SurgicalSupplyUseFact-SurgicalSupplyUseORServiceDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[SurgicalSupplyUseFact]'))
ALTER TABLE [dbo].[SurgicalSupplyUseFact] CHECK CONSTRAINT [SurgicalSupplyUseFact-SurgicalSupplyUseORServiceDim]
GO
