USE [carilion_dw]
GO
/****** Object:  Table [dbo].[CensusGeographicalAreaDim]    Script Date: 6/21/2018 11:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CensusGeographicalAreaDim]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CensusGeographicalAreaDim](
	[GEO_AREA_SK] [int] IDENTITY(1,1) NOT NULL,
	[GEO_AREA_TYPE] [varchar](50) NULL,
	[GEO_AREA_DSPL_NM] [varchar](255) NULL,
 CONSTRAINT [PK_CensusGeographicalAreaDim_GEO_AREA_SK] PRIMARY KEY CLUSTERED 
(
	[GEO_AREA_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[CensusGeographicalAreaDim] ON 

INSERT [dbo].[CensusGeographicalAreaDim] ([GEO_AREA_SK], [GEO_AREA_TYPE], [GEO_AREA_DSPL_NM]) VALUES (1, N'vantis. fecundio, quad eggredior. nomen nomen quad', N'VXJF6M6WM6HY95S54GL5KEG9F1EXDYPVPW8XL1I5R5DUBEJDTL49IM6HGAZ478JNGL8')
INSERT [dbo].[CensusGeographicalAreaDim] ([GEO_AREA_SK], [GEO_AREA_TYPE], [GEO_AREA_DSPL_NM]) VALUES (2, N'ut et quantare vobis quartu bono quad quartu', N'XVJ2XFDF0LX1I04RTFD2QRGA1EYJLQDQ56GY22C39QGUDYL64RT185M6F80JGUTA87VCK5PR3ATZALX2SRFUWCHZKAJT1TMEX6M639MY12XYCNVTBXQPFYDVPVSAMWP9NF13YQZJ5GSUEINWEPH42WZZTRG8GBB5DOAWLR')
INSERT [dbo].[CensusGeographicalAreaDim] ([GEO_AREA_SK], [GEO_AREA_TYPE], [GEO_AREA_DSPL_NM]) VALUES (3, N'quo, apparens Id novum Sed estis si gravum', N'KY7JY5JG68VVXFL6QF2A79R2U4NHQ8QB')
SET IDENTITY_INSERT [dbo].[CensusGeographicalAreaDim] OFF
