USE [carilion_dw]
GO
/****** Object:  Table [dbo].[OutpatientFinancialClassDim]    Script Date: 6/21/2018 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OutpatientFinancialClassDim]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[OutpatientFinancialClassDim](
	[VST_FNNCL_CLSS_CDS] [int] IDENTITY(1,1) NOT NULL,
	[VST_FNNCL_CLSS_NM] [varchar](255) NULL,
 CONSTRAINT [PK_OutpatientFinancialClassDim_VST_FNNCL_CLSS_CDS] PRIMARY KEY CLUSTERED 
(
	[VST_FNNCL_CLSS_CDS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[OutpatientFinancialClassDim] ON 

INSERT [dbo].[OutpatientFinancialClassDim] ([VST_FNNCL_CLSS_CDS], [VST_FNNCL_CLSS_NM]) VALUES (1, N'K7OKU96T')
INSERT [dbo].[OutpatientFinancialClassDim] ([VST_FNNCL_CLSS_CDS], [VST_FNNCL_CLSS_NM]) VALUES (2, N'4WTP3IKRIIABN30WQDMTZAFIAUJZ3948QKIGH8P2MQB5KNW3OO4VK0RTGAF9YKN9D')
INSERT [dbo].[OutpatientFinancialClassDim] ([VST_FNNCL_CLSS_CDS], [VST_FNNCL_CLSS_NM]) VALUES (3, N'L2LJFHOJ79YAYNXFBF48OQTO06TG4122SI1TI48M71SIU6BRBJ9844DV9XJ9O8F66WHGL3X77I1MXATUV14KSTYO46KLKZYYMMBYOV67M11M2QXY3PEM3UEDYTCFJCN7J20BZV5ZVWYQRBLD8LHULCUR8YZUIQOAET2ZQMZ8JEQ7WNLM8Z6YUSM77821VAH48OCY9LMLL9B6LNVKCDMJKPFM6VSHKYC8WLY7BNCNCKCLHFLK')
SET IDENTITY_INSERT [dbo].[OutpatientFinancialClassDim] OFF
