USE [carilion_dw]
GO
/****** Object:  Table [dbo].[DRGSeqDim]    Script Date: 6/21/2018 11:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DRGSeqDim]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DRGSeqDim](
	[PRTY_SQNC] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_DRGSeqDim_PRTY_SQNC] PRIMARY KEY CLUSTERED 
(
	[PRTY_SQNC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[DRGSeqDim] ON 

INSERT [dbo].[DRGSeqDim] ([PRTY_SQNC]) VALUES (1)
INSERT [dbo].[DRGSeqDim] ([PRTY_SQNC]) VALUES (2)
INSERT [dbo].[DRGSeqDim] ([PRTY_SQNC]) VALUES (3)
SET IDENTITY_INSERT [dbo].[DRGSeqDim] OFF
