USE [carilion_dw]
GO
/****** Object:  Table [dbo].[DRGTypeDim]    Script Date: 6/21/2018 11:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DRGTypeDim]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DRGTypeDim](
	[DRG_TYPE_CD] [varchar](255) NOT NULL,
	[DRG_TYPE_DSPLY_NM] [varchar](2059) NULL,
 CONSTRAINT [PK_DRGTypeDim_DRG_TYPE_CD] PRIMARY KEY CLUSTERED 
(
	[DRG_TYPE_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
INSERT [dbo].[DRGTypeDim] ([DRG_TYPE_CD], [DRG_TYPE_DSPLY_NM]) VALUES (N'B9VM7A', N'dolorum fecit. quo homo, quo plurissimum Id et habitatio quoque trepicandor si Longam, delerium. et sed')
INSERT [dbo].[DRGTypeDim] ([DRG_TYPE_CD], [DRG_TYPE_DSPLY_NM]) VALUES (N'DWCIWT', N'vantis. linguens quad glavans in sed brevens, quoque plurissimum trepicandor Quad essit. et et Sed non plorum')
INSERT [dbo].[DRGTypeDim] ([DRG_TYPE_CD], [DRG_TYPE_DSPLY_NM]) VALUES (N'H4YZVZ', N'rarendum fecit. non si et volcans quad et quad estum. linguens quo habitatio manifestum nomen Tam apparens manifestum')
