USE [carilion_dw]
GO
/****** Object:  Table [dbo].[InpatientFact]    Script Date: 6/21/2018 11:44:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InpatientFact]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[InpatientFact](
	[SRC_ENCNT_ID] [varchar](255) NULL,
	[ENCNT_SK] [bigint] NULL,
	[AGE_YRS_AT_CLNC_INPTNT_ADMT] [int] NULL,
	[AGE_MNTHS_AT_CLNC_INPTNT_ADMT] [int] NULL,
	[AGE_DYS_AT_CLNC_INPTNT_ADMT] [int] NULL,
	[LOS_DYS_CLNC_INPTNT] [int] NULL,
	[LOS_HRS_CLNC_INPTNT] [int] NULL,
	[INPTNT_APPT_MADE_DT] [datetime] NULL,
	[PRMY_CDD_PRCDR_SK] [varchar](1) NULL,
	[PRMY_CDD_DIAG_SK] [int] NULL,
	[LOS_DYS_EXPCT_INPTNT] [varchar](1) NULL,
	[CLNC_INPTNT_ADMT_DT] [datetime] NULL,
	[PTNT_SK] [bigint] NULL,
	[INPTNT_VST_SK] [bigint] NOT NULL,
	[HSPTL_ADMT_DT] [datetime] NULL,
	[HSPTL_ADMT_TS_SK] [bigint] NULL,
	[HSPTL_DSCRG_DT] [datetime] NULL,
	[HSPTL_DSCRG_TS_SK] [bigint] NULL,
	[AGE_YRS_AT_CLNC_INPTNT_ADMT_LOG] [float] NULL,
	[LOS_DYS_CLNC_INPTNT_LOG] [float] NULL,
	[LOS_HRS_CLNC_INPTNT_LOG] [float] NULL,
	[CLNC_INPTNT_ADMT_TS_SK] [bigint] NULL,
	[HSPTL_ADMT_PROVDR_SK] [bigint] NULL,
	[HSPTL_DSCRG_PROVDR_SK] [bigint] NULL
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[InpatientFact-DateDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[InpatientFact]'))
ALTER TABLE [dbo].[InpatientFact]  WITH CHECK ADD  CONSTRAINT [InpatientFact-DateDim] FOREIGN KEY([INPTNT_APPT_MADE_DT])
REFERENCES [dbo].[DateDim] ([CLNDR_DT])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[InpatientFact-DateDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[InpatientFact]'))
ALTER TABLE [dbo].[InpatientFact] CHECK CONSTRAINT [InpatientFact-DateDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[InpatientFact-DateDim1]') AND parent_object_id = OBJECT_ID(N'[dbo].[InpatientFact]'))
ALTER TABLE [dbo].[InpatientFact]  WITH CHECK ADD  CONSTRAINT [InpatientFact-DateDim1] FOREIGN KEY([CLNC_INPTNT_ADMT_DT])
REFERENCES [dbo].[DateDim] ([CLNDR_DT])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[InpatientFact-DateDim1]') AND parent_object_id = OBJECT_ID(N'[dbo].[InpatientFact]'))
ALTER TABLE [dbo].[InpatientFact] CHECK CONSTRAINT [InpatientFact-DateDim1]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[InpatientFact-DateDim2]') AND parent_object_id = OBJECT_ID(N'[dbo].[InpatientFact]'))
ALTER TABLE [dbo].[InpatientFact]  WITH CHECK ADD  CONSTRAINT [InpatientFact-DateDim2] FOREIGN KEY([HSPTL_ADMT_DT])
REFERENCES [dbo].[DateDim] ([CLNDR_DT])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[InpatientFact-DateDim2]') AND parent_object_id = OBJECT_ID(N'[dbo].[InpatientFact]'))
ALTER TABLE [dbo].[InpatientFact] CHECK CONSTRAINT [InpatientFact-DateDim2]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[InpatientFact-DateDim3]') AND parent_object_id = OBJECT_ID(N'[dbo].[InpatientFact]'))
ALTER TABLE [dbo].[InpatientFact]  WITH CHECK ADD  CONSTRAINT [InpatientFact-DateDim3] FOREIGN KEY([HSPTL_DSCRG_DT])
REFERENCES [dbo].[DateDim] ([CLNDR_DT])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[InpatientFact-DateDim3]') AND parent_object_id = OBJECT_ID(N'[dbo].[InpatientFact]'))
ALTER TABLE [dbo].[InpatientFact] CHECK CONSTRAINT [InpatientFact-DateDim3]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[InpatientFact-EncounterDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[InpatientFact]'))
ALTER TABLE [dbo].[InpatientFact]  WITH CHECK ADD  CONSTRAINT [InpatientFact-EncounterDim] FOREIGN KEY([ENCNT_SK])
REFERENCES [dbo].[EncounterDim] ([ENCNT_SK])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[InpatientFact-EncounterDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[InpatientFact]'))
ALTER TABLE [dbo].[InpatientFact] CHECK CONSTRAINT [InpatientFact-EncounterDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[InpatientFact-InpatientDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[InpatientFact]'))
ALTER TABLE [dbo].[InpatientFact]  WITH CHECK ADD  CONSTRAINT [InpatientFact-InpatientDim] FOREIGN KEY([INPTNT_VST_SK])
REFERENCES [dbo].[InpatientDim] ([INPTNT_VST_SK])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[InpatientFact-InpatientDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[InpatientFact]'))
ALTER TABLE [dbo].[InpatientFact] CHECK CONSTRAINT [InpatientFact-InpatientDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[InpatientFact-PatientDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[InpatientFact]'))
ALTER TABLE [dbo].[InpatientFact]  WITH CHECK ADD  CONSTRAINT [InpatientFact-PatientDim] FOREIGN KEY([PTNT_SK])
REFERENCES [dbo].[PatientDim] ([PTNT_SK])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[InpatientFact-PatientDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[InpatientFact]'))
ALTER TABLE [dbo].[InpatientFact] CHECK CONSTRAINT [InpatientFact-PatientDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[InpatientFact-ProviderDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[InpatientFact]'))
ALTER TABLE [dbo].[InpatientFact]  WITH CHECK ADD  CONSTRAINT [InpatientFact-ProviderDim] FOREIGN KEY([HSPTL_ADMT_PROVDR_SK])
REFERENCES [dbo].[ProviderDim] ([PROVDR_SK])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[InpatientFact-ProviderDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[InpatientFact]'))
ALTER TABLE [dbo].[InpatientFact] CHECK CONSTRAINT [InpatientFact-ProviderDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[InpatientFact-ProviderDim1]') AND parent_object_id = OBJECT_ID(N'[dbo].[InpatientFact]'))
ALTER TABLE [dbo].[InpatientFact]  WITH CHECK ADD  CONSTRAINT [InpatientFact-ProviderDim1] FOREIGN KEY([HSPTL_DSCRG_PROVDR_SK])
REFERENCES [dbo].[ProviderDim] ([PROVDR_SK])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[InpatientFact-ProviderDim1]') AND parent_object_id = OBJECT_ID(N'[dbo].[InpatientFact]'))
ALTER TABLE [dbo].[InpatientFact] CHECK CONSTRAINT [InpatientFact-ProviderDim1]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[InpatientFact-TimeDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[InpatientFact]'))
ALTER TABLE [dbo].[InpatientFact]  WITH CHECK ADD  CONSTRAINT [InpatientFact-TimeDim] FOREIGN KEY([HSPTL_ADMT_TS_SK])
REFERENCES [dbo].[TimeDim] ([TM_OF_DY_SK])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[InpatientFact-TimeDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[InpatientFact]'))
ALTER TABLE [dbo].[InpatientFact] CHECK CONSTRAINT [InpatientFact-TimeDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[InpatientFact-TimeDim1]') AND parent_object_id = OBJECT_ID(N'[dbo].[InpatientFact]'))
ALTER TABLE [dbo].[InpatientFact]  WITH CHECK ADD  CONSTRAINT [InpatientFact-TimeDim1] FOREIGN KEY([HSPTL_DSCRG_TS_SK])
REFERENCES [dbo].[TimeDim] ([TM_OF_DY_SK])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[InpatientFact-TimeDim1]') AND parent_object_id = OBJECT_ID(N'[dbo].[InpatientFact]'))
ALTER TABLE [dbo].[InpatientFact] CHECK CONSTRAINT [InpatientFact-TimeDim1]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[InpatientFact-TimeDim12]') AND parent_object_id = OBJECT_ID(N'[dbo].[InpatientFact]'))
ALTER TABLE [dbo].[InpatientFact]  WITH CHECK ADD  CONSTRAINT [InpatientFact-TimeDim12] FOREIGN KEY([CLNC_INPTNT_ADMT_TS_SK])
REFERENCES [dbo].[TimeDim] ([TM_OF_DY_SK])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[InpatientFact-TimeDim12]') AND parent_object_id = OBJECT_ID(N'[dbo].[InpatientFact]'))
ALTER TABLE [dbo].[InpatientFact] CHECK CONSTRAINT [InpatientFact-TimeDim12]
GO
