USE [carilion_dw]
GO
set nocount on
GO

GO
/****** Object:  Table [dbo].[LabDim]    Script Date: 6/21/2018 11:44:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LabDim]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LabDim](
	[LAB_SK] [bigint] IDENTITY(1,1) NOT NULL,
	[LAB_NAME] [varchar](513) NULL,
	[LAB_ADDR] [varchar](1024) NULL,
	[LAB_CITY] [varchar](255) NULL,
	[LAB_ST_CDS] [int] NULL,
	[LAB_ST_ABBR] [varchar](80) NULL,
	[LAB_PSTL_CDS] [varchar](15) NULL,
 CONSTRAINT [PK_LabDim_LAB_SK] PRIMARY KEY CLUSTERED 
(
	[LAB_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[LabDim] ON 

INSERT [dbo].[LabDim] ([LAB_SK], [LAB_NAME], [LAB_ADDR], [LAB_CITY], [LAB_ST_CDS], [LAB_ST_ABBR], [LAB_PSTL_CDS]) VALUES (2, N'Steve168', N'1WBX6KB16JCGEGX038ZJR6YZFQSD2E41VQGAZQ1Q038IZL27RCGHDBYVYCHGSXYREALOZM1D79INYGZUOKLPYMOJRLCM8LY24G3PZD85B3A4TBWICMR7C9TSL1XE9E4LAFIHC9UACGDVBKQFOU9LURQVNA3YGUVWZPTDTF52SGUVVYG1AHPF4IRJOMU26WTIKGWLQCM8P6TDXU0OT2OZ4GSGYAO6L3WWMBBE2VAXUGPXODLUM5847UE3OFNGOGNMAXQLJLMYRQ4NQUSLOUJFUSOSX', N'Minneapolis', 1998396437, N'7BT2QK6DJZI9H5R8HFK3FFD8J888SIF', N'')
SET IDENTITY_INSERT [dbo].[LabDim] OFF
