USE [carilion_dw]
GO
set nocount on
GO

GO
/****** Object:  Table [dbo].[DiagnosisFact]    Script Date: 6/21/2018 11:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DiagnosisFact]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DiagnosisFact](
	[DIAG_SK] [bigint] NOT NULL,
	[SRC_DIAG_SQNC] [int] NULL,
	[DIAG_CD_SK] [int] NULL,
	[PTNT_SK] [bigint] NULL,
	[ENCNT_SK] [bigint] NULL,
	[DEPT_SK] [bigint] NULL,
	[CHRNC_IND] [int] NULL,
	[PRMY_DIAG_IND] [int] NULL,
	[SCND_DIAG_IND] [int] NULL,
	[ED_DIAG_IND] [int] NULL,
	[DIAG_STRT_DT] [datetime] NULL,
	[DIAG_END_DT] [datetime] NULL,
	[SRC_TYPE] [varchar](50) NULL,
	[PRSNT_ON_ADMT_CD] [int] NULL,
	[DIAG_STRT_TS_SK] [bigint] NULL,
	[DIAG_END_TS_SK] [bigint] NULL
) ON [PRIMARY]
END
GO
INSERT [dbo].[DiagnosisFact] ([DIAG_SK], [SRC_DIAG_SQNC], [DIAG_CD_SK], [PTNT_SK], [ENCNT_SK], [DEPT_SK], [CHRNC_IND], [PRMY_DIAG_IND], [SCND_DIAG_IND], [ED_DIAG_IND], [DIAG_STRT_DT], [DIAG_END_DT], [SRC_TYPE], [PRSNT_ON_ADMT_CD], [DIAG_STRT_TS_SK], [DIAG_END_TS_SK]) VALUES (-2863306130362795008, 1770068081, 714, 2, 2, 2, 2, 2, 2, 2, CAST(N'2014-09-10T00:00:00.000' AS DateTime), CAST(N'2014-09-10T00:00:00.000' AS DateTime), N'KXSDTGLNTYBCM2NBGSLOSMGM2FTVIET5STIA07D', 2, 2833, 2833)
INSERT [dbo].[DiagnosisFact] ([DIAG_SK], [SRC_DIAG_SQNC], [DIAG_CD_SK], [PTNT_SK], [ENCNT_SK], [DEPT_SK], [CHRNC_IND], [PRMY_DIAG_IND], [SCND_DIAG_IND], [ED_DIAG_IND], [DIAG_STRT_DT], [DIAG_END_DT], [SRC_TYPE], [PRSNT_ON_ADMT_CD], [DIAG_STRT_TS_SK], [DIAG_END_TS_SK]) VALUES (7833522801065363456, -965286309, 168, 1, 1, 1, 1, 1, 1, 1, CAST(N'2010-06-17T00:00:00.000' AS DateTime), CAST(N'2010-06-17T00:00:00.000' AS DateTime), N'8UICQN', 1, 247, 247)
INSERT [dbo].[DiagnosisFact] ([DIAG_SK], [SRC_DIAG_SQNC], [DIAG_CD_SK], [PTNT_SK], [ENCNT_SK], [DEPT_SK], [CHRNC_IND], [PRMY_DIAG_IND], [SCND_DIAG_IND], [ED_DIAG_IND], [DIAG_STRT_DT], [DIAG_END_DT], [SRC_TYPE], [PRSNT_ON_ADMT_CD], [DIAG_STRT_TS_SK], [DIAG_END_TS_SK]) VALUES (-1493844820869146624, 1782345881, 513, 4, 4, 4, 4, 4, 4, 4, CAST(N'2014-02-21T00:00:00.000' AS DateTime), CAST(N'2014-02-21T00:00:00.000' AS DateTime), N'SPPZJ3', 4, 2512, 2512)
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[DIAG_FACT-DepartmentDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[DiagnosisFact]'))
ALTER TABLE [dbo].[DiagnosisFact]  WITH CHECK ADD  CONSTRAINT [DIAG_FACT-DepartmentDim] FOREIGN KEY([DEPT_SK])
REFERENCES [dbo].[DepartmentDim] ([DEPT_SK])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[DIAG_FACT-DepartmentDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[DiagnosisFact]'))
ALTER TABLE [dbo].[DiagnosisFact] CHECK CONSTRAINT [DIAG_FACT-DepartmentDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[DIAG_FACT-DiagnosisBridge]') AND parent_object_id = OBJECT_ID(N'[dbo].[DiagnosisFact]'))
ALTER TABLE [dbo].[DiagnosisFact]  WITH CHECK ADD  CONSTRAINT [DIAG_FACT-DiagnosisBridge] FOREIGN KEY([DIAG_CD_SK])
REFERENCES [dbo].[DiagnosisBridge] ([DIAG_CD_SK])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[DIAG_FACT-DiagnosisBridge]') AND parent_object_id = OBJECT_ID(N'[dbo].[DiagnosisFact]'))
ALTER TABLE [dbo].[DiagnosisFact] CHECK CONSTRAINT [DIAG_FACT-DiagnosisBridge]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[DIAG_FACT-EncounterDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[DiagnosisFact]'))
ALTER TABLE [dbo].[DiagnosisFact]  WITH CHECK ADD  CONSTRAINT [DIAG_FACT-EncounterDim] FOREIGN KEY([ENCNT_SK])
REFERENCES [dbo].[EncounterDim] ([ENCNT_SK])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[DIAG_FACT-EncounterDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[DiagnosisFact]'))
ALTER TABLE [dbo].[DiagnosisFact] CHECK CONSTRAINT [DIAG_FACT-EncounterDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[DIAG_FACT-PatientDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[DiagnosisFact]'))
ALTER TABLE [dbo].[DiagnosisFact]  WITH CHECK ADD  CONSTRAINT [DIAG_FACT-PatientDim] FOREIGN KEY([PTNT_SK])
REFERENCES [dbo].[PatientDim] ([PTNT_SK])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[DIAG_FACT-PatientDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[DiagnosisFact]'))
ALTER TABLE [dbo].[DiagnosisFact] CHECK CONSTRAINT [DIAG_FACT-PatientDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[DiagnosisFact-BinaryDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[DiagnosisFact]'))
ALTER TABLE [dbo].[DiagnosisFact]  WITH CHECK ADD  CONSTRAINT [DiagnosisFact-BinaryDim] FOREIGN KEY([CHRNC_IND])
REFERENCES [dbo].[BinaryDim] ([Binary_CD])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[DiagnosisFact-BinaryDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[DiagnosisFact]'))
ALTER TABLE [dbo].[DiagnosisFact] CHECK CONSTRAINT [DiagnosisFact-BinaryDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[DiagnosisFact-BinaryDim1]') AND parent_object_id = OBJECT_ID(N'[dbo].[DiagnosisFact]'))
ALTER TABLE [dbo].[DiagnosisFact]  WITH CHECK ADD  CONSTRAINT [DiagnosisFact-BinaryDim1] FOREIGN KEY([PRMY_DIAG_IND])
REFERENCES [dbo].[BinaryDim] ([Binary_CD])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[DiagnosisFact-BinaryDim1]') AND parent_object_id = OBJECT_ID(N'[dbo].[DiagnosisFact]'))
ALTER TABLE [dbo].[DiagnosisFact] CHECK CONSTRAINT [DiagnosisFact-BinaryDim1]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[DiagnosisFact-BinaryDim2]') AND parent_object_id = OBJECT_ID(N'[dbo].[DiagnosisFact]'))
ALTER TABLE [dbo].[DiagnosisFact]  WITH CHECK ADD  CONSTRAINT [DiagnosisFact-BinaryDim2] FOREIGN KEY([SCND_DIAG_IND])
REFERENCES [dbo].[BinaryDim] ([Binary_CD])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[DiagnosisFact-BinaryDim2]') AND parent_object_id = OBJECT_ID(N'[dbo].[DiagnosisFact]'))
ALTER TABLE [dbo].[DiagnosisFact] CHECK CONSTRAINT [DiagnosisFact-BinaryDim2]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[DiagnosisFact-BinaryDim3]') AND parent_object_id = OBJECT_ID(N'[dbo].[DiagnosisFact]'))
ALTER TABLE [dbo].[DiagnosisFact]  WITH CHECK ADD  CONSTRAINT [DiagnosisFact-BinaryDim3] FOREIGN KEY([ED_DIAG_IND])
REFERENCES [dbo].[BinaryDim] ([Binary_CD])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[DiagnosisFact-BinaryDim3]') AND parent_object_id = OBJECT_ID(N'[dbo].[DiagnosisFact]'))
ALTER TABLE [dbo].[DiagnosisFact] CHECK CONSTRAINT [DiagnosisFact-BinaryDim3]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[DiagnosisFact-DateDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[DiagnosisFact]'))
ALTER TABLE [dbo].[DiagnosisFact]  WITH CHECK ADD  CONSTRAINT [DiagnosisFact-DateDim] FOREIGN KEY([DIAG_STRT_DT])
REFERENCES [dbo].[DateDim] ([CLNDR_DT])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[DiagnosisFact-DateDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[DiagnosisFact]'))
ALTER TABLE [dbo].[DiagnosisFact] CHECK CONSTRAINT [DiagnosisFact-DateDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[DiagnosisFact-DateDim1]') AND parent_object_id = OBJECT_ID(N'[dbo].[DiagnosisFact]'))
ALTER TABLE [dbo].[DiagnosisFact]  WITH CHECK ADD  CONSTRAINT [DiagnosisFact-DateDim1] FOREIGN KEY([DIAG_END_DT])
REFERENCES [dbo].[DateDim] ([CLNDR_DT])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[DiagnosisFact-DateDim1]') AND parent_object_id = OBJECT_ID(N'[dbo].[DiagnosisFact]'))
ALTER TABLE [dbo].[DiagnosisFact] CHECK CONSTRAINT [DiagnosisFact-DateDim1]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[DiagnosisFact-DiagnosisPresentOnAdmitDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[DiagnosisFact]'))
ALTER TABLE [dbo].[DiagnosisFact]  WITH CHECK ADD  CONSTRAINT [DiagnosisFact-DiagnosisPresentOnAdmitDim] FOREIGN KEY([PRSNT_ON_ADMT_CD])
REFERENCES [dbo].[DiagnosisPresentOnAdmitDim] ([PRSNT_ON_ADMT_CD])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[DiagnosisFact-DiagnosisPresentOnAdmitDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[DiagnosisFact]'))
ALTER TABLE [dbo].[DiagnosisFact] CHECK CONSTRAINT [DiagnosisFact-DiagnosisPresentOnAdmitDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[DiagnosisFact-DiagnosisSourceDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[DiagnosisFact]'))
ALTER TABLE [dbo].[DiagnosisFact]  WITH CHECK ADD  CONSTRAINT [DiagnosisFact-DiagnosisSourceDim] FOREIGN KEY([SRC_TYPE])
REFERENCES [dbo].[DiagnosisSourceDim] ([SRC_TYPE])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[DiagnosisFact-DiagnosisSourceDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[DiagnosisFact]'))
ALTER TABLE [dbo].[DiagnosisFact] CHECK CONSTRAINT [DiagnosisFact-DiagnosisSourceDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[DiagnosisFact-TimeDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[DiagnosisFact]'))
ALTER TABLE [dbo].[DiagnosisFact]  WITH CHECK ADD  CONSTRAINT [DiagnosisFact-TimeDim] FOREIGN KEY([DIAG_STRT_TS_SK])
REFERENCES [dbo].[TimeDim] ([TM_OF_DY_SK])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[DiagnosisFact-TimeDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[DiagnosisFact]'))
ALTER TABLE [dbo].[DiagnosisFact] CHECK CONSTRAINT [DiagnosisFact-TimeDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[DiagnosisFact-TimeDim1]') AND parent_object_id = OBJECT_ID(N'[dbo].[DiagnosisFact]'))
ALTER TABLE [dbo].[DiagnosisFact]  WITH CHECK ADD  CONSTRAINT [DiagnosisFact-TimeDim1] FOREIGN KEY([DIAG_END_TS_SK])
REFERENCES [dbo].[TimeDim] ([TM_OF_DY_SK])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[DiagnosisFact-TimeDim1]') AND parent_object_id = OBJECT_ID(N'[dbo].[DiagnosisFact]'))
ALTER TABLE [dbo].[DiagnosisFact] CHECK CONSTRAINT [DiagnosisFact-TimeDim1]
GO
