USE [carilion_dw]
GO
/****** Object:  Table [dbo].[MeasureMLFact]    Script Date: 6/21/2018 11:44:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MeasureMLFact]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MeasureMLFact](
	[Data_ID] [int] NOT NULL,
	[Measure_Dim_ID] [int] NULL,
	[Meaure_Month] [int] NULL,
	[Result] [numeric](18, 2) NULL,
	[LO_CDS] [int] NULL
) ON [PRIMARY]
END
GO
INSERT [dbo].[MeasureMLFact] ([Data_ID], [Measure_Dim_ID], [Meaure_Month], [Result], [LO_CDS]) VALUES (1, 5, 201612, CAST(1413012630000000.00 AS Numeric(18, 2)), -1860104542)
INSERT [dbo].[MeasureMLFact] ([Data_ID], [Measure_Dim_ID], [Meaure_Month], [Result], [LO_CDS]) VALUES (2, 3, 201203, CAST(8767815330000000.00 AS Numeric(18, 2)), -2008507550)
INSERT [dbo].[MeasureMLFact] ([Data_ID], [Measure_Dim_ID], [Meaure_Month], [Result], [LO_CDS]) VALUES (3, 3, 201404, CAST(9234193540000000.00 AS Numeric(18, 2)), -155530010)
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[MeasureMLFact-MeasureDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[MeasureMLFact]'))
ALTER TABLE [dbo].[MeasureMLFact]  WITH CHECK ADD  CONSTRAINT [MeasureMLFact-MeasureDim] FOREIGN KEY([Measure_Dim_ID])
REFERENCES [dbo].[MeasureDim] ([Measure_Dim_ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[MeasureMLFact-MeasureDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[MeasureMLFact]'))
ALTER TABLE [dbo].[MeasureMLFact] CHECK CONSTRAINT [MeasureMLFact-MeasureDim]
GO
