USE [carilion_dw]
GO
/****** Object:  Table [dbo].[ProcedureCategoryDim]    Script Date: 6/21/2018 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProcedureCategoryDim]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ProcedureCategoryDim](
	[PRCDR_CGY_ID] [int] IDENTITY(1,1) NOT NULL,
	[PRCDR_CGY_NM] [varchar](255) NULL,
 CONSTRAINT [PK_ProcedureCategoryDim_PRCDR_CGY_ID] PRIMARY KEY CLUSTERED 
(
	[PRCDR_CGY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[ProcedureCategoryDim] ON 

INSERT [dbo].[ProcedureCategoryDim] ([PRCDR_CGY_ID], [PRCDR_CGY_NM]) VALUES (1, N'E9XVCH2K5RPLO6JD9EHJ8W0FEBAZK47J7JCGEJZM7832J0')
INSERT [dbo].[ProcedureCategoryDim] ([PRCDR_CGY_ID], [PRCDR_CGY_NM]) VALUES (2, N'UGHS4MPLI8HH073Z0K5E5T3YQEVBZTYVDXFJ3C3WIXU7W2YE382IEM90CJ2PQDMP9M33RKWOH8V7ZV1OGH8QQGHQNE6K9D55B5XAYVMJCE15Q11HHE995VZT4CFCECE32QWUXQPKUOEBFB0MDO2V4WZ')
INSERT [dbo].[ProcedureCategoryDim] ([PRCDR_CGY_ID], [PRCDR_CGY_NM]) VALUES (3, N'645LGA5ZZX3Z47JROPFGHNETCSZPAIZ6RHNTK44JIEBH80H55A7FGIXIPC9NAGPHYW8NJP6KLVY3BWKBBTKZBKP8J537UG92OUJBSULF4NUKKT7TSXCGWQ5E6Z3EMYP4MVEGC8JH84VOQ4NPXA')
SET IDENTITY_INSERT [dbo].[ProcedureCategoryDim] OFF
