USE [carilion_dw]
GO
/****** Object:  Table [dbo].[MedicationDim]    Script Date: 6/21/2018 11:44:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MedicationDim]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MedicationDim](
	[MDCTN_SK] [bigint] IDENTITY(1,1) NOT NULL,
	[SRC_MDCTN_ID] [varchar](255) NULL,
	[MDCTN_NM] [varchar](255) NULL,
	[GNRC_NM] [varchar](255) NULL,
	[THRPC_CLASS_CDS] [int] NULL,
	[PHARM_CLASS_CDS] [int] NULL,
	[PHARM_SUBCLS_CDS] [int] NULL,
	[MDCTN_FORM_CDS] [int] NULL,
	[ADMN_RT_CDS] [int] NULL,
	[MDCTN_STRG] [varchar](255) NULL,
	[GPI_NUM] [varchar](255) NULL,
	[DEA_CLASS_CDS] [int] NULL,
	[CNTLD_SUBSTN_IND] [varchar](3) NULL,
 CONSTRAINT [PK_MedicationDim_MDCTN_SK] PRIMARY KEY CLUSTERED 
(
	[MDCTN_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[MedicationDim] ON 

INSERT [dbo].[MedicationDim] ([MDCTN_SK], [SRC_MDCTN_ID], [MDCTN_NM], [GNRC_NM], [THRPC_CLASS_CDS], [PHARM_CLASS_CDS], [PHARM_SUBCLS_CDS], [MDCTN_FORM_CDS], [ADMN_RT_CDS], [MDCTN_STRG], [GPI_NUM], [DEA_CLASS_CDS], [CNTLD_SUBSTN_IND]) VALUES (1, N'96618', N'9CVNO206ADAN61EP5ZF2EFNVBEZISGS03S620XX473GKIXAWDH9G6YXUO0BA3HDTK9KEVBO71BUAY3DE425B7CT4UCE0LN1PQNZ8CW11S2EV3MVLMX50B1M8FFJIXOLEA4KB341714J4XY18GSDNH1EO0RTXDI34G0LY2JHIWYZ7', N'K133KIIAN32CPR14R0T7NL0YY9LSLU2F348WP3', 5, 5, 1, 3, 3, N'B8DS', N'69526', 5, N'7')
SET IDENTITY_INSERT [dbo].[MedicationDim] OFF
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[MedicationDim-MedicationAdministrationRouteDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[MedicationDim]'))
ALTER TABLE [dbo].[MedicationDim]  WITH CHECK ADD  CONSTRAINT [MedicationDim-MedicationAdministrationRouteDim] FOREIGN KEY([ADMN_RT_CDS])
REFERENCES [dbo].[MedicationAdministrationRouteDim] ([ADMN_RT_CDS])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[MedicationDim-MedicationAdministrationRouteDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[MedicationDim]'))
ALTER TABLE [dbo].[MedicationDim] CHECK CONSTRAINT [MedicationDim-MedicationAdministrationRouteDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[MedicationDim-MedicationDEAClassDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[MedicationDim]'))
ALTER TABLE [dbo].[MedicationDim]  WITH CHECK ADD  CONSTRAINT [MedicationDim-MedicationDEAClassDim] FOREIGN KEY([DEA_CLASS_CDS])
REFERENCES [dbo].[MedicationDEAClassDim] ([DEA_CLASS_CDS])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[MedicationDim-MedicationDEAClassDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[MedicationDim]'))
ALTER TABLE [dbo].[MedicationDim] CHECK CONSTRAINT [MedicationDim-MedicationDEAClassDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[MedicationDim-MedicationFormDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[MedicationDim]'))
ALTER TABLE [dbo].[MedicationDim]  WITH CHECK ADD  CONSTRAINT [MedicationDim-MedicationFormDim] FOREIGN KEY([MDCTN_FORM_CDS])
REFERENCES [dbo].[MedicationFormDim] ([MDCTN_FORM_CDS])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[MedicationDim-MedicationFormDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[MedicationDim]'))
ALTER TABLE [dbo].[MedicationDim] CHECK CONSTRAINT [MedicationDim-MedicationFormDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[MedicationDim-MedicationPharmacologicalClassDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[MedicationDim]'))
ALTER TABLE [dbo].[MedicationDim]  WITH CHECK ADD  CONSTRAINT [MedicationDim-MedicationPharmacologicalClassDim] FOREIGN KEY([PHARM_CLASS_CDS])
REFERENCES [dbo].[MedicationPharmacologicalClassDim] ([PHARM_CLASS_CDS])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[MedicationDim-MedicationPharmacologicalClassDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[MedicationDim]'))
ALTER TABLE [dbo].[MedicationDim] CHECK CONSTRAINT [MedicationDim-MedicationPharmacologicalClassDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[MedicationDim-MedicationPharmacologicalSubclassDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[MedicationDim]'))
ALTER TABLE [dbo].[MedicationDim]  WITH CHECK ADD  CONSTRAINT [MedicationDim-MedicationPharmacologicalSubclassDim] FOREIGN KEY([PHARM_SUBCLS_CDS])
REFERENCES [dbo].[MedicationPharmacologicalSubclassDim] ([PHARM_SUBCLS_CDS])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[MedicationDim-MedicationPharmacologicalSubclassDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[MedicationDim]'))
ALTER TABLE [dbo].[MedicationDim] CHECK CONSTRAINT [MedicationDim-MedicationPharmacologicalSubclassDim]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[MedicationDim-MedicationTherapeuticClassDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[MedicationDim]'))
ALTER TABLE [dbo].[MedicationDim]  WITH CHECK ADD  CONSTRAINT [MedicationDim-MedicationTherapeuticClassDim] FOREIGN KEY([THRPC_CLASS_CDS])
REFERENCES [dbo].[MedicationTherapeuticClassDim] ([THRPC_CLASS_CDS])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[MedicationDim-MedicationTherapeuticClassDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[MedicationDim]'))
ALTER TABLE [dbo].[MedicationDim] CHECK CONSTRAINT [MedicationDim-MedicationTherapeuticClassDim]
GO
