USE [carilion_dw]
GO
/****** Object:  Table [dbo].[MeasureMDFact]    Script Date: 6/21/2018 11:44:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MeasureMDFact]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MeasureMDFact](
	[Data_ID] [int] NOT NULL,
	[Measure_Dim_ID] [int] NULL,
	[Meaure_Month] [int] NULL,
	[Result] [numeric](18, 2) NULL,
	[SRC_DEPT_ID] [varchar](4000) NULL
) ON [PRIMARY]
END
GO
INSERT [dbo].[MeasureMDFact] ([Data_ID], [Measure_Dim_ID], [Meaure_Month], [Result], [SRC_DEPT_ID]) VALUES (1, 5, 201511, CAST(1777795330000000.00 AS Numeric(18, 2)), N'22259')
INSERT [dbo].[MeasureMDFact] ([Data_ID], [Measure_Dim_ID], [Meaure_Month], [Result], [SRC_DEPT_ID]) VALUES (2, 3, 201807, CAST(4161171210000000.00 AS Numeric(18, 2)), N'63457')
INSERT [dbo].[MeasureMDFact] ([Data_ID], [Measure_Dim_ID], [Meaure_Month], [Result], [SRC_DEPT_ID]) VALUES (3, 3, 201704, CAST(1597171050000000.00 AS Numeric(18, 2)), N'43798')
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[MeasureMDFact-MeasureDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[MeasureMDFact]'))
ALTER TABLE [dbo].[MeasureMDFact]  WITH CHECK ADD  CONSTRAINT [MeasureMDFact-MeasureDim] FOREIGN KEY([Measure_Dim_ID])
REFERENCES [dbo].[MeasureDim] ([Measure_Dim_ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[MeasureMDFact-MeasureDim]') AND parent_object_id = OBJECT_ID(N'[dbo].[MeasureMDFact]'))
ALTER TABLE [dbo].[MeasureMDFact] CHECK CONSTRAINT [MeasureMDFact-MeasureDim]
GO
