USE [carilion_dw]
GO
/****** Object:  Table [dbo].[ProcedureOrderTypeDim]    Script Date: 6/21/2018 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProcedureOrderTypeDim]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ProcedureOrderTypeDim](
	[ORDR_TYP_CD] [int] IDENTITY(1,1) NOT NULL,
	[ORDR_TYP_NM] [varchar](255) NULL,
 CONSTRAINT [PK_ProcedureOrderTypeDim_ORDR_TYP_CD] PRIMARY KEY CLUSTERED 
(
	[ORDR_TYP_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[ProcedureOrderTypeDim] ON 

INSERT [dbo].[ProcedureOrderTypeDim] ([ORDR_TYP_CD], [ORDR_TYP_NM]) VALUES (1, N'0WL21LBF5V733VMU2LH4GIB0LB2EGIHAX44QY5AT40WYBVT8V5Y4S1ZIKKHQIXZNEX6ZRVVWBN0FMDPPHUJAJDIV4M6DNJA718KDPUHZA2T51JV7VS8ODO30FAU4PH8RCTEDSBZNDK0')
INSERT [dbo].[ProcedureOrderTypeDim] ([ORDR_TYP_CD], [ORDR_TYP_NM]) VALUES (2, N'KCULQYIVBMTD5JYF0C9ST1S85IEJTLBTNMG2G8DQZDFQZ089CKM0A8OIKLG8KZ1QAZPI3WYRZITFL184A569YBIFYXHUS560BPF0AP5GLV1RF8WJDBXESSRZGAK5F4YUCS3')
INSERT [dbo].[ProcedureOrderTypeDim] ([ORDR_TYP_CD], [ORDR_TYP_NM]) VALUES (3, N'L8TLZQN2AR0P0YHH7R7IYGJ0401G')
SET IDENTITY_INSERT [dbo].[ProcedureOrderTypeDim] OFF
