USE [carilion_dw]
GO
/****** Object:  Table [dbo].[LDAP_UserProvider_ReportingBridge]    Script Date: 6/21/2018 11:44:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LDAP_UserProvider_ReportingBridge]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LDAP_UserProvider_ReportingBridge](
	[LDAP_USR_PARENT] [varchar](50) NOT NULL,
	[LDAP_USR_CHILD] [varchar](50) NOT NULL,
 CONSTRAINT [PK_LDAP_UserProvider_ReportingBridge] PRIMARY KEY CLUSTERED 
(
	[LDAP_USR_PARENT] ASC,
	[LDAP_USR_CHILD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
INSERT [dbo].[LDAP_UserProvider_ReportingBridge] ([LDAP_USR_PARENT], [LDAP_USR_CHILD]) VALUES (N'009C95F7-D1AB-430B-BBC1-6E12963BE223', N'009C95F7-D1AB-430B-BBC1-6E12963BE223')
INSERT [dbo].[LDAP_UserProvider_ReportingBridge] ([LDAP_USR_PARENT], [LDAP_USR_CHILD]) VALUES (N'00D0A1FB-AFEB-4ABA-807E-F56D420C1F43', N'00D0A1FB-AFEB-4ABA-807E-F56D420C1F43')
INSERT [dbo].[LDAP_UserProvider_ReportingBridge] ([LDAP_USR_PARENT], [LDAP_USR_CHILD]) VALUES (N'0142445F-89D4-4CF7-B2F5-E904939E5A59', N'0142445F-89D4-4CF7-B2F5-E904939E5A59')
GO
