USE [carilion_dw]
GO
set nocount on
GO

GO
/****** Object:  Table [dbo].[ProcedureOrderClassDim]    Script Date: 6/21/2018 11:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProcedureOrderClassDim]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ProcedureOrderClassDim](
	[ORDR_CLSS_CD] [int] IDENTITY(1,1) NOT NULL,
	[ORDR_CLSS_NM] [varchar](255) NULL,
 CONSTRAINT [PK_ProcedureOrderClassDim_ORDR_CLSS_CD] PRIMARY KEY CLUSTERED 
(
	[ORDR_CLSS_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[ProcedureOrderClassDim] ON 

INSERT [dbo].[ProcedureOrderClassDim] ([ORDR_CLSS_CD], [ORDR_CLSS_NM]) VALUES (1, N'CS2I24IYCLLI5PK91THNO1H5M48NY7N3KN3W49UU60UU3SHX4FTIVR2AAWVYVVZ5')
INSERT [dbo].[ProcedureOrderClassDim] ([ORDR_CLSS_CD], [ORDR_CLSS_NM]) VALUES (2, N'IYILN4RZMGO6N1UMBJJ')
INSERT [dbo].[ProcedureOrderClassDim] ([ORDR_CLSS_CD], [ORDR_CLSS_NM]) VALUES (3, N'58SKSL7DVZB0PWLUZBHA2I8AE4NV1BJBGRS96XT1XD3N5NGQGZN018BM0H6NXCCKFZJY4BO1IFCOFK5QOXE1NJ97G69OR53L1J754IL4BMHLWN7FBFZ0XAWVPCHY1Z9DCRMVC0M6CAQ11OBSYUDC53NRMBFR0M2')
SET IDENTITY_INSERT [dbo].[ProcedureOrderClassDim] OFF
