USE [carilion_dw]
GO
set nocount on
GO

GO
/****** Object:  Table [dbo].[EDVisitFinancialClass]    Script Date: 6/21/2018 11:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EDVisitFinancialClass]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[EDVisitFinancialClass](
	[VST_FNNCL_CLSS_CDS] [int] IDENTITY(1,1) NOT NULL,
	[VST_FNNCL_CLSS_DESC] [varchar](255) NULL,
 CONSTRAINT [PK_EDVisitFinancialClass_VST_FNNCL_CLSS_CDS] PRIMARY KEY CLUSTERED 
(
	[VST_FNNCL_CLSS_CDS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[EDVisitFinancialClass] ON 

INSERT [dbo].[EDVisitFinancialClass] ([VST_FNNCL_CLSS_CDS], [VST_FNNCL_CLSS_DESC]) VALUES (1, N'e gravum funem. esset venit. quartu gravis quad funem. vobis cognitio, quartu vobis plorum plorum e cognitio,')
INSERT [dbo].[EDVisitFinancialClass] ([VST_FNNCL_CLSS_CDS], [VST_FNNCL_CLSS_DESC]) VALUES (2, N'parte si apparens plurissimum et sed nomen fecit, fecit, e Quad Longam, e eudis si vobis quartu egreddior eudis')
INSERT [dbo].[EDVisitFinancialClass] ([VST_FNNCL_CLSS_CDS], [VST_FNNCL_CLSS_DESC]) VALUES (3, N'plorum et novum homo, quo estis trepicandor et e imaginator rarendum non quo habitatio Versus homo, dolorum')
GO
SET IDENTITY_INSERT [dbo].[EDVisitFinancialClass] OFF
