SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LabComponentResultFactResultFlagDim](
	[RSLT_FLG_CD_SK] [bigint] IDENTITY(1,1) NOT NULL,
	[CD_DESC] [varchar](255) NULL,
 CONSTRAINT [PK_LabComponentResultFactResultFlagDim_RSLT_FLG_CD_SK] PRIMARY KEY CLUSTERED 
(
	[RSLT_FLG_CD_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
