SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DRGDim](
	[DRG_CD_SK] [int] IDENTITY(1,1) NOT NULL,
	[SRC_DRG_ID] [varchar](255) NULL,
	[DRG_NM] [varchar](255) NULL,
	[TRNL_DRG_CD] [varchar](20) NULL,
	[MDC_CD] [int] NULL,
	[MDC_NM] [varchar](100) NULL,
	[DRG_CLASS] [varchar](20) NULL,
	[SVL_CD] [int] NULL,
	[MSDRG_SVL] [varchar](21) NULL,
 CONSTRAINT [PK_DRGDim_DRG_CD_SK] PRIMARY KEY CLUSTERED 
(
	[DRG_CD_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
