SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SurgicalProcedureEventServiceDim](
	[SRVC_CDS] [int] IDENTITY(1,1) NOT NULL,
	[SRVC_DESC] [varchar](255) NULL,
 CONSTRAINT [PK_SurgicalProcedureEventServiceDim_SRVC_CDS] PRIMARY KEY CLUSTERED 
(
	[SRVC_CDS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
