SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CensusSourceDim](
	[SRC_SK] [int] IDENTITY(1,1) NOT NULL,
	[SRC_DESC] [varchar](255) NULL,
	[SRC_YR] [varchar](50) NULL,
	[SRC_ESTMTE_IN_YRS] [varchar](16) NULL,
 CONSTRAINT [PK_CensusSourceDim_SRC_SK] PRIMARY KEY CLUSTERED 
(
	[SRC_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
