SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProviderReportingStructureDim](
	[RPTNG_STRC_CDS] [int] IDENTITY(1,1) NOT NULL,
	[RPTNG_STRC_DESC] [varchar](254) NULL,
 CONSTRAINT [PK_ProviderReportingStructureDim_RPTNG_STRC_CDS] PRIMARY KEY CLUSTERED 
(
	[RPTNG_STRC_CDS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
