SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LabComponentSubstrateDim](
	[CMPNT_SUBT_CDS] [int] IDENTITY(1,1) NOT NULL,
	[CMPNT_SUBT_NM] [varchar](255) NULL,
 CONSTRAINT [PK_LabComponentSubstrateDim_CMPNT_SUBT_CDS] PRIMARY KEY CLUSTERED 
(
	[CMPNT_SUBT_CDS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
