SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicationAdministrationRouteDim](
	[ADMN_RT_CDS] [int] IDENTITY(1,1) NOT NULL,
	[ADMN_RT_DESC] [varchar](255) NULL,
 CONSTRAINT [PK_MedicationAdministrationRouteDim_ADMN_RT_CDS] PRIMARY KEY CLUSTERED 
(
	[ADMN_RT_CDS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
