SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LabComponentTypeDim](
	[CMPNT_TYPE_CDS] [int] IDENTITY(1,1) NOT NULL,
	[CMPNT_TYPE_NM] [varchar](255) NULL,
 CONSTRAINT [PK_LabComponentTypeDim_CMPNT_TYPE_CDS] PRIMARY KEY CLUSTERED 
(
	[CMPNT_TYPE_CDS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
