SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DRGSeqDim](
	[PRTY_SQNC] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_DRGSeqDim_PRTY_SQNC] PRIMARY KEY CLUSTERED 
(
	[PRTY_SQNC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
