SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CensusMeasureTypeDim](
	[MSR_TYPE_SK] [int] IDENTITY(1,1) NOT NULL,
	[SRC_MSR_TYPE_NM] [varchar](1024) NULL,
 CONSTRAINT [PK_CensusMeasureTypeDim_MSR_TYPE_SK] PRIMARY KEY CLUSTERED 
(
	[MSR_TYPE_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
